[2022-07-06 01:06] caipengbo commented on #305
I think, for the search scenario, it is probably a relatively large project.  What I do know is that kvrocks will probably implement JSON first.

[2022-07-06 01:57] #717 closed, assigned to nobody

[2022-07-06 03:00] crypt0miester commented on #305
alrighty. thanks champ. keep it up.

[2022-07-06 06:20] PragmaTwice commented on #718
Thanks. I think it maybe unnecessary to build docker images for every commit in a PR: we've fully tested them in other workflows. I think we can consider building docker images for each new commit in the unstable branch and release it as a nightly version (of course we can do some pruning when releasing to ensure that only one nightly image is released per day)

[2022-07-06 07:43] tisonkun commented on #718
That's possible. Actually SkyWalking provides such features along with GitHub Packages (https://github.com/orgs/apache/packages?repo_name=skywalking). Also they support build on ARM64 arch while doesn't involve Travis CI dependency. It should be worth to investigate.

cc @kezhenxu94 could you share some background how SkyWalking implements the workflow here?

[2022-07-06 07:56] kezhenxu94 commented on #718
Personally I'd prefer GitHub Actions over Travis CI as GHA is integrated smoothly in terms of development experience, and you don't need to ask Apache infra team to provide token and configure them in Travis CI (this is usually forbidden by infra team for the sake of security).

I agree we don't need to build Docker images in every commit **in a PR**, not to say pushing/publishing to GitHub Contai

[2022-07-06 07:59] kezhenxu94 commented on #718
I think you already have the workflow https://github.com/apache/incubator-kvrocks/blob/c094ea46ae500169dcc3e9b3b28ee6c47ea098bc/.github/workflows/release.yaml#L82-L94 so you only need to add a trigger condition when pushed to main branch.

[2022-07-06 08:03] tisonkun commented on #718
@kezhenxu94 the main argument about using QEMU for kvrocks is that it takes over 2 hours to complete, while I can see that the SkyWalking job take ~20 mins to complete. I have no idea yet how can kvrocks build behaves so different. Perhaps jar files are platform-agnostic so that you can simply copy the generated file into the image, while we should build kvrocks from scratch on ARM64 platform - ea

[2022-07-06 08:35] kezhenxu94 commented on #718
From [the logs](https://github.com/apache/incubator-kvrocks/runs/7206849766?check_suite_focus=true#step:6:4651) I can see the time in building ARM Docker image dominates (~2 hours), and [the time in building AMD image is about 20 minutes](https://github.com/apache/incubator-kvrocks/runs/7206849766?check_suite_focus=true#step:6:4150). I remember it indeed takes longer time to build ARM compared to

[2022-07-06 08:38] PragmaTwice commented on #718
In this workflow run https://github.com/apache/incubator-kvrocks/runs/7206849766?check_suite_focus=true, we can see

build kvrocks on native amd64: 1161.3s ~ 20 min
build kvrocks on QEMU arm64 : 7678.7s ~ 2h 8min

more than x6 times longer in QEMU simulation, it is frustrating 😢

[2022-07-06 09:44] git-hulk commented on #718
I'm wondering whether builds the arm64 only in QMEMU can reduce the cost time or not, and
build the amd64 in previous way.

[2022-07-10 09:37] foxdalas commented on #718
You can use cross-compiling and just copy binary inside arm-based container. It will be faster

[2022-07-10 09:45] PragmaTwice commented on #718
Thanks. I think it is a greate idea, but I do not know if it will be more complicated than the travis ci way.

Maybe need some trying.

[2022-07-10 14:48] tisonkun commented on #718
You can review #724 for an attempt.

[2022-07-11 06:20] #718 closed, assigned to nobody

[2022-07-11 07:51] 201341 commented on #315
@git-hulk any update about this feature?

[2022-07-12 01:05] caipengbo commented on #315
Does implementing these two commands have a performance impact? @ShooterIT

[2022-07-12 01:50] git-hulk commented on #315
Another concern was that we didn't implement multi-keys lock and it's ready now,
maybe we can have a try.

[2022-07-12 13:04] caipengbo opened #727 "set command is inconsistent with redis"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Version

2.0.6

### Minimal reproduce step

[code]
But in redis:
[code]

### What did you expect to see?

The set command should be the same as [redis](https://redis.io/commands/set/).

### What did you see instead?

Can set new data using incorrect s

[2022-07-12 13:23] PragmaTwice commented on #727
Has something in common with #456.

[code]
I think this is because we are using functions like `stoi` directly without using parse techniques for error handling.

I proposed a unified abstraction in #598 to better parse redis commands and solve all these problem.  But I haven't taken the time to implement them.

[2022-07-13 00:58] caipengbo commented on #727
Yes, it may be a big change, and it may take a long time.

However, `set` command is a very common command, and I thought it would be a simple matter to fix it first.

[2022-07-15 11:42] #727 closed, assigned to nobody

[2022-07-17 15:26] git-hulk opened #733 "Delete changelog and maintain it out of the repo"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Motivation

As discussed in https://github.com/apache/incubator-kvrocks/discussions/731, we are agreed to remove the changelog from the repo since it's NOT easy to maintain.

### Solution

Remove the changelog file and maintain the release history on

[2022-07-18 08:07] chenchenfang opened #736 "org.redisson.client.WriteRedisConnectionException: Channel has been closed"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Version

linux：CentOS Linux release 7.9.2009 (Core)
kvrocks：version:2.0.6

### Minimal reproduce step

After Tomcat is started,i used Redisson 3.17.3  to get kvrocks data

### What did you expect to see?

do not throw exception......

### What did you

[2022-07-18 11:01] git-hulk commented on #736
@chenchenfang Thanks for filling the issue, but I can't tell what goes wrong with current error stack. You can use the `monitor` command to see what commands were called when errors happened.

[2022-07-18 11:47] luger1990 opened #737 "there is a bug with hscan_iter"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Version

2.0.6

### Minimal reproduce step

[code]

### What did you expect to see?

key, value output

### What did you see instead?

[code]

### Anything Else?

![origin_img_v2_810b0a51-158c-40fd-8352-aaa88e57c7ch](https://user-images.githubusercont

[2022-07-18 12:15] ShooterIT commented on #737
Hi @luger1990 FYI https://github.com/apache/incubator-kvrocks/discussions/417

[2022-07-18 13:49] #733 closed, assigned to nobody

[2022-07-19 10:53] git-hulk commented on #699
@PragmaTwice I fixed this issue in #714, can take a look if you have free time.

[2022-07-20 07:56] #713 closed, assigned to nobody

[2022-07-20 08:29] #699 closed, assigned to nobody

[2022-07-20 11:53] git-hulk opened #738 "Remove all *.md in `docs` dir and apply license header for some files"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Motivation

All those documentations are existed in our website and wiki,
so I think we can remove them and won't keep any docs in the repo anymore.

### Solution

Delete all *.md and change the dir name to `static` or others.

### Are you willing to

[2022-07-21 04:01] chenchenfang commented on #736
kvrocks  request volume is too large, so i think use the `monitor` not a good idea

Is there another way?

[2022-07-21 13:08] #738 closed, assigned to nobody

[2022-07-21 13:27] git-hulk opened #742 "Test case failed occasionally in `test/unit/expire.tcl`"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Motivation

Check expire at test case failed occasionally, we should fix it to make the CI happy.

[code]

### Solution

_No response_

### Are you willing to submit a PR?

- [X] I'm willing to submit a PR!

[2022-07-21 14:04] PragmaTwice commented on #742
[code]

Another failure in `expire.tcl`: https://github.com/apache/incubator-kvrocks/runs/7450339994?check_suite_focus=true

[2022-07-21 14:12] git-hulk commented on #742
Thanks @PragmaTwice, also fixed it by add some tolerant range.

[2022-07-21 16:01] #742 closed, assigned to nobody

[2022-07-22 11:58] git-hulk opened #749 "Send logs to stdout/stderr by default"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Motivation

Currently, we sent logs to the log file and it's non obvious enough when failed to start the server. We can send logs to stdout/stderr which will also make docker users happy.

### Solution

Change the log-dir to `stdout` in the config fil

[2022-07-25 08:27] git-hulk opened #753 "Support the `hello` command"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Motivation

Redis supported the hello command to detect the different protocol and some Redis SDKs will
use it to switch a different protocol. So it will be good to support the command to make those
SDKs happy.

### Solution

Add the hello command and

[2022-07-26 04:02] #749 closed, assigned to nobody

[2022-07-26 08:38] aleksraiden commented on #532
Please, help us - review and comment: https://github.com/apache/incubator-kvrocks/pull/745

[2022-07-26 08:38] aleksraiden commented on #532
A lot of thanks @torwig

[2022-07-27 04:24] liangyuanpeng opened #755 "Metrics for namespace level"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Motivation

Ref: https://github.com/apache/incubator-kvrocks/discussions/726
We are using the namespace to separate data between users and it works well.
But the metrics from the info command stats didn't separate by namespace as well.
As a user, we w

[2022-07-27 07:23] PragmaTwice opened #756 "Move tests/tcl/runtest script to x.py"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Motivation

`runtest` script currently has some limitations, such as not being able to provide a build dir and handle the current working directory and the tcl version well, etc. We can achieve this by migrating the logic of this script to `x.py`, suc

[2022-07-28 05:27] luger1990 commented on #737
but why pika can support this?

[2022-07-29 15:53] git-hulk opened #760 "Some tcl test cases can't run on macOS"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Version

unstable

### Minimal reproduce step

[code]

### What did you expect to see?

All tests can pass normally

### What did you see instead?

Some test cases got below error:
[code]

### Anything Else?

_No response_

### Are you willing to subm

[2022-07-30 04:47] #760 closed, assigned to nobody

[2022-07-30 04:54] git-hulk commented on #755
@liangyuanpeng Thanks for your feedback, it makes a lot sense.

[2022-07-30 04:56] git-hulk commented on #737
The design internal is different, but very happy to see anyone who would like to improve it.

[2022-07-30 05:01] git-hulk commented on #736
Yet another way is capture packets with tools like tcpdump.

[2022-07-30 05:02] git-hulk commented on #490
I think we can close this issue since it's no active now. Free feel to reopen if you need.

[2022-07-30 05:02] #490 closed, assigned to nobody

[2022-07-30 05:03] #355 closed, assigned to nobody

[2022-07-30 05:04] git-hulk commented on #30
Close this stale issue and can reopen a new one if needed.

[2022-07-30 05:04] #30 closed

[2022-07-30 05:05] git-hulk commented on #96
Won't do it now, feel free to reopen or create a new one.

[2022-07-30 05:05] #96 closed

[2022-07-31 10:02] PragmaTwice commented on #639
Solved by #759.

[2022-07-31 10:02] #639 closed, assigned to nobody

[2022-07-31 10:04] PragmaTwice commented on #696
Solved by #741, #746, #747 and #748.

[2022-07-31 10:04] #696 closed, assigned to nobody

[2022-07-31 15:20] git-hulk commented on #639
Thanks for @PragmaTwice great help, we finally got the TSAN and ASAN in CI.

[2022-08-03 02:08] Ranxy opened #766 "The atoi exception was not caught"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Motivation

There is some code in the project as follows
[code]
However `atoi` does not throw exceptions, so perhaps we should use `std::stoi` to replace these.

### Solution

Replace `atoi` to `std::stoi`

### Are you willing to submit a PR?

- [X] I

[2022-08-03 02:11] git-hulk commented on #766
Good catch, I think we can use `Util::OctalStringToNum` to replace the `atoi` which also can check the min/max boundary.

[2022-08-03 07:39] #756 closed, assigned to nobody

[2022-08-03 10:44] #766 closed, assigned to nobody

[2022-08-04 07:39] liangyuanpeng opened #769 "[feature] Support key expire listener"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Motivation

Support key expire listener.

[code]

### Solution

_No response_

### Are you willing to submit a PR?

- [ ] I'm willing to submit a PR!

[2022-08-04 13:28] mathspanda opened #770 "[BUG] forbidden to create namespace "__namespace""
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Version

341a989d75783d8dad76bbd5a4473dd345472337

### Minimal reproduce step

[code]

### What did you expect to see?

1. Forbidden to create namespace "__namespace"
2. Add default namespace "__namespace" into the results of "namespace get *"

### Wh

[2022-08-04 13:42] git-hulk commented on #770
@mathspanda good catch

[2022-08-06 06:04] git-hulk commented on #737
Will close this issue if we have no further discussion, feel free to reopen if needed.

[2022-08-06 06:04] #737 closed, assigned to nobody

[2022-08-07 15:44] git-hulk commented on #770
closed by #772

[2022-08-07 15:44] #770 closed, assigned to nobody

[2022-08-09 19:48] druban opened #774 "cmake version validation is broken"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Version

unstable, 8ffdfaf2d5caf73977a9855066d7e06ecc93c76f

### Minimal reproduce step

% ./x.py build
Traceback (most recent call last):
  File "./x.py", line 312, in <module>
    args.func(**arg_dict)
  File "./x.py", line 95, in build
    check_ve

[2022-08-09 19:51] #774 closed, assigned to nobody

[2022-08-09 19:52] druban commented on #774
Sorry for the false alarm. Issue seems to be addressed already.

[2022-08-10 11:15] w4096 commented on #769
@liangyuanpeng   kvrocks doesn't support keyspace notify yet.

[2022-08-10 12:02] git-hulk commented on #769
It should be NOT easy to implement this feature for Kvrocks since
its data are kept in disk, so we have no way to figure out which entries
are expired except scanning the DB.

[2022-08-12 12:46] tisonkun opened #776 "Report a failure fast if `CMAKE_OSX_DEPLOYMENT_TARGET` unset on MacOS"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Motivation

See also https://github.com/apache/incubator-kvrocks/commit/341a989d75783d8dad76bbd5a4473dd345472337#r80998035.

cc @PragmaTwice @xiaobiaozhao

### Solution

_No response_

### Are you willing to submit a PR?

- [ ] I'm willing to submit a

[2022-08-14 15:04] git-hulk opened #777 "Group each redis command by data structures"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Motivation

As @caipengbo mentioned at https://github.com/apache/incubator-kvrocks/pull/745#issuecomment-1214174446, `redis_command.cc` is too long and it'll be NOT easy to maintain if we keep adding more commands.

### Solution

We can separate comma

[2022-08-17 09:30] #532 closed, assigned to nobody

[2022-08-18 09:31] mapleFU commented on #753
Hi hulk, after reading document and code of redis (mainly https://github.com/redis/redis/blob/unstable/src/networking.c#L3432 ), I found that `hello` defines the protocol redis use ( RESP2 or RESP3), and return the data via `hello`'s "protocol".

After go through the code of kvrocks ( `redis_cmd` and `server` ), I didn't found implementions for RESP3, did I miss it?

[2022-08-18 09:46] git-hulk commented on #753
@mapleFU You're right that we only implemented RESP2 and have no plan to implement RESP3 recently. The main purpose of this command is to compatible with some Redis clients, which may send the `hello` command to check the protocol version after connecting to the server.

[2022-08-18 10:25] mapleFU commented on #753
So, user should get response like https://github.com/redis/redis/blob/unstable/src/networking.c#L3439 if they use `protocol`   as `3`? What about acl?

[2022-08-18 10:43] git-hulk commented on #753
Yes, can respond the protocol version is out of range like Redis. For the ACL, we don't support the user/password like Redis 6/7, so I think we can just read ignore the AUTH parameters. That said those clients must use legacy way to auth.

[2022-08-21 15:43] mathspanda opened #783 "Expose some stats in RocksDB Perf Context and IO Stats Context"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Motivation

Stats in Perf Context or IO Stat Context are useful to pinpoint some performance issues of redis commands.
For example, Counters `internal_delete_skipped_count` could illustrate why `zrangebyscore`  is so slow if there is too many tombston

[2022-08-22 04:20] git-hulk commented on #783
@mathspanda Thanks for your report, `internal_delete_skipped_count ` makes a lot sense, would you like to contribute it?

[2022-08-22 05:44] PragmaTwice opened #784 "Use failure signal handler in glog"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Motivation

We can use signal handle in glog, refer to https://github.com/google/glog#failure-signal-handler, instead of currently hand-written one.

### Solution

_No response_

### Are you willing to submit a PR?

- [ ] I'm willing to submit a PR!

[2022-08-22 07:16] corningsun opened #785 "Kvrocks 2.1 build failed On CentOS 7.8 x86_64"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Version

V2.1

`git clone git@github.com:apache/incubator-kvrocks.git -b 2.1`

### Minimal reproduce step

# upgrade cmake2 to cmake3
yum remove cmake -y
wget https://cmake.org/files/v3.24/cmake-3.24.0-linux-x86_64.tar.gz
tar -zxvf cmake-3.24.1.tar.gz

[2022-08-22 07:22] PragmaTwice commented on #785
Hi @corningsun , thanks for your report.

Could you try `yum install libstdc++-static` and rerun the script?

[2022-08-22 07:31] corningsun commented on #785
ok, i'll try it

[2022-08-22 08:19] corningsun commented on #785
Thanks a lot, It's OK for me.

[2022-08-22 08:19] #785 closed, assigned to nobody

[2022-08-23 09:54] corningsun opened #788 "ERR Corruption: Corrupted compressed block contents: Snappy"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Version

2.1

### Minimal reproduce step

1 build kvrocks with branch 2.1

2 start kvrocks cluster (One Master)

3 set cluster nodes

[code]

4 put random key and value to redis

eg: use jedis client。

 I have test other ways like [RedisShake](https:/

[2022-08-23 10:15] git-hulk commented on #788
@corningsun Thanks for your feedback.

This issue looks like the same with https://github.com/apache/incubator-kvrocks/issues/607, you can have a try at installing snappy. But I think it should a bug even it works after installing  the snappy since we expected to static link the snappy.

[2022-08-23 10:20] corningsun commented on #788
[root@VM-24-10-centos ~]# yum install snappy
Loaded plugins: fastestmirror, langpacks
Repository epel is listed more than once in the configuration
Loading mirror speeds from cached hostfile
Package snappy-1.1.0-3.el7.x86_64 already installed and latest version
Nothing to do

[2022-08-23 10:24] git-hulk commented on #788
@corningsun Can you paste the output of `ldd ./kvrocks`? I want to check whether Kvrocks dynamic linked the snappy library.

And output like below was expected:
[code]

[2022-08-23 10:26] corningsun commented on #788
[root@VM-24-10-centos build]# ldd ./kvrocks
	linux-vdso.so.1 =>  (0x00007ffc679a3000)
	librt.so.1 => /lib64/librt.so.1 (0x00007f5fe0c3d000)
	libpthread.so.0 => /lib64/libpthread.so.0 (0x00007f5fe0a21000)
	libunwind.so.8 => /lib64/libunwind.so.8 (0x00007f5fe0807000)
	libm.so.6 => /lib64/libm.so.6 (0x00007f5fe0505000)
	libc.so.6 => /lib64/libc.so.6 (0x00007f5fe0137000)
	/lib64/ld-linux-x86-64.so.2 (

[2022-08-23 10:54] git-hulk commented on #788
hmmmm, I don't know why it happens and need to reproduce on my side later. You can try to uninstall the snappy library and rebuild the source from scratch again.

[2022-08-23 13:57] git-hulk commented on #788
@corningsun I can reproduce it on CentOS 7 but need more time to investigate the root cause. You can workaround by switching `rocksdb.compression` to lz4 in kvrocks.conf, I tried the `lz4` and it works well.

BTW: @PragmaTwice I'm not sure whether current snappy library has any difference with old cmake way, can help me out if you have any clues.

[2022-08-23 18:25] PragmaTwice commented on #788
Currently no, but I will try to reproduce it and see what happened.

[2022-08-24 01:58] git-hulk commented on #788
Thanks @PragmaTwice, I used the `redis-benchmark -p 6666 -t set -d 102400 -r 100000000 -n 10000000` command to reproduce this on CentOS7. It happens after compacting into level 2 which will use the snappy compression, to fast reproduce that we can remove the `if` condition https://github.com/apache/incubator-kvrocks/blob/unstable/src/storage.cc#L144

[2022-08-24 07:14] corningsun commented on #788
`rocksdb.compression lz4` is OK for me, Thanks for the answer.

[2022-08-24 15:35] git-hulk commented on #788
@corningsun I found it's caused by the newer version(v1.1.9) snappy didn't work right with RocksDB. I have submitted #790 to fix it but didn't have time to study and investigate what happens in the snappy library. You can also help to try and confirm this fix if you don't mind.

cc @PragmaTwice

[2022-08-25 07:03] corningsun commented on #788
@git-hulk snappy v1.1.7 works fine.

With branch `revert-snappy-to-old-version`, I have had insert 52 Mil keys to kvrocks, everything is OK.

[code]

[2022-08-25 07:14] git-hulk commented on #788
@corningsun Many thanks to your kind check.

[2022-08-25 11:42] #788 closed, assigned to nobody

[2022-08-26 15:08] torwig opened #792 "CMake error building on Fedora 35"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Version

Unstable branch: fac42b092810f7273385cd57e881c5e4b91e1158
OS: Fedora 35

### Minimal reproduce step

Clone repo.

mkdir build
cd build
cmake ../

### What did you expect to see?

No errors

### What did you see instead?

[code]

### Anything

[2022-08-27 02:27] git-hulk commented on #792
Many thanks to @torwig. We can add the `Fedora` OS as well if you know how to do that. ❤️

[2022-08-27 10:47] torwig commented on #792
@git-hulk I don't think that I know how to do that. I guess Fedora is very similar to Red Hat, so this issue is rather an exception than the rule, so maybe Fedora doesn't need a separate section/build/etc.

[2022-08-27 13:02] git-hulk commented on #792
Thanks, @torwig.
Sorry that I didn't claim the context clearly. What I mean is we can run the build and test on Fedora to aware the similar build error in the future. Like we have done in Ubuntu/macOS with different modes in [GitHub Actions](https://github.com/apache/incubator-kvrocks/blob/unstable/.github/workflows/kvrocks.yaml). But I think it's ok to fix the build error only.

[2022-08-27 14:24] PragmaTwice opened #794 "Tracking issue for new command parsing framework"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Motivation

In kvrocks, command parsing is currently done by some primitive array operations, which works fine for simple commands, but when command parsing rules become complex, the code becomes extremely difficult to understand and maintain. In addi

[2022-08-27 14:34] PragmaTwice opened #795 "Add more linux distro environments in GitHub Actions"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Motivation

As in https://docs.github.com/en/actions/using-jobs/running-jobs-in-a-container, we can use `jobs.<job_id>.container` to make all steps run on a specific docker image, like `centos` or others.

### Solution

_No response_

### Are you will

[2022-08-28 04:57] git-hulk commented on #794
Many thanks for @PragmaTwice bringing those awesome features to the community.

[2022-08-28 18:02] PragmaTwice commented on #147
Hi @rock59, I am working on #797 and I think it will soon become available. 🚀

[2022-08-28 20:25] torwig opened #798 "Unit tests don't remove test directory"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Version

Kvrocks version: the latest unstable e4ae784a271b4d815eb3a015e27c6f6e296b3036
OS: Fedora 35

### Minimal reproduce step

Build and run unit tests by executing `./unittest`

### What did you expect to see?

Deletion of the `testdb` folder at t

[2022-08-29 01:57] git-hulk commented on #798
We didn't have the recursive delete directory yet.

[2022-08-30 03:33] PragmaTwice opened #799 "Unexpected behavior in configuration parsing"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Version

unstable

### Minimal reproduce step

In kvrocks.conf

[code]

### What did you expect to see?

The parsed items:
[code]

### What did you see instead?

The parsed items:
[code]

### Anything Else?

_No response_

### Are you willing to submi

[2022-08-30 06:01] git-hulk commented on #799
Good catch, Redis also not support inline comment and I think it'll be better if we can support.

[2022-08-30 13:21] PragmaTwice opened #800 "Use clang-format and clang-tidy instead of cpplint and cppcheck"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Motivation

clang-tidy is described in #602.

clang-format is currently the de facto standard of C++ code formatting.

It has lots of benefits, like:
- currently, cpplint reports some format error, but it can hardly automatically fix the code. So we n

[2022-08-31 15:00] PragmaTwice commented on #784
remitted in #796

[2022-08-31 15:00] #784 closed, assigned to nobody

[2022-08-31 15:12] aleksraiden opened #801 "key from STREAM are always in lowercase"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Version

694d5617bcb873db8d107decd7fe297e4588360b

### Minimal reproduce step

- Connect via redis-cli
- XADD TESTSTREAM * myKey message
- Then, XREAD TESTSTREAM 0-0

### What did you expect to see?

I expect to see: {myKey, message}

### What did you

[2022-09-01 01:32] dirkpetersen commented on #315
I'd also like to get watch/unwatch implemented  as it is required by https://juicefs.com/

2022/08/31 18:25:33.286338 juicefs[26231] <WARNING>: checking counter lastCleanupSessions: ERR unknown command watch [base.go:303]
2022/08/31 18:25:35.278170 juicefs[26231] <WARNING>: checking counter lastCleanupFiles: ERR unknown command watch [base.go:389]
2022/08/31 18:25:45.327653 juicefs[26231] <WARNING

[2022-09-01 04:16] #801 closed, assigned to nobody

[2022-09-01 04:16] git-hulk commented on #315
@dirkpetersen Thanks for your feedback

[2022-09-01 08:30] aleksraiden commented on #792
Reproduced at Debian 11 too

`-- Looking for sysconf
-- Looking for sysconf - found
CMake Error at /usr/lib/x86_64-linux-gnu/cmake/GTest/GTestTargets.cmake:37 (message):
  Some (but not all) targets in this export set were already defined.

  Targets Defined: GTest::gtest;GTest::gtest_main

  Targets not yet defined: GTest::gmock;GTest::gmock_main

Call Stack (most recent call first):
  /usr/lib/x

[2022-09-01 10:36] #792 closed, assigned to PragmaTwice

[2022-09-01 10:49] aleksraiden opened #804 "No CMAKE_CXX_COMPILER could be found"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Version

latest unstable, after #803

### Minimal reproduce step

git clone && ./x.py build

### What did you expect to see?

Normal build process

### What did you see instead?

$ /usr/local/bin/cmake /tmp/incubator-kvrocks -DCMAKE_BUILD_TYPE=RelWith

[2022-09-01 10:55] aleksraiden commented on #804
Something are wrong. After I install tcl for tests, build are broken. Try to reset and re-install all dependency

[2022-09-01 11:22] #804 closed, assigned to nobody

[2022-09-01 11:58] aleksraiden opened #805 "Can't run only unixsocket, without any TCP."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Motivation

In local env, when we configure fro maximal performance, we want use only unixsocket, without any TCP.
If I comment bind and port options and uncomment unixsocket, after start, kvrocks try to bing localhost:6666 port, ignoring disable opti

[2022-09-01 12:13] aleksraiden commented on #805
Update: if we have one another instance kvrocks with TCP, second server instance with commented options not runned with message: main.cc:293] Could not create server TCP since the specified port[6666] is already in use

[2022-09-02 22:44] dirkpetersen opened #807 "redis-cli --pipe syntax error"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Version

kvrocks unstable 40989fc26dc4229bd9f797c14eaa4df07574f47e
ubuntu 22.04

### Minimal reproduce step

[code]

[code]

### What did you expect to see?

This is with redis or keydb

[code]

### What did you see instead?

root@localhost:~# cat /tm

[2022-09-03 01:10] git-hulk commented on #807
Hello @dirkpetersen, many thanks for your feedback.

The root cause is that Kvrocks's inline protocol didn't support the `\r\n` separator. Will align this with Redis behavior and it only works like below:

[code]

[2022-09-03 07:46] #807 closed, assigned to nobody

[2022-09-03 12:42] torwig commented on #805
If everyone is OK with it, I'll try to resolve this issue.

[2022-09-03 13:51] git-hulk commented on #805
Thanks to @aleksraiden and @torwig, I think we can do this since no objection.

[2022-09-03 15:05] aleksraiden commented on #805
After little bit more deep investigation, we improve config check and comparability with Cluster mode. So, if you are turn on cluster or replication settings, you can't run without TCP.
Thanks to @torwig

[2022-09-03 15:14] git-hulk commented on #805
Yes, exactly. This is really a good point.

[2022-09-04 03:57] tisonkun opened #811 "Tracking issue for moving TCL tests to Go cases"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Motivation

See also https://github.com/apache/incubator-kvrocks/pull/806.

### Solution

### Cases

* [x] #829
* [x] #995
* [x] #841
* [x] #842
* [x] #814
* [x] #815
* [x] #816
* [x] #817
* [x] #818
* [x] #819
* [x] #820
* [x] #821
* [x] #822
* [x] #

[2022-09-04 03:57] tisonkun opened #812 "Move TCL test unit/protocol to Go case"

[2022-09-04 04:22] tisonkun opened #813 "Integrate Go cases into build scripts"
I think basically we can treat Go cases as a standalone module and write a `Makefile` to it for running linters and tests.

Then we wire it into the `x.py` script.

[2022-09-04 04:24] tisonkun opened #814 "Move TCL test unit/type/string to Go case"

[2022-09-04 04:24] tisonkun opened #815 "Move TCL test unit/type/incr to Go case"

[2022-09-04 04:24] tisonkun opened #816 "Move TCL test unit/type/list to Go case"

[2022-09-04 04:24] tisonkun opened #817 "Move TCL test unit/type/list-2 to Go case"

[2022-09-04 04:24] tisonkun opened #818 "Move TCL test unit/type/list-3 to Go case"

[2022-09-04 04:24] tisonkun opened #819 "Move TCL test unit/type/set to Go case"

[2022-09-04 04:24] tisonkun opened #820 "Move TCL test unit/type/zset to Go case"

[2022-09-04 04:24] tisonkun opened #821 "Move TCL test unit/type/hash to Go case"

[2022-09-04 04:24] tisonkun opened #822 "Move TCL test unit/type/sint to Go case"

[2022-09-04 04:24] tisonkun opened #823 "Move TCL test unit/type/bitmap to Go case"

[2022-09-04 04:24] tisonkun opened #824 "Move TCL test unit/type/stream to Go case"

[2022-09-04 11:05] ryuusama09 commented on #823
I would like to work on it !

[2022-09-04 11:08] tisonkun commented on #823
@ryuusama09 Thanks for your participation! Assigned.

Go ahead and you can take a looks at existing examples.

[2022-09-04 11:24] ryuusama09 commented on #823
hi  , can you provide a link to project documentation , and a bit more understanding on what exactly needs to be done here

[2022-09-04 11:45] tisonkun commented on #823
You can read the pull request https://github.com/apache/incubator-kvrocks/pull/810 and https://github.com/apache/incubator-kvrocks/pull/806 for example.

For locally verifying, run:

[code]

... under `tests/gocase`.

[2022-09-04 12:36] aleksraiden commented on #824
@tisonkun maybe some script error, because a lot of identical issue created?

[2022-09-04 13:33] tisonkun commented on #824
@aleksraiden No. If you take a closer look, they're similar issues for different test case.

[2022-09-04 14:03] aleksraiden commented on #824
@tisonkun Oh yes, you are right, sorry, my mistake. Maybe I need to sleep ))

[2022-09-04 14:58] tisonkun commented on #824
@aleksraiden I'll handle them as a relax, haha. If you have some spare time or want to write some trivial patches for relaxation, welcome to comment at any of them and I'll assign you :)

[2022-09-05 07:08] #812 closed, assigned to tisonkun

[2022-09-06 05:57] #805 closed, assigned to nobody

[2022-09-06 08:56] aleksraiden opened #826 "Warning on latest CMake 3.24.1 - DOWNLOAD_EXTRACT_TIMESTAMP option"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Motivation

Building a KVRocks with latest CMake produced a lot of warnings like this:

Link to this at CMake docs: [https://cmake.org/cmake/help/latest/policy/CMP0135.html](https://cmake.org/cmake/help/latest/policy/CMP0135.html)

### Solution

Add o

[2022-09-06 14:40] tisonkun commented on #753
It's interesting that when executing `HELLO 3 AUTH default foobar` with `requirepass foobar` Kvrocks returns "NOAUTH Authentication required." instead of `ERR unknown command` so that some assumption made by go-redis doesn't work.

cc @vmihailenco this can be an incompatible issue with Kvrocks and go-redis, but I suppose it should be resolved by Kvrocks support HELLO or at least returns `ERR unkno

[2022-09-06 14:41] tisonkun opened #829 "Move TCL test unit/auth to Go case"

[2022-09-06 14:55] git-hulk commented on #753
Good catch. I think the right behavior should return `ERR unknown command` on Kvrock's side, but unfortunately that Kvrocks will check the auth first now.

[2022-09-06 14:56] tisonkun commented on #753
@git-hulk I change the order in #830 and all tests look good.

[2022-09-06 14:59] git-hulk commented on #753
Thanks!

[2022-09-06 15:13] tisonkun opened #831 "[BUG] Should read the multiple blocking pushed element"
The following test can pass if set `KVROCKS_BIN_PATH` to `redis-server`.

https://github.com/apache/incubator-kvrocks/blob/dbd968b47a08184b3a0b6492f28f9ba8edf6d11b/tests/gocase/unit/protocol/regression_test.go#L58-L63

We should figure out the cause and to fix it.

[2022-09-06 16:23] suica commented on #817
Hi, I would like to work on this issue :)

[2022-09-06 16:27] tisonkun commented on #817
@suica assigned. Go ahead!

[2022-09-06 16:28] #826 closed, assigned to nobody

[2022-09-06 16:29] #829 closed, assigned to tisonkun

[2022-09-07 03:52] PragmaTwice commented on #813
I am thinking whether the makefile is necessary, since it is just a test module and we already have `x.py` which is a general script for developers.

If there are two scripts that need to be maintained, I think it might cause some confusion. The functionality of the makefile is not orthogonal to our current `x.py`, they have similiar capabilities.

[2022-09-07 04:17] tisonkun commented on #813
@PragmaTwice you're right. Previously I'm thinking of adding linters for Go code and then build/test can depend on the lint task. Makefile does a good job for task dependencies while implementing it inside a script is awkward. However, now I believe we can run lint in another `x.py` command and there's no dependency between tasks to handle. So your patch is great.

[2022-09-07 06:56] #817 closed, assigned to suica

[2022-09-07 09:25] suica commented on #818
I would like to do this task :)

[2022-09-07 10:08] tisonkun commented on #818
@suica assigned. Go ahead!

[2022-09-07 10:10] tisonkun commented on #813
Closed by #832.

[2022-09-07 10:10] #813 closed, assigned to nobody

[2022-09-07 13:10] tanruixiang commented on #815
Hi. I'd like to do this.

[2022-09-07 13:11] tisonkun commented on #815
@tanruixiang assigned. Go ahead!

[2022-09-07 13:43] git-hulk commented on #831
This's a bug in blocking pop, let's me handle it.

[2022-09-07 15:58] git-hulk commented on #831
I found the root cause is the secondary blocking command has been read into the connection but didn't run since the NO read event was triggered again. I need some time to fix it since we can't force running read callback directly.

[2022-09-07 17:14] tanruixiang commented on #815
Hi. The comments in [incr.tcl](https://github.com/apache/incubator-kvrocks/blob/unstable/tests/tcl/tests/unit/type/incr.tcl#L133) indicate that these two cases cannot be tested. Should we also keep these two cases in the form of comments in go?
[code]

[2022-09-07 17:18] tanruixiang commented on #822
Hi. I'd like to do this.

[2022-09-07 17:19] tisonkun commented on #815
@tanruixiang Yes. You can carry the TODO items as is.

[2022-09-07 17:19] tisonkun commented on #822
@tanruixiang Assigned. Go ahead!

[2022-09-08 04:35] tanruixiang commented on #776
Hi. I am using MacBook M1. According to https://github.com/apache/incubator-kvrocks/commit/341a989d75783d8dad76bbd5a4473dd345472337#r80998035, If I replace `${CMAKE_OSX_DEPLOYMENT_TARGET}` with `11.0`, The compilation can be successful. I am not very familiar with cmake. Do you have time to repair it? I noticed that you don't have an apple device to test. I can compile and test for you. @PragmaTwi

[2022-09-08 04:51] PragmaTwice commented on #776
Hi @tanruixiang, actually you can directly pass the option to cmake, e.g. `cmake -DCMAKE_OSX_DEPLOYMENT_TARGET=10.3 ..`, `MACOSX_DEPLOYMENT_TARGET=10.3 cmake ..` or `./x.py build  -DCMAKE_OSX_DEPLOYMENT_TARGET=10.3` rather than modifying cmake files.

If you want to try to fix this problem, you can add an `if ... else ...` to CMakeLists, i.e. when it is currently in macos and `CMAKE_OSX_DEPLOYMENT

[2022-09-08 05:52] tanruixiang commented on #776
The current error report is like this `Makefile:320: *** missing: export MACOSX_DEPLOYMENT_TARGET=XX.YY.  Stop.`
As a new user, I will be a little confused about this error report. Can we update readme and note that MacOS needs to use the command you gave? Or if `MACOSX_DEPLOYMENT_TARGET` does not exist, give a default value(like 11.0 before).

[2022-09-08 06:27] PragmaTwice commented on #776
My current plan was narrated above:

If you want to specify a default value, maybe you need to investigate how to specify a valid (and proper) default value for various macos version (10.x, 11, ...) that mac users are currently using, e.g. if you specify 11.0 then you need to know the behavior when macos10 users build the repo.

[2022-09-08 06:34] git-hulk commented on #776
I also found this issue on M1, but I'm wondering if we should make the LuaJIT as our default Lua VM.

[2022-09-08 14:04] aleksraiden opened #836 "Updating C++ 17 and start implementation of RocksDB 7.х"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Motivation

RocksDB are expressive storage engine and a lot of engineers improve it. Currently, a head version are 7.5.х and 7.6 are coming in next week. Great work, many new features, a lot of performance patch and bugs are fixed. We want it!

### So

[2022-09-08 14:12] torwig commented on #836
@git-hulk @PragmaTwice @tisonkun Do we have any blockers or considerations that might stop us from updating RocksDb to a newer major version?

[2022-09-08 14:23] PragmaTwice commented on #836
I favor updating to newer c++ standard, but it may be a more complicated task and I think you could open a separate issue to discuss the standard updating.

Things that might need to be investigated to update the c++ standard include:
- compiler support, which version of the compiler standard we need to upgrade to
- breaking changes of the newer standard and semantic changes, and their impact on k

[2022-09-08 14:23] git-hulk commented on #836
The main concern from my side is that C++17 may be too new for many users,
and RocksDB 7.x is too radical since it should NOT have enough users now.
So I prefer to keep 6.29.X and C++11 for a while before we have the strong intention
to introduce some cool features in RocksDB 7.x.

[2022-09-08 14:34] aleksraiden commented on #836
In other hands - if we keep old version of RocksDB, any other migrations will be a lot of pain. Now, in our private fork, has no critical changes, all test are passed, all dependency build clean.

We can slowly migration step by step to forward version of RocksDB, but from 7.2 this is much more trivial now, than when they are going to next release like 8.х.

Maybe we can separate task - and a firs

[2022-09-08 15:13] aleksraiden commented on #836
In new version binary file has 20.3Mb vs 35Mb old (6.2/C++11) while use Release building mode

[2022-09-08 15:15] tisonkun commented on #836
@aleksraiden I suggest you start a discussion about upgrading the C++ standard in the Discussion forum. It's not an actionable task (for now) but an open-ended discussion. Also, answering in-thread should be better than quote and reply in an issue.

[2022-09-08 15:16] aleksraiden commented on #836
Good idea, thanks @tisonkun. lets go to Discussion, @torwig

[2022-09-08 15:29] tanruixiang commented on #776
@PragmaTwice @git-hulk Thank you for your reply. Do you think we need to indicate in readme that MacOS needs to use the instructions @PragmaTwice  provide?
Let me share my thoughts as a new user. When I encountered a compilation error on MacOS, I gave up using MacOS directly. The docker installation Ubuntu image is used instead. If there is a MacOS build version in readme, I think I can use it mor

[2022-09-09 02:14] #831 closed, assigned to git-hulk

[2022-09-09 07:30] #815 closed, assigned to tanruixiang

[2022-09-09 14:50] tanruixiang commented on #819
I'd like to do this.

[2022-09-09 14:52] tisonkun commented on #819
@tanruixiang Assigned. Go ahead!

[2022-09-09 15:38] #822 closed, assigned to tanruixiang

[2022-09-09 15:38] tisonkun opened #841 "Move TCL test unit/keyspace to Go case"

[2022-09-09 15:38] tisonkun opened #842 "Move TCL test unit/scan to Go case"

[2022-09-10 04:30] #776 closed, assigned to nobody

[2022-09-10 04:48] tisonkun commented on #776
Thanks for your contribution and fixing this issue :)

[2022-09-10 05:36] tanruixiang commented on #819
Hi. I'm not very familiar with go. How to use go to pass the value exceeding Int64 in int ？Do we just need to pass it in the form of a string(I found that kvrocks should not implement large numbers, and automatically convert this to a string)?
[code]

[2022-09-10 07:18] PragmaTwice commented on #819
I think maybe there is no difference between string and integer here, i.e. you can use string here. cc @git-hulk

[2022-09-10 11:25] tisonkun commented on #823
Inactive assigner. Unassign and release the opportunity.

[2022-09-10 12:02] git-hulk commented on #819
Yes, exactly.

[2022-09-10 15:43] ColinChamber opened #844 "When the key does not exist, the return value of georadius is inconsistent with that of Redis."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Version

unstable

### Minimal reproduce step

GEORADIUS key 6 17 50 km

### What did you expect to see?

(empty list or set)

### What did you see instead?

(error) ERR NotFound:

### Anything Else?

_No response_

### Are you willing to submit a PR?

[2022-09-11 03:20] tisonkun commented on #769
Closed as no clear plan and the author doesn't propose a design.

[2022-09-11 03:20] #769 closed, assigned to nobody

[2022-09-11 03:22] tisonkun commented on #736
This is quite vague. I suppose you start a Kvrocks server or cluster in someway. It would be better if you can provide a sample repo to reproduce the issue.

[2022-09-11 03:23] tisonkun commented on #706
Closed as inactive. If @mapleFU or @PragmaTwice want to continue the effort, feel free to reopen with an estimate or create a new issue.

[2022-09-11 03:23] #706 closed, assigned to nobody

[2022-09-11 03:28] tisonkun commented on #99
Closed as stale. I suppose you run [`redis-benchmark`](https://redis.io/docs/reference/optimization/benchmarks/) against these systems.

Looking forward to any feedback.

[2022-09-11 03:28] #99 closed

[2022-09-11 03:29] tisonkun commented on #325
Closed as inactive. We don't keep a wishing list. Any design is welcome.

[2022-09-11 03:29] #325 closed, assigned to nobody

[2022-09-11 03:30] tisonkun commented on #570
Closed as stale. You can ask questions at the [Discussions forum](https://github.com/apache/incubator-kvrocks/discussions/categories/q-a).

[2022-09-11 03:30] #570 closed, assigned to nobody

[2022-09-11 03:31] tisonkun commented on #663
@PragmaTwice is there any remaining works and do you want to continue driving this effort?

[2022-09-11 03:31] tisonkun commented on #552
Closed as stale. You can ask questions at the [Discussions forum](https://github.com/apache/incubator-kvrocks/discussions/categories/q-a).

[2022-09-11 03:31] #552 closed, assigned to nobody

[2022-09-11 03:32] tisonkun commented on #572
Closed as now we're using Travis to achieve multiple platform supports. If GitHub Actions support ARM platform later, we can review this proposal.

[2022-09-11 03:32] #572 closed, assigned to nobody

[2022-09-11 03:33] tisonkun commented on #494
Closed as stale. You can ask questions at the [Discussions forum](https://github.com/apache/incubator-kvrocks/discussions/categories/q-a).

[2022-09-11 03:33] #494 closed, assigned to nobody

[2022-09-11 03:33] tisonkun commented on #510
Closed as stale. You can ask questions at the [Discussions forum](https://github.com/apache/incubator-kvrocks/discussions/categories/q-a).

[2022-09-11 03:33] #510 closed, assigned to nobody

[2022-09-11 03:35] tisonkun commented on #448
Closed as stale. This issue seems vanished.

[2022-09-11 03:35] #448 closed, assigned to nobody

[2022-09-11 03:42] #844 closed, assigned to nobody

[2022-09-11 04:04] #841 closed, assigned to git-hulk

[2022-09-11 06:36] tisonkun opened #851 "Move TCL test unit/limits to Go case"

[2022-09-11 07:18] tisonkun opened #855 "Move TCL test unit/multi to Go case"

[2022-09-11 07:19] tisonkun opened #856 "Move TCL test unit/expire to Go case"

[2022-09-11 07:19] tisonkun opened #857 "Move TCL test unit/quit to Go case"

[2022-09-11 08:06] #147 closed

[2022-09-11 08:41] IoCing commented on #857
I would like to work on it !

[2022-09-11 08:46] tanruixiang commented on #823
Hi. I'd like to do this. ~By the way, is `bitop`'s support in our plan? If the difficulty is moderate, I am willing to develop this command.~ I found that `bittop` has been implemented, but the wiki is not updated. [kvrocks's wiki](https://github.com/apache/incubator-kvrocks/wiki/Support-Commands)

[2022-09-11 10:39] PragmaTwice commented on #663
I think most of trivial manual deallocation is removed, but there still remains some raw memory allocation and fd allocation.

[2022-09-11 12:02] git-hulk commented on #823
Hi @tanruixiang, You can just do the identical migration which means only replacing those bitmap tcl cases with Go. Can also take a look at a look at other PRs if you don't know how
to do that.

[2022-09-11 12:09] tisonkun commented on #857
@IoCing assigned. Go ahead!

[2022-09-11 12:11] tisonkun commented on #823
@tanruixiang we should gradually migrate the document to our docsite https://kvrocks.apache.org/. You can find the source code at: https://github.com/apache/incubator-kvrocks-website. You're welcome to make a contribution on this topic if you find this doc is also missing on the docsite.

[2022-09-11 12:11] tanruixiang commented on #823
Ok. In fact I've done several PRs to migrate from tcl to go. I was just wondering if I could do something different. Do you have any advice? Of course, please assign this task to me.

[2022-09-11 12:25] git-hulk commented on #823
@tanruixiang I saw your PRs, thanks again. I misunderstood what you mean. 😆

[2022-09-11 14:25] PragmaTwice opened #859 "Complete and beautify the kvrocks website"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Motivation

What you can do for [kvrocks.apache.org](https://kvrocks.apache.org/) (repo: [apache/incubator-kvrocks-website](https://github.com/apache/incubator-kvrocks-website)):
- Fix outdated paragraphs and typos in the documentation
- Beautify the

[2022-09-11 16:29] suica commented on #816
I would like to migrate all list test cases. Please assign this issue to me :)

[2022-09-11 16:40] tisonkun commented on #816
@suica Assigned. Go ahead! It seems a large file, you can do it in several steps - be careful :)

[2022-09-11 17:05] #818 closed, assigned to suica

[2022-09-12 00:58] tisonkun commented on #851
Closed by #854.

[2022-09-12 00:58] #851 closed, assigned to tisonkun

[2022-09-12 00:58] tisonkun opened #860 "Move TCL test unit/geo to Go case"

[2022-09-12 00:58] tisonkun opened #861 "Move TCL test unit/slowlog to Go case"

[2022-09-12 07:33] suica opened #862 "Provide an option to clean temp directory after running Go tests"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Motivation

Currently, after running the Go test, in the workspace, temp directories for each case will be created, which include the db logs.
[code]
The problem is that the db folders occupy too much disk space. My disk just ran out of space after ru

[2022-09-12 08:41] PragmaTwice commented on #862
It sounds good to me. cc @tisonkun

[2022-09-12 08:50] tisonkun opened #864 "Move TCL test unit/config to Go case"

[2022-09-12 09:27] tisonkun commented on #862
+1 I have a similar idea. Glad to see someone pick it up. ~~Wire to the `x.py` script may spend some time to improve the usability. I notice that current we pass `rest` at the end and it conflicts how `go test` processes args.~~

[2022-09-12 09:51] tanruixiang opened #867 "Ci results are random, and the same code may succeed or fail"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Version

[tison's pr](https://github.com/apache/incubator-kvrocks/pull/865) and [my pr](https://github.com/apache/incubator-kvrocks/pull/858)  both seem to have this problem.

### Minimal reproduce step

You can view it through my [PR](https://github.

[2022-09-12 11:58] tisonkun commented on #867
These failures seem all to `scripting.tcl`. Since we're migrating tests, we can revisit all those tests.

If you found failures for other test cases, please point in out.

[2022-09-12 11:58] #864 closed, assigned to tisonkun

[2022-09-12 14:43] PragmaTwice commented on #862
@tisonkun Maybe it is because `<build-dir>` is not specified? If you want to pass `rest`, `<build-dir>` will become a required option, e.g.
[code]
to
[code]

[2022-09-12 14:57] PragmaTwice opened #868 "Go testcases run failed for ziplist in CI"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Version

unstable e8efdf28260d31f181fc200ec9082f36d9294c47

### Minimal reproduce step

refer to https://github.com/apache/incubator-kvrocks/runs/8303808021

[code]

### What did you expect to see?

success

### What did you see instead?

fail

### An

[2022-09-12 15:00] tisonkun commented on #868
cc @torwig It seems this is an unstable test. Could you try to dig it out?

[2022-09-12 15:04] tisonkun commented on #862
@PragmaTwice you're right!

[2022-09-12 15:29] git-hulk commented on #868
Not sure whether is caused by Go Redis client retry (default is 3) or not, see: [options.go#L63](https://github.com/go-redis/redis/blob/3d1e2e5bc8af1bfec675334a9a3f4cd9919dfda3/options.go#L63). Can disable the retry first if we don't know how to reproduce.

[2022-09-12 23:43] tisonkun commented on #868
@git-hulk OK. I made a patch #869 and let's see whether it works.

[2022-09-13 03:03] #819 closed, assigned to tanruixiang

[2022-09-13 03:04] tisonkun commented on #795
@PragmaTwice the issue here is what distros are supported on GitHub Actions (public).

[2022-09-13 03:17] PragmaTwice commented on #795
I think we can use images in docker hub, e.g.
[code]

[2022-09-13 15:13] tisonkun commented on #868
Closed as #869 merged. Feel free to reopen if it occurs again.

[2022-09-13 15:13] #868 closed, assigned to nobody

[2022-09-13 15:13] tisonkun opened #872 "Move TCL test unit/scripting to Go case"
Be aware that current scripting tests are unstable. See also https://github.com/apache/incubator-kvrocks/issues/867.

[2022-09-13 15:15] tisonkun commented on #867
Closed to be covered as https://github.com/apache/incubator-kvrocks/issues/872. This issue doesn't have a clear target in description.

[2022-09-13 15:15] #867 closed, assigned to nobody

[2022-09-13 15:16] tisonkun opened #873 "Unit test has wrong sleep time"
https://github.com/apache/incubator-kvrocks/blob/unstable/tests/cppunit/rwlock_test.cc#L170

This unit test sleep time is NOT right, expected 100ms but current is 1ms. I think 1ms is too short to guarantee the else condition thread will be always be scheduled before the if condition. I'll bring this sleep time fix in the next PR.

_Originally posted by @git-hulk in https://github.com/apache/incuba

[2022-09-13 23:34] chewitt1 commented on #859
Hi can I work on this issue?

[2022-09-14 02:10] PragmaTwice commented on #859
@chewitt1  Sure! Since it is more like a general / tracking issue, feel free to open more concrete issues to this repo or create PRs to incubator-kvrocks-website.

[2022-09-14 06:27] lrb1996 opened #874 "The requirement of two commands for Kvrocks"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Motivation

 I have a requirement which I hope you dear admins can fix.  When we use Redis, we can easily know the memory usage of the specific key by using command "memory usage key " as well as the keyspace hits percentage of the specific key by usi

[2022-09-14 10:09] git-hulk commented on #874
Do you mean the disk space usage of key? Kvrocks stores its data in disk instead of the memory, so the memory usage of key is meaningless for Kvrocks.

[2022-09-14 10:24] lrb1996 commented on #874
Thanks for your reply.  I know that Kvrocks stores its data in disk instead of the memory,  but i think it's also necessary to know the size of the specific key accurately, otherwize it may cause the abnormal increment of the cpu percentage or some other related indexes for the machine.  As a dba, i need to contact the developers to focus the unusual key as fast as i find unusal indexes mentioned

[2022-09-14 11:18] git-hulk commented on #874
Thanks for your clarification. It makes sense to export the value size of the specific key, and it should be possible since the RocksDB has a way to get the approximate size with the prefix if my memory serves.

[2022-09-14 15:42] tanruixiang commented on #874
@git-hulk  Hi. Maybe u mean `GetApproximateSizes`. I am willing to do this task. Can you give me some guidance?

[2022-09-14 16:49] git-hulk commented on #874
@tanruixiang sure, thanks for your interest. We want a command like Redis [MEMORY USAGE](https://redis.io/commands/memory-usage/) except the usage should be disk space, and as you said we can use `GetApproximateSizes` to count the approximate size.

So what we need to do is:
1. implement a command like `DISK USAGE key` and [SAMPLES count] is no need.
2. Count the value size directly if the key typ

[2022-09-14 18:07] chewitt1 commented on #859
Ok thank you! I will do that

[2022-09-15 03:45] Phoeniwx opened #876 "Delete expired big keys during first query"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Motivation

We encountered a slow log problem when accessing a rather small key. This key is in cold data and kvrocks took 0.82s to get it every time.
[code]
Here is the perflog. We can see it took most time in reading block phase, which processed 737

[2022-09-15 04:11] Phoeniwx opened #877 "bigkeys analyze support"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Motivation

We all know redis support --bigkeys & --memkeys commands, which can help us analyze bigkeys conveniently. Or we can use rdb generated by redis to parse bigkeys.
[code]
However, according to my knowledge, kvrocks does not support --bigkeys

[2022-09-15 04:14] git-hulk commented on #876
Thanks for your feedback. Maybe we need a smarter compaction strategy which can compact range in-flight when finding there're too many deleted or expired tombstones.

[2022-09-15 05:45] shangxiaoxiong commented on #876
If kvrocks can automatically append a delete opreation when clients read an expired big key, it may be improved. l will do this.

[2022-09-15 11:10] tufitko opened #878 "disableWAL option"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Motivation

We are using kvrocks with client sharding, also we can lose data. So, WAL is useless for us and it just makes additional write pressure.

### Solution

I made some changes to ensure about this: https://github.com/apache/incubator-kvrocks/c

[2022-09-15 11:37] git-hulk commented on #878
Thanks for @tufitko feedback. So you don't need the replication, right?

I thinks we can add a new config option to let users to disable the WAL, and also need to forbid the `slaveof` command when the WAL is disabled since the replication can't work without it. How do you think?

[2022-09-15 12:33] tufitko commented on #878
@git-hulk yeah, we don't need replicas. About `slaveof` sounds good, so I'm gonna make PR at the weekends

[2022-09-15 13:03] git-hulk commented on #878
Cool, thanks. Can just reply error in the slaveof command if the WAL is disabled.

[2022-09-15 16:44] tanruixiang commented on #872
[list_test.go](https://github.com/apache/incubator-kvrocks/actions/runs/3061992524/jobs/4942482133) is also unstable.

[2022-09-15 22:02] usrtax opened #879 "Add support for function commands like Redis"
is kvrocks suppport redis function ?

Redis functions Scripting with Redis 7 and beyond
https://redis.io/docs/manual/programmability/functions-intro/

Redis Functions is an API for managing code to be executed on the server. This feature, which became available in Redis 7, supersedes the use of [EVAL](https://redis.io/docs/manual/programmability/eval-intro) in prior versions of Redis.

[2022-09-15 22:20] usrtax opened #880 "Add support for RESP3"
https://redis.io/commands/hello/
[code]

https://github.com/redis/redis-specifications/blob/master/protocol/RESP3.md
RESP3 is an updated version of RESP v2, which is the protocol used in Redis starting with roughly version 2.0 (1.2 already supported it, but Redis 2.0 was the first version to talk only this protocol). The name of this protocol is just RESP3 and not RESP v3 or RESP 3.0.

for example

[2022-09-16 01:53] tisonkun commented on #872
@tanruixiang can you provide run reports?

[2022-09-16 01:53] tisonkun commented on #872
OK I see it.

[2022-09-16 01:55] tisonkun commented on #872
@vmihailenco it seems after Kvrocks tests migrated to go-redis, some cases fail with:

[code]

when under stress. What's the best practice go-redis retry to set up a reasonable timeout in this case?

[2022-09-16 06:32] vmihailenco commented on #872
There is a `MaxRetries` options and it seems to be enabled by default - https://github.com/go-redis/redis/blob/master/options.go#L61-L69

What Read/WriteTimeout do you use?

[2022-09-16 08:41] aleksraiden commented on #878
What is the benefits from disabling WAL? This mechanism, as I remember, used for parallels writers, thats can work without blocking too. And, of course, data safety are poor. This only reduce a disk I/O, but in sequential mode (like WAL) I think, its no a lot of problem. maybe you want to reduce storage - you can disable wal history (in archive directory inside). Maybe this can help you quickly?

[2022-09-16 10:52] tufitko commented on #878
@aleksraiden It's exactly for reducing a disk I/O. We have a lot of data to write, so any reduction of IO helps us.

[2022-09-16 12:02] aleksraiden commented on #878
@tufitko, ok, interested to me too. I have a medium-load system (streams, ~20K rps, 100M+ msg in history, but 7.2.2 rocksdb) based on kvrocks, I will interest to test this patch too.

[2022-09-17 14:38] tisonkun commented on #872
@vmihailenco I think the first time we even disable retry https://github.com/apache/incubator-kvrocks/pull/869 to try to address this flaky test. The reason then is we may reduce the workload caused by retries. But it seems we need to extend the retry time and timeout interval. However, always increasing waiting interval and retry time seems not a good idea...

Would you suggest a suitable config

[2022-09-18 06:05] mapleFU commented on #877
Seems that redis implement `--bigkey` as a client tool: https://github.com/redis/redis/blob/unstable/src/redis-cli.c#L8257 , it will send `scan` to sample the bigkeys.

Maybe I can try to test using `--bigkey` in client in next few weeks

[2022-09-18 08:17] git-hulk commented on #877
Thanks to @mapleFU, it's true that Redis implements its big key detection in the redis-cli with the scan command. The reason why Kvrocks don't support the `redis-cli --bigkey` is we now return the string as scan iterator cursor instead of an integer, so it can't be compatible with redis-cli now

[2022-09-18 08:23] PragmaTwice opened #884 "Add redis-benchmark to CI"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Motivation

We can design a phase in CI (triggerred by PR or daily) to automatically run redis-benchmark to test the stability and performance of kvrocks under a certain commit, and report it while an evident performance downgrade or crash occurs in t

[2022-09-18 09:04] tufitko opened #886 "rework compaction filter when used blobs"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Motivation

We have quite big messages (~100Mib), so we decided to use BlobDB to decrease pressure on disk. But this action decreases write throughput and increase read iops because RocksDB reads data from blobfiles.
Current SubKeyFilter gets values o

[2022-09-18 10:53] git-hulk commented on #886
Cool, @ShooterIT @caipengbo @shangxiaoxiong Can help to have a look if you're free?

[2022-09-18 10:55] caipengbo commented on #886
Yeah, I will CR as soon as possible

[2022-09-19 05:33] IoCing commented on #821
i would like to work on it !

[2022-09-19 05:39] tisonkun commented on #821
@IoCing assigned. Go ahead!

[2022-09-19 06:37] #857 closed, assigned to IoCing

[2022-09-19 07:17] caipengbo commented on #886
@tufitko This is a good optimization point, in most cases we can make a decision about a key-value solely based on the key in compaction filter.

Just as you said we can introduce new `FilterBlobByKey` interface to optimize it:
- For the bitmap type, we can return `kUndetermined` in `FilterBlobByKey` to read the value further.
- For the other types, we just need to read the key through `FilterBlob

[2022-09-19 07:23] #823 closed, assigned to tanruixiang

[2022-09-19 07:25] tisonkun opened #889 "Move TCL test unit/pubsub to Go case"

[2022-09-19 07:25] tisonkun opened #890 "Move TCL test unit/introspection to Go case"

[2022-09-19 10:17] ellutionist opened #891 "Kvrocks sends negative ttl while migrating slot"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Version

OS:
Distributor ID: Ubuntu
Description:    Ubuntu 22.04.1 LTS
Release:        22.04

Kvrocks:
v2.1.0

### Minimal reproduce step

1. Create a kvrocks cluster of 2 nodes:
[code]

2. Set a key into one node, which expres in 5 seconds:
[code]

3

[2022-09-19 10:58] tufitko commented on #886
@caipengbo so, I can create PR based on my commit? Should it be optional or nothing to worry about bitmap?

[2022-09-19 11:08] git-hulk commented on #891
Cool, thanks for your feedback.

[2022-09-19 11:15] caipengbo commented on #886
@tufitko Good job! I don't think there's anything to worry about with bitmap, just do it!

[2022-09-19 14:30] ColinChamber opened #893 "After the single test, sending SIGTERM or SIGINT"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Motivation

After the single test, sending SIGTERM or SIGINT that kvrocks can handle may be better than sending it directly to [KILL](https://github.com/apache/incubator-kvrocks/blob/unstable/tests/gocase/util/server.go#L62). We can also check whether

[2022-09-19 14:42] tanruixiang opened #894 "Support Hrange command"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Motivation

According to [kvrocks 3.0 roadmap](https://github.com/apache/incubator-kvrocks/projects/2#card-81014194), add hrange command.

### Solution

Since kvrocks uses rocksdb as the storage engine, keys are ordered in sstable. So we can easily pr

[2022-09-19 15:01] tanruixiang opened #896 "Replace std::stol with ParseInt."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Motivation

There are many places in the code that use std::stol. Replace std::stol with ParseInt. Use ParseInt instead of std::stol for safer parsing.

### Solution

_No response_

### Are you willing to submit a PR?

- [X] I'm willing to submit a PR

[2022-09-20 00:12] xiaobiaozhao commented on #891
Looking forward to your PR

[2022-09-20 02:25] caipengbo commented on #894
It would be nice to explain the syntax of the hrange command in this PR, not only to make it easier to read the code, but also to migrate the syntax to a document (website) in the future.

[2022-09-20 02:34] caipengbo commented on #891
Indeed, this is a bug. For expired keys, we should filter them out at the source side.

[2022-09-20 03:13] tisonkun commented on #676
Closed as invalid anymore. Also, we are migrating tests to Go cases and will fix further issues there https://github.com/apache/incubator-kvrocks/issues/811 potentially.

[2022-09-20 03:13] #676 closed, assigned to nobody

[2022-09-20 03:25] tisonkun commented on #862
This patch can work, but we may think a bit more on the CLI arguments part - how to pass the option.

[code]

[2022-09-20 16:14] #894 closed, assigned to tanruixiang

[2022-09-21 06:19] #872 closed, assigned to tisonkun

[2022-09-21 09:35] maochongxin commented on #856
I'd like to work on it, can assign to me :)

[2022-09-21 09:44] tisonkun commented on #856
@maochongxin assigned. Go ahead!

[2022-09-21 10:13] aleksraiden commented on #836
For info - in our fork with updates, successfully merged with current upstream RocksDB without any code changes. And work into internal evn in a week.
As I think, this can be a flag for x.py to choose a version of RocksDB

[2022-09-22 01:56] caipengbo opened #904 "Avoid using Get interface to obtain Metadata when iterating data during migration"
### Motivation

When migrating data, I found that when migrating the same number of keys (about 10W), the migration time was very variable, sometimes very short, sometimes very long. When the migration took a long time, I found that the CPU was full.

Looking at the flame diagram below:

![image](https://user-images.githubusercontent.com/19643013/191640494-84217f78-48d4-442b-b18d-12ac1628b306.png)

[2022-09-22 02:36] git-hulk commented on #904
Yes, good catch.

[2022-09-22 07:09] datavisorxiaobiaozhao commented on #904
I have tested and confirmed that this is an issue

[2022-09-22 07:10] datavisorxiaobiaozhao commented on #904
I have tested and confirmed that this is an issue. The fix works and can speed up migration by 10-100 times.Looking forward to your PR

[2022-09-22 07:19] git-hulk opened #907 "Disable the TLS by default when building"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Motivation

For most users should NOT need TLS version,  so I think we can disable it by default like `Redis` and guide users to enable it if they need this feature.

### Solution

Change `ENABLE_OPENSSL` from `ON` to `OFF`

### Are you willing to sub

[2022-09-22 07:23] git-hulk opened #908 "Use Lua vm by default instead of LuaJIT"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Motivation

LuaJIT can improve the performance a lot in compute intensive scenario,
but we didn't test carefully about compatible. So I think we can use the Lua
VM by default and guide user to enable it if they need it.

cc @xiaobiaozhao

### Solution

[2022-09-22 09:58] #799 closed, assigned to nobody

[2022-09-23 05:41] shangxiaoxiong commented on #904
More than 10 times? Are you serious?

[2022-09-23 08:56] aleksraiden commented on #836
A little bit bad news - for performance boost some options needs to be compiled with C++20 (concurrently read data blocks from multiple files in a level in batched MultiGet).

[2022-09-23 09:10] PragmaTwice commented on #836
I think it is hard to maintain kvrocks with multiple version of rocksdb or multiple standard in same time, so I prefer update standard/dependency version directly.

[2022-09-23 10:04] tisonkun commented on #908
@git-hulk is there a real use case for this claim? LuaJIT passes all our test cases and if we don't enable new feature by default, it will hardly get feedback to be solid.

I'd say, if you're unconfident with LuaJIT, please build with Lua following these commands: ...

[2022-09-23 10:21] git-hulk commented on #908
Yes, my concern is we didn't have enough test cases to prove the LuaJIT compatibility, so I think it's too rush to replace Lua VM in the next release. Besides, I think it's fine to enable by default if it's totally a new feature and useful for most users.

Does it sound good to disable by default in next release? I will contact and push users what I know to have a test.

[2022-09-23 11:43] PragmaTwice commented on #836
Could you give some more specific information? For example, which source file/code segment that requires c++20 is involved in rocksdb.

[2022-09-23 11:54] tisonkun commented on #908
@git-hulk It's reasonable to have a clear signal of stability; otherwise, it's a "pocket" to prevent enabling the feature by default. For example, Flink supports RegionFailoverStrategy in 1.9 and has a determinate target to enable it by default in 1.11. So contributors are encouraged to polish the feature since it _will_ be pushed to production.

Besides, a well-written release note will highlight

[2022-09-23 12:02] git-hulk commented on #908
Yes, agree we should enable new features by default if possible. But it's our first release to involve LuaJIT, so I think it will be better to let users know and try it first, then we can claim clearly that we will enable by default in the next feature.

[2022-09-23 12:50] caipengbo commented on #904
The original purpose of using `rocksdb::DB::Get()` to Get Metadata, I guess is to get the latest metadata (but mistakenly using the old snapshot).

The purpose of this is: snapshot is created at the beginning of the migration. If a slot has been migrated for a long time, users may change the number of subkeys in complex types or change the expiration time. If we use metadata in very old snapshot t

[2022-09-23 13:22] vmihailenco commented on #872
Looks like you are using the default config which has Read/WriteTimeout = 3 seconds. It should work just fine, but you can try to increase the timeout. Nothing else comes to mind.

[2022-09-23 14:43] xiaobiaozhao commented on #908
I don't think there's any question about Luajit's stability. However, if turned on luajit as the default switch, it is not friendly to users who upgrade directly. An important tip for users who need high performance is to enable Luajit.

[2022-09-24 09:00] #904 closed, assigned to nobody

[2022-09-24 09:50] ColinChamber opened #915 "Is it appropriate to change StartServer to a factory that returns the Server interface?"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Motivation

I will submit a PR about save-rdb, which needs to start Redis server to do some integration tests. Kvrocks2redis can also use that. And some tests can also be written as

-  `require.EqualValues(t, rdb.Get(ctx, "foo").Val(), kdb.Get(ctx, "

[2022-09-24 10:09] PragmaTwice commented on #915
I think if the code of `StartServer` can be reused well for both kvrocks and redis, they can be implemented in one function. If it is just a dispatch, but the two parts of the code need to be completely separately implemented, then I think it is better to implement it as two functions `StartKvrocksServer` and `StartRedisServer`, and then you can implement a function like `StartServer` to do a dyna

[2022-09-24 15:14] #907 closed, assigned to nobody

[2022-09-25 01:27] xiaobiaozhao opened #918 "support Multi-disk(Multi-path)"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Motivation

When the host has multiple disks, multiple disks can be used for data storage to increase the performance of KVROCKS.
Hot data can be stored on local SSDS and cold data can be stored on cloud disks

### Solution

[code]

https://github.com

[2022-09-25 01:38] caipengbo commented on #918
Hi @xiaobiaozhao, I have two questions:
1. Why can multiple disks improve performance? Multiple paths do not seem to work in parallel.
3. How do we judge hot and cold data in kvrocks? Rocksdb simply determines where to place the SST based on when the SST was generated.

[2022-09-25 07:25] #893 closed, assigned to ColinChamber

[2022-09-25 07:37] ColinChamber commented on #915
Thanks for your guidance. I've tried several things.  #920

[2022-09-25 08:04] #896 closed, assigned to nobody

[2022-09-25 15:46] tanruixiang commented on #918
According to the description of the configuration, the lower level SST will be stored in the front of the `db_paths`. So we can arrange the `db_paths` according to the speed of the storage medium, and put the low-level SST in the faster storage medium, for example, put the SSD in the first of the `db_paths` to storage the low-level SST.

In fact, the level at which `SST` is located represents the

[2022-09-25 23:56] xiaobiaozhao commented on #918
Yes，In my test demo，rocksdb use first & last of the `dp_paths` config only.

[code]
Only disk1 & disk4 wiil be use to write data. And rocks limit max 4 db_paths.

[2022-09-26 01:36] caipengbo commented on #918
@tanruixiang But about 90% of the data falls to the last layer of the LSM, so does that mean that 90% of the data is cold?

[2022-09-26 05:51] tanruixiang commented on #918
Most of the data should be cold data. If it is hot data, it will re-enter the previous layers, and the data in the last layer may be deleted.
For example, if `key1` is in the last layer and we put `key1` again, then `key1` will go back to the previous layers after going from mmtable to sst, and at the same time, the key1 of the last layer will be invalid. Of course, if a certain data is only read,

[2022-09-26 09:17] #873 closed, assigned to git-hulk

[2022-09-27 15:31] #821 closed, assigned to IoCing

[2022-09-27 23:55] chewitt1 commented on #859
Hi, I just wanted update and say I unfortunately will not be able to help with this issue at this time.

[2022-09-28 04:18] PragmaTwice commented on #859
That's all right. Welcome to participate in kvrocks when you have time in the future.

[2022-09-28 14:49] ColinChamber opened #926 "PING returns PONG if no argument is provided, otherwise return a copy of the argument as a bulk."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Version

unstable

### Minimal reproduce step

ping message

### What did you expect to see?

message

### What did you see instead?

wrong number of arguments

### Anything Else?

[redis ping](https://redis.io/commands/ping/)

### Are you willing to

[2022-09-28 14:55] git-hulk commented on #926
wow, it refreshes my knowledge.😃

[2022-09-29 02:37] 17998384 opened #927 "Can not build use x.py"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Version

2.1.0

### Minimal reproduce step

The following error is displayed when using./x.py build

### What did you expect to see?

I want the build to succeed

### What did you see instead?

[code]

### Anything Else?

_No response_

### Are you wi

[2022-09-29 02:40] PragmaTwice commented on #927
Which python version are you using? We support only python 3+.

[2022-09-29 02:44] caipengbo opened #928 "TYPE and SCAN commands are inconsistent with Redis"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Version

Release 2.1.0

### Minimal reproduce step

1. [Type command](https://redis.io/commands/type/) return simple string in redis, but return bulk string in kvrocks.
2. [Scan command](https://redis.io/commands/scan/) can return empty key in redis,

[2022-09-29 02:48] 17998384 commented on #927
I use python version is 3.4

[2022-09-29 02:54] PragmaTwice commented on #927
I will try to reproduce it with python 3.4. You can use more recent version to build it, such as python 3.9 or 3.10. Or you can try x.py in the unstable branch.

[2022-09-29 02:58] 17998384 commented on #927
OK，I think I know what the problem is. Strings starting with f are only supported after python3.6. Thank you for answering my question

[2022-09-29 03:03] 17998384 commented on #927
This can be resolved using python3.6 or higher

[2022-09-29 03:03] 17998384 commented on #927
This can be resolved using python3.6 or higher

[2022-09-29 03:03] #927 closed, assigned to nobody

[2022-09-29 03:04] PragmaTwice commented on #927
Good catch! Maybe we should add a notice or something for users to limit the minimum version of python. cc @tisonkun @git-hulk

[2022-09-29 03:54] xumingbo opened #929 "Some `return` is missing in redis_metadata.cc"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Version

Latest commit [73092dc](https://github.com/apache/incubator-kvrocks/commit/73092dc4a5e4f87411133efdcf10b393dd8f9ae9) on Aug 17

### Minimal reproduce step

in redis_metadata.cc

in rocksdb::Status ListMetadata::Decode(const std::string &bytes

[2022-09-29 04:10] PragmaTwice commented on #929
Good catch! Thanks. Are you willing to submit a PR?

[2022-09-29 06:38] #886 closed, assigned to nobody

[2022-09-29 06:39] #878 closed, assigned to nobody

[2022-09-29 07:15] aleksraiden commented on #929
I try to fix this

[2022-09-29 14:49] ColinChamber commented on #926
I haven't used Kvrocks for a long time. I can only do some boring PR first. 😃 However, there are indeed applications that add parameters to ping, such as celery.

[2022-09-29 18:06] xumingbo commented on #929
Also:at line 325  if (input.size() < 12) {
    rocksdb::Status::InvalidArgument(kErrMetadataTooShort);
  }

Regards,
Bo Xu
    On Thursday, September 29, 2022 at 12:16:07 AM PDT, Aleks Lozovyuk ***@***.***> wrote:

I try to fix this

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this because you authored the thread.Message ID: ***@***.***>

[2022-09-29 18:30] torwig commented on #929
@xumingbo Pull request also fixes line 325

[2022-09-29 18:49] #929 closed, assigned to nobody

[2022-09-29 18:55] tisonkun commented on #927
@PragmaTwice perhaps read the version by `platform.python_version()` or `sys.version_info`, failed if version not match. Then the script is self-explained.

[2022-09-30 03:48] tisonkun commented on #928
Agree. Also, SCAN returns "_cursor" instead of "cursor" on Redis, which causes #842 cannot directly make use of `redis.Client#Scan`.

[2022-09-30 04:34] tisonkun commented on #842
I'm working on this.

[2022-09-30 11:08] #842 closed, assigned to tisonkun

[2022-10-02 11:59] aleksraiden commented on #884
I thinked about this feature. Very cool, we need this tests.

IMHO, we can add to x.py file something like this:

`./x.py benchmark --bench-path=`

with default value of client/request etc.

In CI script, we change step "Install redis" and copy redis-benchmark into  $HOME/local/bin/.

Then we use -q options and run benchmark in quite format, just output req/sec.

In a first stage this numbers only

[2022-10-02 15:49] PragmaTwice commented on #884
Thanks for your interest, please go ahead!

[2022-10-02 16:49] aleksraiden commented on #884
Thanks, gets to work

[2022-10-03 11:21] aleksraiden opened #941 "Github deprecated Ubuntu-18.04 in CI builds."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Motivation

See [GitHub Actions: The Ubuntu 18.04 Actions runner image is being deprecated and will be removed by 12/1/22](https://github.blog/changelog/2022-08-09-github-actions-the-ubuntu-18-04-actions-runner-image-is-being-deprecated-and-will-be-re

[2022-10-03 11:44] aleksraiden commented on #941
Also, tcl will be upgraded to 8.6 (default in Ubuntu 20.04 and above)

[2022-10-03 12:24] aleksraiden commented on #941
I have tested it in private fork, all builds and tests passed OK. Trying to add Ubuntu 22.04 into matrix

[2022-10-03 12:55] aleksraiden commented on #941
At now, a default ubuntu-latest images changed to 20.04, so cpplint not working now. In cooperation with  @torvig working to fix them

[2022-10-03 13:08] #862 closed, assigned to nobody

[2022-10-03 14:31] PragmaTwice commented on #941
I also noticed the problem, feel free to open a PR!

[2022-10-03 14:43] tanruixiang commented on #941
I noticed that there has been an [issue](https://github.com/apache/incubator-kvrocks/issues/800) proposing to replace cpplint with `clang-*`, raised by @PragmaTwice .  If you have time, you can try using `clang-*` by the way to solve this problem.

[2022-10-03 14:52] PragmaTwice commented on #941
Switching to `clang-*` can be a work involving so many code changes and discussions, I suggest we can remain cpplint in this PR if you want to keep the changes minimal. And it may take the focus away from the content of this issue and make it more difficult to merge.

But feel free to try replacing the current cpplint and cppcheck with `clang-*` in other PRs.

[2022-10-03 14:54] PragmaTwice commented on #941
You can try to modify the current flags used in cpplint or cppcheck here: https://github.com/apache/incubator-kvrocks/blob/unstable/x.py#L119-L137

[2022-10-03 14:56] aleksraiden commented on #941
@torwig could we doing here? I will prepare a PR with updated Ubuntu, but cpp* is on your side

[2022-10-03 15:04] torwig commented on #941
@aleksraiden Sure, I'll help you.

[2022-10-03 15:48] gogim1 commented on #814
i would like to work on this issue😋

[2022-10-03 16:36] tisonkun commented on #814
@GoGim1  assigned. Go ahead!

[2022-10-04 02:54] #861 closed, assigned to nobody

[2022-10-04 02:55] tisonkun opened #945 "Move TCL test integration/slotmigrate to Go case"

[2022-10-04 02:55] tisonkun opened #946 "Move TCL test integration/slotimport to Go case"

[2022-10-04 02:55] tisonkun opened #947 "Move TCL test integration/redis-cli to Go case"

[2022-10-04 02:55] tisonkun opened #948 "Move TCL test integration/replication to Go case"

[2022-10-04 02:55] tisonkun opened #949 "Move TCL test integration/rsid_psync to Go case"

[2022-10-04 02:55] tisonkun opened #950 "Move TCL test integration/cluster to Go case"

[2022-10-04 02:57] #926 closed, assigned to nobody

[2022-10-04 03:00] tisonkun commented on #143
Closed as inactive. We don't hold a wishing list. A proposal with design is welcome. Also, IIRC crdb drops the dependency to RocksDB and develops their own storage engine Pebble :)

[2022-10-04 03:00] #143 closed

[2022-10-04 03:00] #915 closed, assigned to nobody

[2022-10-04 03:03] tisonkun commented on #891
@ellutionist @git-hulk @caipengbo shall we close this issue as completed with https://github.com/apache/incubator-kvrocks/pull/901?

[2022-10-04 03:04] tisonkun commented on #915
See also:

* https://github.com/apache/incubator-kvrocks/pull/920#issuecomment-1265418310
* https://github.com/apache/incubator-kvrocks/pull/920#issuecomment-1265422735

[2022-10-04 03:12] tisonkun commented on #908
Closed by #916.

[2022-10-04 03:12] #908 closed, assigned to nobody

[2022-10-04 06:45] amoghrajesh commented on #949
@tisonkun i would like to work on this. Can you point me where to get started and assign the issue to me?

[2022-10-04 06:45] tisonkun commented on #949
@amoghrajesh assigned. Go ahead!

[2022-10-04 08:00] amoghrajesh commented on #949
@tisonkun can you point me to a getting started guide or explain to me what the issue is?

[2022-10-04 08:03] tisonkun commented on #949
You can take a look at other similar issues in #811 while migrating integration tests can be more complex than unit tests.

If you don't know what's the issue here, I suggest you unassign yourself instead - don't pick up something beyond your ability at the moment.

[2022-10-04 08:05] amoghrajesh commented on #949
Un assigning myself and releasing the opportunity.

[2022-10-04 11:44] git-hulk commented on #891
Yes, sorry for forgetting this issue.

[2022-10-04 11:44] #891 closed, assigned to nobody

[2022-10-04 13:12] IoCing commented on #820
i would like to do it !

[2022-10-04 13:17] tisonkun commented on #820
@IoCing assigned. Go ahead!

[2022-10-04 13:42] aleksraiden commented on #941
All task are done, except use Ubuntu 22, maybe this is too much for us, ci perform too long in this way.

Some troubles with tcl test on macos-11, try to rebuild.

Awesome @torwig fix all files, currently we are still used cpplint/check (v1.6.1) not clang.

[2022-10-04 14:01] torwig opened #952 "Pub/Sub doesn't take namespace into account"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Version

Latest from the `unstable` branch, Fedora 35.

### Minimal reproduce step

Run `kvrocks` with additional two namespaces, e.g.

[code]

Run two `redisc-cli` instances, and connect to `kvrocks`.
Switch to the first namespace via the first `redi

[2022-10-05 10:25] #941 closed, assigned to nobody

[2022-10-06 09:00] tanruixiang commented on #952
Good Catch. It seems that the reason for the problem is that the namespace information in `Connection` is not used.

[2022-10-06 09:53] tisonkun commented on #856
Inactive. Unassign to release the seat.

[2022-10-06 11:35] maochongxin commented on #856
Sorry for the delay. I have finished the coding and will finish it as soon as possible
#955

[2022-10-06 16:31] #855 closed, assigned to tisonkun

[2022-10-07 03:53] git-hulk commented on #952
I'm also wondering if any users need this feature

[2022-10-07 08:51] #890 closed, assigned to tisonkun

[2022-10-07 09:47] aleksraiden opened #957 "INCR and DECR command with unsigned value"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Motivation

Traditionally, KVrocks like Redis, use signed Int64/Float64 for counter commands (INCR/DECR and HINCR/HDECR). But in extra case, we need more data, a full 64 bit number (unsigned).

### Solution

Could we add a command-flag to create only

[2022-10-08 02:37] tisonkun commented on #856
Closed by #955. Thank you @maochongxin!

[2022-10-08 02:37] #856 closed, assigned to maochongxin

[2022-10-08 05:59] #949 closed, assigned to tisonkun

[2022-10-08 06:04] #753 closed, assigned to nobody

[2022-10-08 06:12] git-hulk opened #960 "Support `GetEX` command"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Motivation

Redis supports the `GetEX` command since 6.2.0. We can follow-up as well since this command can benefit users if they want to extend or reduce the expire time when touching.

### Solution

Implement the command described in: https://redis.

[2022-10-08 11:38] maochongxin commented on #960
Can I try it on ? #961

[2022-10-08 11:51] git-hulk commented on #960
Assigned, thank you!

[2022-10-08 12:10] tanruixiang opened #962 "Align the expire option behavior of redis"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Version

unstable branch.

### Minimal reproduce step

[code]

### What did you expect to see?

(error) ERR syntax error

### What did you see instead?

Executed successfully.

### Anything Else?

Maybe other commands have this problem too. I'll fix t

[2022-10-08 15:03] PragmaTwice commented on #962
I notice that actually it is ok in redis to repeat the same keyword and arguments, e.g.

[code]

[2022-10-08 15:10] tanruixiang commented on #962
Yes, I've tested redis too, but I think duplication is a very confusing behavior. I think this is also a bug of redis, because in redis, the`set key value ex 10 px 1` will get `ERR syntax error`

[code]

[2022-10-08 15:19] git-hulk commented on #962
It can't tell whether it's a bug or not from the Redis code. But I guess Redis won't regard this behavior as a bug since most arguments like `LIMIT` and `COUNT` are allowed duplicate. Perhaps can raise an issue to ask the Redis community.

[2022-10-08 15:23] tisonkun commented on #946
@git-hulk @ShooterIT may I ask how the CRC16 table is generated? I don't want to hard code the table once more..

[2022-10-08 15:34] PragmaTwice commented on #946
https://github.com/lammertb/libcrc/blob/master/src/crc16.c#L124 here?

[2022-10-08 15:34] git-hulk commented on #946
@git-hulk @ShooterIT may I ask how the CRC16 table is generated? I don't want to hard code the table once more..

https://redis.io/docs/reference/cluster-spec/ This doc explained how Redis calculates the CRC16. `go-redis` also implements this function but it's an internal function: https://github.com/go-redis/redis/blob/27f0addeb2e6997bdd2faa1b48f6a989f83c4751/internal/hashtag/hashtag.go#L65

[2022-10-08 15:41] tanruixiang commented on #962
If aligning redis is the starting point, we should at least guarantee `cas key old new ex 1 px 10` will throw an error.  In fact, our code is also inconsistent in the implementation of whether there can be repeated arguments, which also makes me more confused. For example, the current `CommandSet` logic does not support repeated commands. Do we need to change the `CommandSet`?

[2022-10-08 15:47] git-hulk commented on #962
Yes, you're right that Redis also don't allow using `ex`|`px`|`exat` at the same time.

[2022-10-09 02:19] manchurio opened #964 "[bug] kvrocks2redis should not lowercase all lines when reading configuration files"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Version

![image](https://user-images.githubusercontent.com/82277001/194734491-d922e926-37aa-43e9-906d-636f86290462.png)

Cannot connect to the server when the password contains uppercase letters

### Minimal reproduce step

[code]

### What did you e

[2022-10-09 02:51] tisonkun commented on #946
[code]

Why cluster node port must be in `[1, 55534]`?

[2022-10-09 02:55] git-hulk commented on #946
This should be unnecessary for Kvrocks, coz we don't need the extra cluster port. cc @ShooterIT @caipengbo @ChrisZMF

[2022-10-09 03:22] tisonkun commented on #946
@git-hulk thank you! The next question is that when kill a "cluster-enable: yes" server, it cannot exit properly but:

[code]

Although we can simply ignore the error, do you have idea on this case?

[2022-10-09 03:28] git-hulk commented on #946
@tisonkun It's caused by the migrate didn't terminate the internal thread before destroying. Will create an issue to track.

[2022-10-09 03:34] git-hulk opened #965 "The server cannot exit properly when enabling cluster mode"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Version

a8e06c7e373f374e1528861fb96942ebbbb63b2f

### Minimal reproduce step

1. Enable the cluster mode
2. Start the migrate thread
3. Exit the server

### What did you expect to see?

No error happens when shut downing the server with cluster mode

[2022-10-09 04:41] PragmaTwice commented on #962
+1. There should be a syntax error while different options in same functionality is encountered to match the behavior of redis : )

[2022-10-09 04:43] ShooterIT commented on #946
In redis cluster mode, it needs extra cluster port for gossip, and its default number is `listen port + 10000`. so i add this check. but now this cluster port is configurable, so i think we just check if it is right port.

[2022-10-09 05:02] tisonkun commented on #946
@ShooterIT Included in https://github.com/apache/incubator-kvrocks/pull/966/files#diff-a4e8a56bf7d9d0e658d90784eab42c809b59dd142ee4ae1dafa54d5d657d688d, please take a look :)

[2022-10-09 06:27] manchurio commented on #952
I think this is ok, so does redis.

[2022-10-09 07:11] git-hulk commented on #952
Yes, this behavior is matched the Redis if we regard the namespace as the Redis DB. So I'm wondering if any users need this feature.

[2022-10-09 07:15] tanruixiang commented on #952
If someone needs this feature, I think they can just use stream.

[2022-10-09 07:19] git-hulk commented on #952
There's a bit different between stream and pubsub. For the stream, it likes most message queue system, all message can be saw before the retention ttl but the pubsub is fire and forget.

[2022-10-09 07:23] torwig commented on #964
@manchurio Good catch!

[2022-10-09 07:58] tanruixiang commented on #952
Yes, I mean that if someone needs this feature, they can use stream instead in the current situation. In fact, many people who directly use Redis also use stream instead of pubsub to avoid the disadvantages of pubsub. I think it is enough for kvrocks to align with Redis.

[2022-10-09 14:49] #946 closed, assigned to tisonkun

[2022-10-11 05:11] #965 closed, assigned to nobody

[2022-10-11 05:14] #964 closed, assigned to nobody

[2022-10-11 06:52] #874 closed, assigned to tanruixiang

[2022-10-11 07:44] LykxSassinator commented on #530
Approved

从 Windows 版邮件<https://go.microsoft.com/fwlink/?LinkId=550986>发送

发件人: Wang ***@***.***>
发送时间: 2022年3月27日 16:28
收件人: ***@***.***>
抄送: ***@***.***>; ***@***.***>
主题: [KvrocksLabs/kvrocks] [QUESTION] Change the license to Apache License Version 2.0 (Issue #530)

Hi, all Kvrocks contributors, we want to donate Kvrocks to Apache Software Foundation, the first step for us is changing the licen

[2022-10-11 10:09] #814 closed, assigned to GoGim1

[2022-10-11 16:04] tisonkun opened #975 "Flaky test TestString/SETBIT/GETBIT/BITCOUNT/BITPOS_boundary_check_(type_string)"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Motivation

Fix the flaky test:

[code]

### Solution

_No response_

### Are you willing to submit a PR?

- [x] I'm willing to submit a PR!

[2022-10-11 16:59] tisonkun commented on #975
https://github.com/apache/incubator-kvrocks/actions/runs/3228064427/jobs/5283723078

[2022-10-12 01:59] #975 closed, assigned to nobody

[2022-10-12 04:32] PragmaTwice opened #977 "Proposal: Refactor source file structure"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Motivation

As mentioned in https://github.com/apache/incubator-kvrocks/pull/973#pullrequestreview-1137848493, we can categorize source files in to different folders to modularize the source structure.

### Solution

The preliminary plan is as follows

[2022-10-12 09:25] tisonkun commented on #977
Will `version.h.in` leave as is? I'm thinking of moving `VERSION` file in the `src` folder so that we have a shorter top-level file list.

[2022-10-12 09:35] PragmaTwice commented on #977
In my thought, these source folders are all in the `src` directory.

I am not sure where to put `version.h.in` now, maybe just in `src/`.

[2022-10-12 09:37] #947 closed, assigned to tisonkun

[2022-10-12 13:23] tanruixiang commented on #977
I think the separation of `redis_cmd` can be done by referring to the official command classification of redis.
https://redis.io/commands/

[2022-10-12 16:52] #960 closed, assigned to maochongxin

[2022-10-13 05:10] tisonkun opened #983 "Flaky test on expire precision"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Version

https://github.com/apache/incubator-kvrocks/pull/981/commits/461d0e8cc95cf959df50db2d75fecffbfd919875

### Minimal reproduce step

Flaky test on CI env.

### What did you expect to see?

Tests passed.

### What did you see instead?

[code]

#

[2022-10-13 05:11] tisonkun commented on #983
It's interesting that the TTL even "longer" than what is set.

[2022-10-13 05:12] git-hulk commented on #983
@tisonkun Let me fix it

[2022-10-13 08:15] #889 closed, assigned to tisonkun

[2022-10-13 12:37] PragmaTwice commented on #977
Hi everyone, how do you like this proposal?

I think the current source files are cluttered in one directory, and as the source files become more and more numerous, it becomes more and more inconvenient to manage & locate them in one directory.

If you like this, you can give your thoughts and opinions on the current file classification to avoid me misclassifying some source files.

[2022-10-13 12:45] git-hulk commented on #977
@PragmaTwice I have some proposals about naming:

1. distributed vs cluster - `distributed` looks too general and those files are cluster related
2. data_types vs types - types is intuitive enough?
3. database vs storage - I think storage is more precise than database
4. service vs network

and seems a bit confused that putting `crc32` and `rand` in crypto.

[2022-10-13 12:46] git-hulk commented on #977
see whether folks have other suggestions.

[2022-10-13 13:28] PragmaTwice commented on #977
Greate advices, I will follow them later.

[2022-10-13 14:56] tanruixiang commented on #860
Please assign it to me.

[2022-10-13 23:44] tisonkun commented on #860
@tanruixiang assigned :)

[2022-10-14 00:49] caipengbo commented on #977
@PragmaTwice I have a few ideas of my own:
- `crypto` seem to fit under `common`(or `util`)?
- `commands` may be split up and placed under each data type?

[2022-10-14 03:55] PragmaTwice commented on #977
Thanks. Here is the second edition: cc @git-hulk @caipengbo

[code]

Great idea, I think we can discuss this after this classification.

[2022-10-14 04:04] git-hulk commented on #977
Looks good to me

[2022-10-14 04:13] caipengbo commented on #977
LGTM

[2022-10-14 04:55] tisonkun commented on #820
@IoCing any progress here? You may do it in several minor steps as I'm doing for https://github.com/apache/incubator-kvrocks/issues/824.

[2022-10-14 06:40] PragmaTwice commented on #977
Thanks all. I will prepare a PR soon.

[2022-10-14 06:48] IoCing commented on #820
@tisonkun sorry ，i just finished it

[2022-10-14 06:52] tisonkun commented on #820
Cool!

[2022-10-14 15:21] tanruixiang opened #992 "When GeoRadiusStore uses store*, kvrocks returns a value, but redis returns a number"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Version

https://github.com/apache/incubator-kvrocks/commit/b1f73a86f299a3263b887ece0fdf07a5f115d0e8

### Minimal reproduce step

[code]

### What did you expect to see?

[code]

### What did you see instead?

[code]

### Anything Else?

_No response_

[2022-10-14 15:35] tanruixiang commented on #800
By the way, I get the same result with clang14 which is the default version of macos. The latest clang is 15. If you can be sure that the result of 15 is the same, maybe there is no need to make judgments here. I think at least we can give a warning here and give the recommended clang version. Direct RuntimeError seems a bit inappropriate.@PragmaTwice
https://github.com/apache/incubator-kvrocks/bl

[2022-10-14 15:41] PragmaTwice commented on #800
There are some difference (may not be encountered often) in format result between different version of clang-format. So I recommand developers use the same version of clang-format as in github actions.

You can install a clang-format 12 or download from the URL provided in the message.

I think it can be a warning, but developers may become angry when they format the code but still fail in the CI

[2022-10-14 15:46] tanruixiang commented on #800
At least on clang-14 the result is the same. Will clang-format be forward compatibility? If it doesn't then it's reasonable to throw an error.🤔

[2022-10-14 15:53] PragmaTwice commented on #800
I can confirm there is some difference since I had some experience with this problem in [Oneflow](https://github.com/Oneflow-Inc/oneflow). Maybe there is currently no such code in kvrocks that might trigger compatibility issues for clang-format. I will change this message to warning.

[2022-10-14 17:23] #992 closed, assigned to nobody

[2022-10-15 01:07] tisonkun commented on #820
Closed by #988.

[2022-10-15 01:07] #820 closed, assigned to IoCing

[2022-10-15 01:08] tisonkun commented on #816
@IoCing would you like to take a look at this issue? You may do it in several minor steps and even part of it does help :)

[2022-10-15 01:12] #950 closed, assigned to tisonkun

[2022-10-15 01:19] tisonkun opened #995 "Move TCL test unit/tls to Go case"

[2022-10-15 01:19] tisonkun commented on #995
@PragmaTwice could you spend some time taking care of the TLS tests?

[2022-10-15 02:46] git-hulk commented on #948
@tisonkun I will handle it this weekend, assigned to myself.

[2022-10-15 03:39] PragmaTwice commented on #995
Sure.

[2022-10-15 05:29] git-hulk commented on #983
@tisonkun After looking into those flaky test cases, I guess the reason is the way of getting timestamps. For example:
[code]
The expiration timestamp is calculated in Go(wall clock) and TTL will use the C++ `gettimeofday` system.

[2022-10-15 07:19] IoCing commented on #816
@tisonkun ok , i would like to

[2022-10-15 13:09] git-hulk opened #996 "Fix didn't send replication master auth if it's created in flight"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Version

21b92a9f11cdd479498e592e500c29d137d8eec1

### Minimal reproduce step

1. Start `serverA` and `serverB` without `requirepass`
2. `ServerB` slave of `slaveA`
3. Use the config set command to create requirepass/master for the `serverA` and `serv

[2022-10-16 03:56] #948 closed, assigned to git-hulk

[2022-10-16 03:56] #996 closed, assigned to nobody

[2022-10-16 05:09] tisonkun commented on #983
@git-hulk can we have an approach to guard the boundary of tests?

[2022-10-16 09:09] git-hulk commented on #983
@tisonkun Yes, will be harden by increasing the upper bound for all tests which used EXAT instrument.

[2022-10-16 10:38] tisonkun opened #999 "Flaky test TestReplicationWithLimitSpeed"
[code]

Unstable test. @git-hulk perhaps release the read timeout for the specific case.

_Originally posted by @tisonkun in https://github.com/apache/incubator-kvrocks/issues/998#issuecomment-1279942166_

Check run: https://github.com/apache/incubator-kvrocks/actions/runs/3258497049/jobs/5350638195

[2022-10-16 11:26] git-hulk commented on #999
Yes, I will handle it.

[2022-10-16 12:43] ColinChamber opened #1001 "Make kvrocks dump rdb file which redis can load."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Motivation

  Making Kvrocks write RDB is more straightforward than making it parse RDB.
  Because Redis is backward compatible, which can load the original RDB file.
  We can easily utilize the primitive RDB object types, which follow the simple
  en

[2022-10-16 13:18] #999 closed, assigned to nobody

[2022-10-17 00:00] #977 closed, assigned to nobody

[2022-10-17 00:01] #860 closed, assigned to tanruixiang

[2022-10-17 05:26] #824 closed, assigned to tisonkun

[2022-10-17 11:06] git-hulk commented on #1001
cool, thanks for @ColinChamber great work.

[2022-10-18 03:52] iushas opened #1007 "Support config 'backup-dir' can be changed"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Motivation

Support config 'backup-dir' can be changed,
now can't be modify

[code]

### Solution

backup disk or filesystem may be damaged， wo need change the backupdir  to ensure backup process is normal

### Are you willing to submit a PR?

- [ ] I

[2022-10-18 13:36] #945 closed, assigned to tisonkun

[2022-10-18 16:28] #816 closed, assigned to IoCing

[2022-10-18 19:12] kinoute opened #1010 "Missing Docker image for v2.1.0"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Motivation

I am looking for the Docker image on the Hub for the version 2.1.0.

### Solution

Build, tag and push the image of the version v2.1.0 here https://hub.docker.com/r/kvrocks/kvrocks/tags

### Are you willing to submit a PR?

- [ ] I'm willi

[2022-10-19 01:29] tisonkun commented on #995
go-redis's TLS config: https://redis.uptrace.dev/guide/go-redis.html#using-tls

[2022-10-19 03:43] tisonkun commented on #995
https://github.com/tisonkun/incubator-kvrocks/tree/tls-tests

Here is a prototype that you can make use of. Although, TLS config is a bit complex that I cannot handle it soon :(

[2022-10-19 04:58] tisonkun commented on #1010
We only make a source release for 2.1.0 as it's the first Apache release and we're going through the process.

@git-hulk however, since there're quite a few users who want to use 2.1.0 via docker image, perhaps we can stage and vote for a docker image release specifically.

[2022-10-19 05:27] mapleFU commented on #1007
I'd like to submit a patch for this issue, but I have some problems
@git-hulk What's the expective behavior for `config set backup-dir ...` when:
1. Previous database is backing up?
2. Have previous backup?

Changing the `backup_dir` is easy, but it may tears using it. And previous `backup_dir` may having backup data. Should we purge old backup or rename dir when the dir is changed?

[2022-10-19 06:03] git-hulk commented on #1007
@mapleFU Thank you!

1. Previous database is backing up?

**The change can only affect the new coming backup request, the on going backup can be still i the old backup dir.**

3. Have previous backup?

**Yes, we can keep at most one backup**

4. And previous `backup_dir` may having backup data. Should we purge old backup or rename dir when the dir is changed?

**I think we can left the old backup

[2022-10-19 06:06] mapleFU commented on #1007
Seems that after gothrough issue:
https://github.com/redis/redis/issues/3594
and code for redis about `dbfilename` and `server.rdb_filename`, it may not purge the old files. I think we can make user drop it themselves.

Another problem is, when a previous task is running, should `config` waiting for it or just grab the `rdb` mutex to avoid the tear read and  change the config? And how can I testin

[2022-10-19 06:11] git-hulk commented on #1010
@tisonkun Yes, but I'm not clear about where to place the docker image, since seems the apache organization in DockerHub is out of seat: [About docker image release and license
](https://lists.apache.org/thread/hfg1h5yrz2bs1d20vq7lm669wcjsfcp1). I'm wondering if it's ok to release in Kvrocks organization after passing the voting process.

[2022-10-19 06:35] tanruixiang commented on #1010
I noticed that doris is still updating images on dockerhub. Can we continue to update images on dockerhub like they do? Maybe we need some process to put kvrocks into apache organization in dockerhub.

https://hub.docker.com/r/apache/doris

[2022-10-19 06:36] git-hulk commented on #1007
Yes, we have the backup mutex to prevent concurrent creating backup, can see: https://github.com/apache/incubator-kvrocks/blob/unstable/src/storage/storage.cc#L334

No test now, can test locally only if have no good way to add the test case.

[2022-10-19 06:39] git-hulk commented on #1010
@tanruixiang Yes, the best choice is to place in apache organization, but looks it's out of seat now.

[2022-10-19 06:57] tisonkun commented on #1010
@git-hulk Pulsar and Flink both use their own dockerhub entry to release images so I think it's OK for now.

You can also file a ticket on [the INFRA JIRA project](https://issues.apache.org/jira/projects/INFRA) to ask for permissions login the apache org and release the docker images there.

[2022-10-19 06:59] git-hulk commented on #1010
okay, thanks. Will do it today.

[2022-10-19 07:05] tanruixiang commented on #1010
I understand now. I'm sorry I misunderstood your meaning before. I noticed that the `linkis` community who asked this question uses an alternative to the github registry.

https://github.com/orgs/apache/packages?repo_name=incubator-linkis

[2022-10-19 07:19] PragmaTwice commented on #1010
Sure, we can use github package registry, but I prefer dockerhub since
[code]
is shorter than
[code]
🤣

[2022-10-19 07:27] PragmaTwice commented on #995
Thanks! I will try to use these patches.

[2022-10-19 09:07] mapleFU commented on #1007
@git-hulk Seems making `backup_dir_` guarded by `backup_mu_`, though `backup_mu_` is too coarse( `DestoryDB` and `rocksdb::Checkpoint::Create` in `backup_mu_` is heavy ).
I will add a patch for implement and testing `backup-dir`, and not change the scope of `backup_mu_`, you can assign this issue to me

[2022-10-19 10:03] git-hulk commented on #1007
@mapleFU assigned, thanks!

Yes, but I think it can avoid the backup mutex by copying `backup_dir_` variable instead of the reference.

[2022-10-20 04:25] tisonkun opened #1014 "Flaky test "kill normal client""
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Motivation

[code]

https://github.com/apache/incubator-kvrocks/actions/runs/3286622831/jobs/5414949088

### Solution

Perhaps we should tolerate 1 or 2.

@vmihailenco is this behavior related to go-redis auto reconnecting?

cc @git-hulk

### Are you

[2022-10-20 04:25] tisonkun commented on #1014
Related test code:

[code]

[2022-10-20 06:04] vmihailenco commented on #1014
Probably not, but ClientKillByFilter with `"skipme", "no"` could be retried, but that is just a guess.

[2022-10-20 06:59] tisonkun commented on #1014
@vmihailenco Thanks for your information! @git-hulk is digging with network traffic now..

[2022-10-20 10:51] tisonkun opened #1016 "Flaky Test TestSlotMigrateFromSlave"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Motivation

[code]

### Solution

Perhaps we should upload server output on test failures? cc @PragmaTwice

### Are you willing to submit a PR?

- [ ] I'm willing to submit a PR!

[2022-10-20 10:51] tisonkun commented on #1016
https://github.com/apache/incubator-kvrocks/actions/runs/3288512905/jobs/5418990199

[2022-10-20 11:16] git-hulk commented on #1016
Looks crash after sending the terminate signal, but have no idea to reproduce it.

[2022-10-20 12:27] manchurio opened #1018 "Support ZADD options"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Motivation

ZADD supports a list of options.
Starting with Redis version 3.0.2: Added the XX, NX, CH and INCR options.
Starting with Redis version 6.2.0: Added the GT and LT options.

I need these in my business scenario.

### Solution

https://redis.

[2022-10-20 13:22] #995 closed, assigned to PragmaTwice

[2022-10-20 13:24] tisonkun commented on #811
Closed as done. @vmihailenco You may notice now we have a "compatibility tests set" for interacting Kvrocks with go-redis :)

[2022-10-20 13:24] #811 closed, assigned to tisonkun

[2022-10-20 13:38] vmihailenco commented on #811
Hope go-redis will serve you well :)

[2022-10-20 13:38] git-hulk opened #1019 "Move docker image to the Apache organization"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Motivation

Currently, we're holding the Kvrocks docker image in the personal repo and Apache infra has created the repo for [Kvrocks](https://hub.docker.com/r/apache/kvrocks), so I think we can move the nightly docker image to the apache organization and

[2022-10-20 13:38] git-hulk commented on #1019
cc @tisonkun @torwig @ShooterIT @caipengbo

[2022-10-20 14:00] torwig commented on #1019
Are there any drawbacks for end users if the image will be pushed to another repository?
Can we keep the `kvrocks` image in both repositories for some time? Or it is useless?

[2022-10-20 14:04] git-hulk commented on #1019
Yes, agree we can keep both repositories for some time and the only drawback should be history images can't be seen in the new organization.

[2022-10-20 14:25] git-hulk commented on #1014
Yes, @vmihailenco is right, I can't find the reconnect behavior after being killed. And as mentioned in #1020, it may be caused by the duplicate count and killed in the Kvrocks server. Many thanks for your help.

[2022-10-20 15:38] git-hulk opened #1021 "Persist the cluster topology after applying"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Motivation

Currently, Kvrocks didn't persist the cluster nodes topology and it needs to resync every time after restarting which it's not very convenient. I think we can store and reload it in the local configuration.

### Solution

_No response_

##

[2022-10-21 03:14] #1014 closed, assigned to nobody

[2022-10-21 04:06] git-hulk commented on #983
https://github.com/apache/incubator-kvrocks/actions/runs/3294519235/jobs/5432141189 also caused by the time precision.

[2022-10-21 05:07] ShooterIT commented on #1019
+1.

I am not sure we could keep both repositories, since we have donated this  project into apache.

[2022-10-21 05:32] git-hulk commented on #1019
😭 it will affect users whose using the old image if we can't keep the both for some time.

[2022-10-21 05:35] tisonkun commented on #1019
@git-hulk I think that we can host Apache releases in the apache org while leaving the previous ones as is.

Similar decisions: https://github.com/apache/pulsar-helm-chart/pull/301#discussion_r998937325

[2022-10-21 05:53] git-hulk commented on #1019
Thanks @tisonkun

[2022-10-21 11:52] tisonkun opened #1024 "Skip build and test steps for no code changes"
@PragmaTwice we can have a path filter for skipping CI on docs change.

But since we required the status, it can be a bit tricky and we should make use of https://github.com/dorny/paths-filter to skip steps.

It's not a requirement of this patch, of course.

_Originally posted by @tisonkun in https://github.com/apache/incubator-kvrocks/issues/1023#issuecomment-1286772481_

[2022-10-23 01:32] #602 closed, assigned to nobody

[2022-10-23 01:32] #800 closed, assigned to nobody

[2022-10-23 02:32] tisonkun commented on #962
@tanruixiang shall we close this issue as #1017 merged?

[2022-10-23 03:35] tanruixiang commented on #962
Ok. There are still some unresolved discussions that will be resolved after twice proposes a parsing-design's issue.

[2022-10-23 03:35] #962 closed, assigned to nobody

[2022-10-23 03:48] tisonkun commented on #342
cpplint is replaced with clang-format and clang-tidy in #800.

Closed as invalid.

[2022-10-23 03:48] #342 closed, assigned to karelrooted, git-hulk

[2022-10-23 03:50] tisonkun commented on #581
Closed as no more insights here. If you find more patterns to adopt, feel free to start a new initiative.

[2022-10-23 03:50] #581 closed, assigned to nobody

[2022-10-23 03:51] tisonkun commented on #663
@PragmaTwice is there a way we can find and list them out here? Otherwise, it seems this proposal stalls.

[2022-10-23 06:18] #677 closed, assigned to nobody

[2022-10-23 06:19] tisonkun commented on #647
Closed as all subtasks done.

[2022-10-23 06:19] #647 closed, assigned to nobody

[2022-10-23 07:45] PragmaTwice commented on #663
Closed. Will create new issue if more manual deallocation is found.

[2022-10-23 07:45] #663 closed, assigned to nobody

[2022-10-23 08:05] PragmaTwice opened #1029 "Tracking issue: Fix clang-tidy reports in kvrocks"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Motivation

[code]

Currently we have enabled lots of clang-tidy checks, but there are so many reports in current kvrocks code, so we cannot treat these report as errors to block future PR with some clang-tidy reported warnings.

We can solve these re

[2022-10-23 08:17] git-hulk commented on #647
👍 Really great work, it's really to debug the flaky tests now.

[2022-10-23 08:33] tisonkun commented on #859
Closed as information delivered.

We don't open a generic issue like this. Only file issues if we have concrete actionable tasks for improving the website.

[2022-10-23 08:33] #859 closed, assigned to nobody

[2022-10-23 08:40] tisonkun commented on #219
@ShooterIT can you list out the pending works to complete this issue? Or superseding this one with a new issue describing the status quo.

[2022-10-23 09:02] tisonkun commented on #662
cc @git-hulk

<img width="1728" alt="image" src="https://user-images.githubusercontent.com/18818196/197383662-02ed392d-69be-447a-82e6-f2b0c0cd6870.png">

Currently, I found only these three lines in the source code that we print to the stdout in starting up logic. I don't know whether we should have a rule that only output to LOG everywhere and the current status looks good to me.

[2022-10-23 09:56] PragmaTwice commented on #662
Actually something is unexpectedly written to stderr:

![image](https://user-images.githubusercontent.com/20042607/197385705-cc5dbcf9-fed2-4535-8cbd-9633c2ceeb01.png)

So it need some investigation.

[2022-10-23 11:06] git-hulk commented on #662
To be honest, we don't have an explicit rule on when should send logs to the stdout instead of LOG file, but I think all logs should go into LOG except:
- command outputs like `./kvrock --help`
- logs before the logging instance was setup

[2022-10-23 11:07] git-hulk commented on #662
Yes, I searched the keyword `cout` and found some places are still using `std::cout`.
And it's weird in this case, coz I find `Logging` is always initialized before opening DB.

[2022-10-24 04:18] #1007 closed, assigned to mapleFU

[2022-10-24 04:45] PragmaTwice opened #1033 "Proposal: New encoding with compatibility to old data"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Motivation

[The current encoding](https://kvrocks.apache.org/docs/Design/design-structure-on-rocksdb) of kvrocks has several notable problems:
1. The length of `size` field is 32 bits, which makes it impossible to store large collection exceeding `4G

[2022-10-24 05:23] git-hulk commented on #1033
Cool, thanks for @PragmaTwice great proposal

For the `version` is always 64 bits now, so it's ok to use fixed bits.

[2022-10-24 05:40] mapleFU commented on #1033
I dislike the idea that using varint to store `expire`. The `varint` is sutable for "value tends to be small", maybe suitable for size, but using it as timestamp may be both harms cpu and storage.

32bits' size is ok in most cases.

[2022-10-24 05:46] mapleFU commented on #1033
Personally, I think it's even ok to extend `flags`:

[code]

[2022-10-24 05:46] PragmaTwice commented on #1033
For a recently timestamp (~2022 AD), the value is about 2^31. If using varint encoding, the data will be about 5 bytes, which is less than 8 bytes.

Although I am open for this, it can be fixed 8 bytes. But I think the size field need to be varint encoded in the new encoding.

[2022-10-24 06:01] mapleFU commented on #1033
By the way, in most of cases, `meta` would not be the bottleneck of store and cpu. When it comes to `String`, changing it to varint would occupy more spaces and spend more time paring the value.

[2022-10-24 06:46] PragmaTwice commented on #1033
I got your point. I will change `expire` field from varint to fixed 8bit.

[2022-10-24 06:50] tisonkun commented on #1033
This can be related to #983 that we're storing TTL in seconds now so that it cannot reflect more fine-grained precision.

[2022-10-24 06:54] kesavkolla opened #1034 "Add support for CLI arguments/environment variables to overwrite conf file values"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Motivation

It will be good idea to support some configuration overwrites via CLI arguments or Environment variables. Specially it will be so much useful in containerized environment. We can pack the default conf file in the docker image and overwrite

[2022-10-24 06:59] git-hulk commented on #1034
Yes, it makes a lot sense to support overriding configurations through passing environments.

[2022-10-24 07:11] PragmaTwice commented on #1033
The encoding description is now updated.

[2022-10-24 07:17] PragmaTwice commented on #1034
I will try to implement it when I am free.

[2022-10-24 07:31] torwig commented on #1033
I like the updated encoding description (especially because I was asking about the size field but didn't have time to implement it).

[2022-10-24 10:36] git-hulk commented on #983
I have a basic idea to try hardening those test cases. From the current analysis, the only clue is the different behavior of getting current time in Go and C++, C++ will always use `gettimeofday` and Go is platform and runtime related(used `clock_gettime` in most Linux systems). So I think we can also use `gettimeofday` for those cases and have an eye on whether has this flaky condition or not.

B

[2022-10-24 11:21] tisonkun commented on #983
@git-hulk I think that [`gettimeofday`](https://stackoverflow.com/questions/12392278/measure-time-in-linux-time-vs-clock-vs-getrusage-vs-clock-gettime-vs-gettimeof) is deprecated and we may instead replace `gettimeofday` with `clock_gettime` in the cpp code side?

[2022-10-24 11:25] mapleFU commented on #983
There are multiple `time` calling in kvrocks:
1. `std::time`, which is from c's api, setting the backup_time and checkpoint access time
2. `rocksdb::Env::GetCurrentTime`, which also calls `std::time` on posix
3. `gettimeofday` in `Worker::FeedMonitorConns`

Notes that:
1. `gettimeofday` is not monotonic, and can be updated by system: https://man7.org/linux/man-pages/man2/gettimeofday.2.html
2. std

[2022-10-24 12:03] git-hulk commented on #983
Thanks, I didn't notice that `gettimeofday` is deprecated, that's a sure thing since we should NOT use the deprecated API if possible.

@mapleFU Thanks for your nice input. You're right that we should use a coherent way to get time.

[2022-10-24 14:32] mapleFU commented on #983
Holdon, I think here is another problem in `ParseTTL`, which would cause this problem, after go through the code of `ParseTTL` in `redis_cmd.cc`, I found that:
1. `expire` is rounded to `seconds`
2. `now` is also rounded to `seconds`

And assume that:
[code]

@git-hulk

[2022-10-24 14:42] PragmaTwice commented on #983
I got this point. But I recommand we solve the problem after (or in) #1032, since ParseTTL changes hugely in this PR. :rofl:

[2022-10-24 14:44] mapleFU commented on #983
OK, seems that we should using millseconds to `minus` and do rounding 🤣. So trickey for fixing tests

[2022-10-24 14:45] PragmaTwice commented on #1033
Good point. We can use millisecond timestamp in the new `expire` field.

[2022-10-24 15:12] PragmaTwice commented on #1019
I think we can firstly vote and release the docker image for kvrocks 2.1.0 in the apache org.

And leave a message in kvrocks/kvrocks like "move to apache/kvrocks for new stable versions".

[2022-10-24 15:18] git-hulk commented on #983
:333333, let's increase the upper boundary.

[2022-10-24 15:23] tisonkun commented on #983
@git-hulk perhaps wait for one more occurrence ;-)

[2022-10-24 15:26] git-hulk commented on #983
okay

[2022-10-24 15:29] #1034 closed, assigned to PragmaTwice

[2022-10-24 15:30] tisonkun commented on #983
@mapleFU could you help with preparing a fix for https://github.com/apache/incubator-kvrocks/issues/983#issuecomment-1289131135?

[2022-10-24 15:34] mapleFU commented on #983
@tisonkun Glad to fix it, but should I waiting for #1032 to be merged first?

[2022-10-24 15:35] tanruixiang commented on #983
Our failing test case (Like `Extended SET EXAT option`) uses an expiration time in seconds, which doesn't seem to be a problem due to rounding. I think the main problem is the inconsistency in the way of getting time.

[2022-10-24 15:46] mapleFU commented on #983
At most of the time, the `value = expected_largest + 1`. Since clock may not have too large bias, it may be a sequence like:

[code]

The 20ms' bias cames from different way of getting time, but it also could cames from NTP or others, since in C++, we just use system clock.
@tanruixiang

[2022-10-24 16:03] tanruixiang commented on #983
But our tests are all on the same machine. Will it be monotonic to use the same method to obtain the time on the same machine? If it is monotonic(go and c++ get time the same way), Then there will be no case of getting 11s in the failed test.

[code]

[2022-10-24 16:17] mapleFU commented on #983
Golang's standard `Now` uses `CLOCK_MONOTONIC`, so, it's monotonic.

In C++, since it use `system_clock`, it uses `CLOCK_REALTIME`. `CLOCK_REALTIME` can be affected by NTP or setting, so it can move backward.

As a result:
1. Time api is different in golang and C++
2. The rounding would make problem worse
3. `CLOCK_REALTIME` may come accross time drifting

@tanruixiang

(Updated: golang will tend

[2022-10-24 16:19] mapleFU commented on #983
Actually, I'm not saying that `rounding cause the problem`, I just declares that `it may made the problem worse`. Since the two clocks maybe just have ~10ms' bias. And it maybe not harmful, because one second may only harm our testings ╮(￣▽￣"")╭

[2022-10-24 16:24] tanruixiang commented on #983
Ok. I misunderstood that after this [modification](https://github.com/apache/incubator-kvrocks/pull/1038), Go and C++ would use the same clock. Thank you for your patience.

[2022-10-24 16:27] tanruixiang commented on #983
It seems that the main problem is still go and c++ using different clocks. Rounding in the same direction won't cause a problem if use the same clocks.

[2022-10-24 16:50] mapleFU commented on #983
@tanruixiang @git-hulk Maybe I made a mistake, after go through go's `time.Now`, the `nsecs` just return a wall time if possible. Let's just waiting for testing now

[2022-10-24 17:17] kinoute commented on #1019
@PragmaTwice That would be great

[2022-10-25 01:20] git-hulk commented on #1019
@PragmaTwice Do you have time to drive this voting process recently?

[2022-10-25 01:22] git-hulk commented on #1016
https://github.com/apache/incubator-kvrocks/actions/runs/3314140570/jobs/5474097740 Another flaky case

[2022-10-25 01:25] tisonkun commented on #1016
@git-hulk they're somehow different issues - not the exact failure cause, or not the exact test case:

[code]

[code]

[2022-10-25 01:28] git-hulk commented on #1016
Yes, for the `TestPusSub` test case, it should be the same with [TestSlotMigrateFromSlave](https://github.com/apache/incubator-kvrocks/issues/1016#top), there're core when exiting the server.

[2022-10-25 01:30] tisonkun commented on #1016
@git-hulk I'm thinking of uploading the log files if there's a test failure...Don't have a concrete plan yet, though.

[2022-10-25 01:40] git-hulk commented on #1016
I'm also thinking how to download the log file if it cored

[2022-10-25 02:48] PragmaTwice commented on #1019
Sure. I will do it recently.

[2022-10-25 03:01] tisonkun commented on #983
OK. Closed as completed. Reopen or relax the upper bound if it happens again.

[2022-10-25 03:01] #983 closed, assigned to git-hulk

[2022-10-25 03:01] tisonkun commented on #983
OK. Closed as completed. Reopen or relax the upper bound if it happens again.

[2022-10-25 03:06] git-hulk commented on #983
Yes, I copied the assemble in https://github.com/apache/incubator-kvrocks/issues/983#issuecomment-1288812732, Go runtime will use `CLOCK_REALTIME` first then fallback to `CLOCK_MONOTONIC` if it's failed. Many thanks for your great study and input.

[2022-10-25 03:09] git-hulk commented on #1019
Cool, thanks~

[2022-10-25 06:09] iushas opened #1040 "rename commands don't work"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Version

2.1.0

### Minimal reproduce step

1、add rename-command in kvrocks.conf
rename-command flushall                             dont_run_flushall_rudely
rename-command flushdb                             dont_run_flushdb_rudely
rename-command bgs

[2022-10-25 06:20] git-hulk commented on #983
@tisonkun @PragmaTwice @mapleFU @tanruixiang After rethinking about this issue,  `gettimeofday`[1] is also using `clock_gettime`(as well as `chrono::system_clock`[2]) indeed and the only different is the time precision and Go `time.Now().Unix()` shouldn't be affected by the time precision(it's second unit), but we got 11s in test case which means the current second of Kvrocks was smaller than gett

[2022-10-25 07:26] tanruixiang commented on #983
Can we avoid this problem by disabling ntp, or configuring ntp?  If we use the -x option, ntp will always use slew mode, which will not cause time back.
Reference:
https://groups.google.com/g/comp.protocols.time.ntp/c/u3bmMHV1g5o
https://docs.ntpsec.org/latest/ntpd.html

[2022-10-25 09:57] git-hulk commented on #1040
@iushas Thanks for your feedback!

[2022-10-25 10:54] tanruixiang opened #1042 "Incorrect regex to get cmake version"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Version

https://github.com/apache/incubator-kvrocks/commit/a1bb45d72b3db7784f1f214fdcaba6705417b29e

### Minimal reproduce step

The latest version of cmake is [cmake-3.25.0-rc2](https://github.com/Kitware/CMake/releases/download/v3.25.0-rc2/cmake-3.

[2022-10-25 12:37] #1042 closed, assigned to tisonkun

[2022-10-28 05:53] #1018 closed, assigned to manchurio

[2022-10-28 08:40] #1040 closed, assigned to tanruixiang

[2022-10-28 15:37] git-hulk opened #1049 "Export the block cache hit/miss statistics"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Motivation

Block cache hit/miss is the key metric for the read performance, so it can help a lot when profiling if we can export the block cache hit/miss statistics to users.

### Solution

Read the block cache statistics from RocksDB, then export th

[2022-10-29 06:54] tisonkun opened #1052 "Upload go case log if integration tests failed"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Motivation

Otherwise, it's hard to debug and get the root cause of failure in CI environment.

### Solution

_No response_

### Are you willing to submit a PR?

- [ ] I'm willing to submit a PR!

[2022-10-29 06:55] tisonkun commented on #1052
The go case log locates at `$WORKSPACE/tests/gocase/workspace`.

[2022-10-29 08:00] #1010 closed, assigned to nobody

[2022-10-29 16:20] xiaobiaozhao commented on #1049
please assign to me

[2022-10-29 16:21] git-hulk commented on #1049
Thanks, assigned.

[2022-11-01 13:10] manchurio opened #1059 "When log-dir and backup-dir appear at the same time, log-dir does not take effect"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Version

unstable branch.
This bug was introduced on October 24.
https://github.com/apache/incubator-kvrocks/blob/684bcc6ce7060ab507627b8299b8326e9ffbf133/src/config/config.cc#L357-L359

### Minimal reproduce step

There are two ways to reproduce

1.

[2022-11-03 09:29] #1052 closed, assigned to nobody

[2022-11-03 09:29] tisonkun commented on #1052
See also https://github.com/apache/incubator-kvrocks/pull/1065/files#r1012663263

[2022-11-03 09:30] tisonkun commented on #1019
I think this issue can be closed as completed now?

[2022-11-03 09:58] git-hulk commented on #1019
nightly image is still in kvrocks organization, will do it soon.

[2022-11-04 01:43] #1016 closed, assigned to nobody

[2022-11-04 02:35] #1059 closed, assigned to nobody

[2022-11-04 03:51] PragmaTwice opened #1072 "Flaky Test TestRedisCli"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Version

unstable

### Minimal reproduce step

https://github.com/apache/incubator-kvrocks/actions/runs/3390804518/jobs/5635396698

### What did you expect to see?

PASS

### What did you see instead?

[code]

### Anything Else?

_No response_

### Ar

[2022-11-04 06:22] #1019 closed, assigned to nobody

[2022-11-04 08:15] mapleFU commented on #1059
@manchurio I have tried to fix this via #1061 , would you like to have a try?

[2022-11-04 11:50] mapleFU commented on #836
@git-hulk @PragmaTwice can this patch be closed now? Sinces kvrocks is already using C++17 and RocksDB 7.x

[2022-11-04 12:15] PragmaTwice commented on #836
Sure.

[2022-11-04 12:15] #836 closed, assigned to nobody

[2022-11-06 10:54] #1001 closed, assigned to nobody

[2022-11-07 01:55] ShooterIT commented on #1001
Hi @ColinChamber @git-hulk i don't think supporting dumping RDB in Kvrocks is a good idea.
Kvrocks builds its data based on SSD, and its data volume usually is huge, so the RDB usually is big, i don't think it is a general requirement of loading so big RDB file into redis. What's more, Kvrocks is Kvrocks rather than a fork of redis, we support redis protocol and some commands, don't need to suppor

[2022-11-07 04:55] git-hulk commented on #1001
Yes, maybe we need a basic guide or consensus to determine what features can be merged or not.

[2022-11-10 14:32] ShooterIT opened #1082 "Doubt about the HRANGE command"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Motivation

Currently, we implement HRANGE command, but i think the name is not suitable.

For zset, we have `ZRANGEBYLEX` which could get members with lexicographical ordering,
of course, `ZRANGE` has `BYLEX` option.
HRANGE also get fields with lexic

[2022-11-10 14:55] git-hulk commented on #1082
This is an excellent proposition, from my side, I think the HRANGE command is similar to ZRANGE over ZRANGEBYLEX, so I regarded those parameters as `start` and `stop` when reviewing the PR. But I'm wondering if it's right to align them because ZSET is a sorted array and it makes sense to use the index as the start/stop but it's a bit confusing for HASH.

[2022-11-10 14:57] boatrainlsz opened #1083 "[NEW] Add `SINTERCARD` command aligned Redis"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Motivation

add support for [SINTERCARD](https://redis.io/commands/sintercard/) command in Redis, which is available since Redis 7.0.0

### Solution

Since `SINTER` and `SCARD` were implemented already, I think it's quite straightforward to combine th

[2022-11-10 14:58] boatrainlsz commented on #595
try to implement `SINTERCARD` command, see #1083  for more details

[2022-11-10 15:12] git-hulk commented on #1083
@boatrainlsz Thanks, assigned.

[2022-11-10 15:24] PragmaTwice commented on #1082
Good point, currently `ZRANGE` and `HRANGE` have different semantics (indexes v.s. elements) and argument types (integers v.s. strings), so I also think `ZRANGEBYLEX` is more concrete.

BTW cc @tanruixiang

[2022-11-10 15:55] tanruixiang commented on #1082
I also misunderstood `start` and `stop` when I first started implementing `HRANGE`.I'll add `hrange` and `hrangebylex` this weekend.

[2022-11-12 02:23] git-hulk opened #1087 "Add support for migrating STREAM in cluster mode"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Motivation

The STREAM type(partial commands) is supported in #745, but didn't add support for migrating in the cluster mode.

For more detail can see: https://github.com/apache/incubator-kvrocks/blob/unstable/src/cluster/slot_migrate.cc#L617

### Sol

[2022-11-12 06:27] torwig commented on #1087
@git-hulk I'll try to implement this.

[2022-11-12 06:50] git-hulk commented on #1087
cool, thanks @torwig

[2022-11-12 15:11] PragmaTwice opened #1090 "Fix `cppcoreguidelines-init-variables` warning reported by clang-tidy"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Motivation

*This issue is tracked by #1029.*

***We welcome new contributors to take these issues as a beginning of a deep dive to kvrocks***

Currently we have enabled lots of clang-tidy checks, but there are so many reports already exist in the kvr

[2022-11-12 15:12] PragmaTwice opened #1091 "Fix `cppcoreguidelines-macro-usage` warning reported by clang-tidy"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Motivation

*This issue is tracked by #1029.*

***We welcome new contributors to take these issues as a beginning of a deep dive to kvrocks***

Currently we have enabled lots of clang-tidy checks, but there are so many reports already exist in the kvr

[2022-11-12 15:12] PragmaTwice opened #1092 "Fix `cppcoreguidelines-narrowing-conversions` warning reported by clang-tidy"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Motivation

*This issue is tracked by #1029.*

***We welcome new contributors to take these issues as a beginning of a deep dive to kvrocks***

Currently we have enabled lots of clang-tidy checks, but there are so many reports already exist in the kvr

[2022-11-12 15:13] PragmaTwice opened #1093 "Fix `cppcoreguidelines-special-member-functions` warning reported by clang-tidy"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Motivation

*This issue is tracked by #1029.*

***We welcome new contributors to take these issues as a beginning of a deep dive to kvrocks***

Currently we have enabled lots of clang-tidy checks, but there are so many reports already exist in the kvr

[2022-11-12 15:14] PragmaTwice opened #1094 "Fix `modernize-avoid-bind` warning reported by clang-tidy"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Motivation

*This issue is tracked by #1029.*

***We welcome new contributors to take these issues as a beginning of a deep dive to kvrocks***

Currently we have enabled lots of clang-tidy checks, but there are so many reports already exist in the kvr

[2022-11-12 15:15] PragmaTwice opened #1095 "Fix `modernize-loop-convert` warning reported by clang-tidy"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Motivation

*This issue is tracked by #1029.*

***We welcome new contributors to take these issues as a beginning of a deep dive to kvrocks***

Currently we have enabled lots of clang-tidy checks, but there are so many reports already exist in the kvr

[2022-11-12 15:15] PragmaTwice opened #1096 "Fix `modernize-make-unique` warning reported by clang-tidy"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Motivation

*This issue is tracked by #1029.*

***We welcome new contributors to take these issues as a beginning of a deep dive to kvrocks***

Currently we have enabled lots of clang-tidy checks, but there are so many reports already exist in the kvr

[2022-11-12 15:16] PragmaTwice opened #1097 "Fix `modernize-redundant-void-arg` warning reported by clang-tidy"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Motivation

*This issue is tracked by #1029.*

***We welcome new contributors to take these issues as a beginning of a deep dive to kvrocks***

Currently we have enabled lots of clang-tidy checks, but there are so many reports already exist in the kvr

[2022-11-12 15:17] PragmaTwice opened #1098 "Fix `modernize-use-auto` warning reported by clang-tidy"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Motivation

*This issue is tracked by #1029.*

***We welcome new contributors to take these issues as a beginning of a deep dive to kvrocks***

Currently we have enabled lots of clang-tidy checks, but there are so many reports already exist in the kvr

[2022-11-12 15:18] PragmaTwice opened #1099 "Fix `modernize-use-bool-literals` warning reported by clang-tidy"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Motivation

*This issue is tracked by #1029.*

***We welcome new contributors to take these issues as a beginning of a deep dive to kvrocks***

Currently we have enabled lots of clang-tidy checks, but there are so many reports already exist in the kvr

[2022-11-12 15:18] PragmaTwice opened #1100 "Fix `modernize-use-nullptr` warning reported by clang-tidy"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Motivation

*This issue is tracked by #1029.*

***We welcome new contributors to take these issues as a beginning of a deep dive to kvrocks***

Currently we have enabled lots of clang-tidy checks, but there are so many reports already exist in the kvr

[2022-11-12 15:19] PragmaTwice opened #1101 "Fix `modernize-use-using` warning reported by clang-tidy"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Motivation

*This issue is tracked by #1029.*

***We welcome new contributors to take these issues as a beginning of a deep dive to kvrocks***

Currently we have enabled lots of clang-tidy checks, but there are so many reports already exist in the kvr

[2022-11-12 15:19] PragmaTwice opened #1102 "Fix `performance-faster-string-find` warning reported by clang-tidy"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Motivation

*This issue is tracked by #1029.*

***We welcome new contributors to take these issues as a beginning of a deep dive to kvrocks***

Currently we have enabled lots of clang-tidy checks, but there are so many reports already exist in the kvr

[2022-11-12 15:20] PragmaTwice opened #1103 "Fix `performance-for-range-copy` warning reported by clang-tidy"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Motivation

*This issue is tracked by #1029.*

***We welcome new contributors to take these issues as a beginning of a deep dive to kvrocks***

Currently we have enabled lots of clang-tidy checks, but there are so many reports already exist in the kvr

[2022-11-12 15:20] PragmaTwice opened #1104 "Fix `performance-inefficient-vector-operation` warning reported by clang-tidy"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Motivation

*This issue is tracked by #1029.*

***We welcome new contributors to take these issues as a beginning of a deep dive to kvrocks***

Currently we have enabled lots of clang-tidy checks, but there are so many reports already exist in the kvr

[2022-11-12 15:21] PragmaTwice opened #1105 "Fix `performance-unnecessary-value-param` warning reported by clang-tidy"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Motivation

*This issue is tracked by #1029.*

***We welcome new contributors to take these issues as a beginning of a deep dive to kvrocks***

Currently we have enabled lots of clang-tidy checks, but there are so many reports already exist in the kvr

[2022-11-12 16:23] WyattJia commented on #1100
assign to me

[2022-11-12 17:08] tanruixiang commented on #1100
@WyattJia  Assigned. Go ahead!

[2022-11-13 06:26] tanruixiang opened #1117 "Support more `ZRANGE` options"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Motivation

Redis no longer supports `ZRANGEBYLEX` and `ZRANGEBYSCORE` since `6.2.0`, merging this feature into options in `ZRANGE`. Currently our `ZRANGE` has almost no options and needs to be aligned with redis.
https://redis.io/commands/zrange/
htt

[2022-11-13 06:35] tanruixiang opened #1118 "Support more `HRANGE` options"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Motivation

Based on the discussion in #1082 , we will align the `HRANGE` instruction with the `ZRANGE`.
The format is as follows:
[code]
Similar to `zrange`, if we use `bylex`, then `start` and `stop` are the indexes. If we use `bylex`, then `start`

[2022-11-14 03:00] #1105 closed, assigned to tanruixiang

[2022-11-14 03:53] #1099 closed, assigned to nobody

[2022-11-14 05:40] #1096 closed, assigned to nobody

[2022-11-14 08:17] #1103 closed, assigned to nobody

[2022-11-14 09:46] #1102 closed, assigned to nobody

[2022-11-14 10:55] #1097 closed, assigned to nobody

[2022-11-14 11:26] ruslangm opened #1122 "Can't start kvrocks in Docker container on macos."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Version

**MacOS version:** 12.6, MacBook Pro Apple M1 Max
**Docker desktop version:** 4.12.0 (85629)
**kvrocks version:** latest from Docker hub
https://hub.docker.com/layers/apache/kvrocks/latest/images/sha256-9ef819b07e071f03125846c08e01ee4651710f2

[2022-11-14 12:35] git-hulk commented on #1122
I tried it on Mac Pro(intel) and M1 Pro, but they work well. I'm wondering if the CPU arch is different between M1 Pro and M1 Max. @ruslangm could you paste the output of the command `uname -a`? And it will print the information looks like below:

[code]

[2022-11-14 12:43] ruslangm commented on #1122
@git-hulk btw, I just built and ran `kvrocks` from sources according to the [build section from doc.](https://github.com/apache/incubator-kvrocks#build) and it works good.

[code]

[2022-11-14 12:49] #1094 closed, assigned to nobody

[2022-11-14 12:55] ruslangm commented on #1122
`nightly` build provides one more line of error:
[code]

[2022-11-14 13:18] git-hulk commented on #1122
@ruslangm Thanks for your feedback. It looks like the docker client wrongly recognizes the CPU platform. Would you like to have a try at pulling the image with explicitly specify the platform arch: `docker pull apache/kvrocks:2.2.0 --platform arm64`

I can reproduce it on my M1 Pro if wrongly specified the platform:
[code]

[2022-11-14 13:50] ruslangm commented on #1122
@git-hulk sure.
[code]

[2022-11-14 14:07] PragmaTwice commented on #1122
I notice there is one line in your log that seems to be the reason of the error you encountered:
[code]

[2022-11-14 14:09] git-hulk commented on #1122
That's so weird. Your docker's qemu is running in `linux/amd64` but from my side is `aarch64`. So you got the error since the docker client thought its arch is arm64 and pulled the image with the `arm64` platform.

[code]

[2022-11-14 15:02] ruslangm commented on #1122
@git-hulk can it be related to difference between `Docker Desktop for Intel Chip` and `Docker Desktop for Apple Chip`?

[2022-11-14 15:14] git-hulk commented on #1122
I also tested it on my intel chip, it also works well. You can take a look at qemu with `ps aux|grep qemu`. If I guess right, it should be running in `x86_64` mode.

[2022-11-14 16:32] ruslangm commented on #1122
[code]

[2022-11-15 03:02] maochongxin commented on #1093
I'd like to do

[2022-11-15 03:15] git-hulk commented on #1093
@maochongxin assigned, thanks~

[2022-11-15 03:35] #1098 closed, assigned to nobody

[2022-11-15 06:42] #1101 closed, assigned to nobody

[2022-11-15 07:35] PragmaTwice opened #1123 "Abort due to detaching un-joinable threads in slotmigrate_test"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Version

unstable

### Minimal reproduce step

https://github.com/apache/incubator-kvrocks/actions/runs/3467209459/jobs/5791922270

### What did you expect to see?

PASS

### What did you see instead?

[code]

[code]

### Anything Else?

_No response_

[2022-11-15 12:35] #1104 closed, assigned to nobody

[2022-11-15 13:27] PragmaTwice commented on #1072
This failure has been appearing not infrequently lately, and I thought we could do some investigation into it. cc @git-hulk @tisonkun

[2022-11-15 13:31] git-hulk commented on #1072
@PragmaTwice assigned to me and will follow up.

[2022-11-15 15:24] git-hulk commented on #1122
ummm... I have no idea why it happened, your QEMU is running in `aarch64` but it thought itself needs the `amd64` image:

[code]

[2022-11-15 15:40] #1093 closed, assigned to maochongxin

[2022-11-16 03:31] #1095 closed, assigned to nobody

[2022-11-17 09:24] tisonkun opened #1126 "Unstable Go case list_test"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Motivation

https://github.com/apache/incubator-kvrocks/actions/runs/3476132400/jobs/5811155755

[code]

### Solution

_No response_

### Are you willing to submit a PR?

- [ ] I'm willing to submit a PR!

[2022-11-17 10:27] iushas opened #1127 "command compact turn to be unknown command after rename compact to xxx"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Version

All version

### Minimal reproduce step

1. add rename config into config file
[code]
2. exce compact or _dont_run_compact_rudely
[code]

compacion_checker can worker well，
![image](https://user-images.githubusercontent.com/7236171/202422151-

[2022-11-17 10:38] git-hulk commented on #1127
@iushas That's a known bug and it's fixed in #1047. Good news is @PragmaTwice has called the release vote in Apache community, 2.2.0 will be coming tonight if no further objection.

[2022-11-17 10:41] PragmaTwice commented on #1127
@iushas Hi, you can try docker image apache/kvrocks:2.2.0 and see if it is solved. It is a prerelease now but will be an official release soon.

[2022-11-18 02:38] iushas commented on #1127
thans @git-hulk  and @PragmaTwice ， it's normal in 2.2.0。 Looking forward to the official release！

[2022-11-18 02:40] #1127 closed, assigned to nobody

[2022-11-18 02:43] git-hulk commented on #1127
@iushas New release is available now.

[2022-11-20 12:52] #1072 closed, assigned to git-hulk

[2022-11-22 03:42] tisonkun opened #1131 "Expose a parameter in dockerfile to specify the concurrent job level"
I think we need expose a parameter in dockerfile to specify the concurrent job level. Maybe in another PR.

_Originally posted by @PragmaTwice in https://github.com/apache/incubator-kvrocks/pull/1130#pullrequestreview-1189281426_

@PragmaTwice make sense. Perhaps `ARG BUILD_PARALLELISM`. You can read https://docs.docker.com/engine/reference/builder/#arg.

_Originally posted by @tisonkun in https:/

[2022-11-23 11:38] jasonhe88 opened #1132 "lua script load return bool true (PHP client)"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Version

MacOS 12.2.1
KVRocks 2.1.0

### Minimal reproduce step

[code]

### What did you expect to see?

hash value of lua script

### What did you see instead?

bool(true)

### Anything Else?

if switch to Redis, above code return correct hash value

[2022-11-23 12:02] git-hulk commented on #1132
@jasonhe88 Thanks for your feedback. You're right that's a bug which caused by Kvrocks return the inconsistent string with Redis.

The expected result is the bulk string(`$40\r\n{SHA}\r\n`) but returned the simple string(`+{SHA}\r\n`) instead. Refer: https://github.com/apache/incubator-kvrocks/blame/unstable/src/commands/redis_cmd.cc#L5036

[2022-11-23 12:24] jasonhe88 commented on #1132
thank you for your quick response

is there any workaround to resolve this issue?

[2022-11-23 13:14] git-hulk commented on #1132
@jasonhe88 Are you using `phpredis`? if yes, you can workaround by using the `raw` command and enable the OPT_REPLY_LITERAL option to send the `script load` which will parse the simple string as a string(except in the pipeline or multi mode): https://github.com/phpredis/phpredis/blob/b580505b40ef8b182ca79d49cda38c7d1ea9b5c7/redis.c#L3070

For the raw command, you can have a look at: https://github

[2022-11-23 15:44] jasonhe88 commented on #1132
Get it, Thank you so much!

[2022-11-23 15:44] #1132 closed, assigned to nobody

[2022-11-24 09:56] PragmaTwice opened #1135 "Check source code of kvrocks2redis by clang-tidy"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Motivation

As currently we run clang-tidy in CI to check source code of kvrocks (`src/*.cc`),  we can also add source code of kvrocks2redis as the input of clang-tidy.

### Solution

_No response_

### Are you willing to submit a PR?

- [x] I'm willi

[2022-11-24 10:03] PragmaTwice opened #1136 "Fuzzing on kvrocks!"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Motivation

We can perform some fuzz testing (specifically, some coverage-guided grey-box fuzzing, like libfuzzer or afl++) on kvrocks to ensure the robustness and stability of kvrocks and try to find more bugs via an automated way.

### Solution

_No

[2022-11-24 14:58] PragmaTwice opened #1138 "Split commands/redis_cmd.cc to multiple source files"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Motivation

`redis_cmd.cc` is becoming increasingly large, and it might be more organized to split it into multiple source files (or, translation units) by some sort of classification.

### Solution

_No response_

### Are you willing to submit a PR?

[2022-11-25 14:13] #1126 closed, assigned to git-hulk

[2022-11-28 14:22] SamSpiri opened #1146 "Docker container exits with code 132 and no output"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Version

Ubuntu 20.04.1 LTS \n \l
Linux home 5.4.0-122-generic #138-Ubuntu SMP Wed Jun 22 15:00:31 UTC 2022 x86_64 x86_64 x86_64 GNU/Linux
Docker version 19.03.5, build 633a0ea838

docker image apache/kvrocks:2.2.0

### Minimal reproduce step

$ docke

[2022-11-28 14:56] PragmaTwice commented on #1146
Hi, I am afraid kvrocks aborted due to the `Illegal Instruction` (128 + 4) signal, that is, the kvrocks executable binary in the docker image uses some instruction sets which is not supported by your cpu (in x64, it may be avx512 or something, you can use gdb to determine the concrete instruction which leads to termination).

I will investigate this problem, and you can build kvrocks on your local

[2022-11-28 17:16] SamSpiri commented on #1146
I tried on intel and it also worked until i triggered CTRL-C,
but it didn't produce any output while running and then before exiting it prints all the logs.
That's my main concern, because i have no logs of kvrocks in my kubernetes.
[code]

Previously it crashed on the old AMD:
[code]

[2022-11-29 02:46] git-hulk commented on #1146
@SamSpiri You can run `docker run -it --rm -p 6666:6666 apache/kvrocks:2.2.0` that specified the `-t` option to allocate a pseudo-TTY, then you should see the output if all goes smoothly.

[2022-11-29 11:46] SamSpiri commented on #1146
yep! with tty all goes smoothly.
It also worked for me in Kubernetes, now i get logs from the start. I just added one line "tty: true":
[code]

[2022-11-29 13:00] git-hulk commented on #1146
Cool, I will close this issue if no further discussion.