[2019-08-20 16:52] borg286 opened #2 "rename flushall to flushdb"
For compatability with the redis protocol you should implement the flushdb command. Currently you do this functionality with a command called flushall.

[2019-08-20 17:02] borg286 opened #3 "Incompatability with hscan and some other incompatibilities."
There is a python ORM library for redis called walrus. It has a very rich set of tests. I found this helpful in identifying problems with compatability with stock redis. https://github.com/coleifer/walrus
I was able to run these tests against your redis and it found some issues

Here is the output of the test run.
https://pastebin.com/mFfEjWPT

I have verified that stock redis passes all the tests

[2019-08-21 01:40] git-hulk commented on #2
@borg286 yeah, you're right, i would fix it soon, thanks~

[2019-08-21 01:53] git-hulk commented on #3
hi @borg286,

this's kvrocks supports commands https://github.com/meitu/kvrocks/blob/master/docs/support-commands.md, and some commands like `hscan`,`scan`,`info` weren't totally compatible with Redis, we just try our best to compatible with Redis. and some structures like GEO, HYPERLOGLOG would come soon

[2019-08-21 02:14] git-hulk commented on #2
fixed, https://github.com/meitu/kvrocks/commit/99fccfe5fef540568cb49667b415a652ca7de300

[2019-08-21 02:14] #2 closed

[2019-08-21 02:56] borg286 commented on #3
Your docs say it supports hscan, and I did a one-off test to see it worked with 1 element. Perhaps this test may reveal a corner case your code fails at.

[2019-08-21 03:27] git-hulk commented on #3
You're right, kvrocks hscan return `not found error` when the hash key was not found which not consistence with Redis. we should fix it, very very thanks for your feedback.

[2019-08-21 03:30] git-hulk opened #4 "FIX: inconsistence `hscan` command behavior with Redis"
Redis ` hscan` return the cursor "0" and empty list, but kvrocks return the not found error

[2019-08-21 06:00] #4 closed

[2019-08-24 04:57] spsneo opened #10 "Is kvrocks production ready?"
Is kvrocks production ready? Is it being used in production by others as well?
Is there any benchmark?

[2019-08-24 05:14] git-hulk commented on #10
yeah, we're running more than fifty kvrocks instances in production，but just open-source soon so I am not sure any others use it in production. the README show some benchmark metrics.

[2019-08-24 16:19] spsneo commented on #10
Thanks for answering. Closing this issue.

[2019-08-24 16:19] #10 closed

[2019-10-14 13:26] git-hulk opened #29 "Supports `slave-serve-stale-data` configuration and fix role"
- [ ] FIX role was incorrect when the slave loses connection with the master
- [ ] supports `slave-serve-stale-data` configuration

[2019-10-14 13:30] git-hulk opened #30 "Supprts new configuration"
- [ ] `min-slaves-to-write` deny the write when too few slaves can keep up with the master
- [ ] `min-slaves-max-lag`  to define max lag when the slave would be regarded as can't keep up with the master

[2019-10-15 07:47] git-hulk opened #31 "kvrocks2redis supports migrate data into the specify redis db num"

[2019-10-22 02:22] #29 closed

[2019-11-08 02:15] git-hulk opened #33 "scan the entire db when the token is requirepass"

[2019-11-08 02:15] git-hulk opened #34 "allow user token to compact the namespace"

[2019-11-08 02:16] git-hulk opened #35 "show db size by namespace"

[2019-11-09 15:10] #31 closed

[2019-11-19 07:21] #35 closed

[2019-11-20 10:57] #33 closed

[2019-11-21 02:56] #34 closed

[2019-12-09 03:15] git-hulk opened #48 "Add disk capacity to INFO command"

[2019-12-09 13:23] #48 closed

[2020-01-16 08:19] smartlee opened #53 "编译不成功"
cd src && make all
You need to run this command from the toplevel of the working tree.
make[1]: 进入目录“/root/kvrocks/src”

Hint: Fetching submodules from the remote
git submodule init
You need to run this command from the toplevel of the working tree.
make[1]: *** [SUBMODULES] 错误 1
make[1]: 离开目录“/root/kvrocks/src”
make: *** [all] 错误 2

[2020-01-16 08:22] git-hulk commented on #53
@smartlee 在 kvrocks 这层目录编译，不要进入 src

[2020-01-16 08:27] smartlee commented on #53
这个cd src && make all 是log 输出 我看了下Makefile 应该是git update那步出错 因为我编译机器上是不能连外网的
但又有另外一个问题
/root/kvrocks/external/jemalloc/src/background_thread.c:843：对‘dlsym’未定义的引用
/root/kvrocks/external/jemalloc/src/background_thread.c:843：对‘dlsym’未定义的引用
另外 问下有交流的微信群吗

[2020-01-16 08:36] git-hulk commented on #53
@smartlee gmail 邮件私你，没有联网的没法编译，依赖没法下载，建议找一台联网机器编译

[2020-01-16 08:52] #53 closed

[2020-02-11 17:07] smartlee opened #54 "在docker中启动就hang住了"
在main处开始打印 也没有任何输出
gdb 堆栈如下
[code]

strace 如下
[code]

[2020-02-12 01:05] git-hulk commented on #54
这个看起来是 gflags 在分配内存的时候 jemalloc 死锁了，麻烦帮忙执行：
[code]
提供一下完整的堆栈，然后可以尝试把 docker 基础镜像中的 gflags 依赖库去掉

[2020-02-12 01:52] smartlee commented on #54
只有一个线程 想不通死锁是哪里来的  gflags 依赖库 怎么去除？
[code]

[2020-02-12 02:10] git-hulk commented on #54
这个类似: https://github.com/jemalloc/jemalloc/issues/1318 ，不过最终认为是标准库的问题。如果是 centos 那么可以通过 yum erase， ubuntu 就通过 apt 来 uninstall

[2020-02-12 03:44] smartlee commented on #54
去掉了对gflags的依赖 还是卡住了
[code]

[2020-02-12 13:38] smartlee commented on #54
jemalloc 编译时修改 --with-jemalloc-prefix=je_ 解决问题

[2020-02-13 00:51] git-hulk commented on #54
依赖包会自动安装 jemalloc, 镜像不需要再编译安装

[2020-02-13 00:51] #54 closed

[2020-02-16 05:47] smartlee opened #56 "同步基本不可用"
1) masterA 有数据 slaveA slaveof过来，数据可以同步，flushall masterA的数据， slaveA 没有同步清空掉。都执行过dbsize scan
2)masterB 没数据 slaveB 同步过来up后 ，masterB上执行写数据,数据没有同步到slaveB
3)slaveof后 slave节点上经常会报以下错误, 但这个目录是清空后再启动slave的
[code]

[2020-02-16 10:41] git-hulk commented on #56
你这个是在同步的时候手动删除 backup 目录吗

[2020-02-16 14:20] smartlee commented on #56
没有在同步的时候手动删除backup 恰恰是为了避免影响 在启动master和slave的之前清空配置的dir目录的所有文件 从库和主库用的是2个目录 应该是不影响的

[2020-02-16 15:03] git-hulk commented on #56
恩，我自己重现看看，我是看你的错误日志应该是来自从库，backup 目录 `./kvrocksdatamaster/backup/meta` 看起来是 master

[2020-02-18 03:46] git-hulk commented on #56
@smartlee 第一个问题我根据你提供的步骤没办法重现你说的从库没有删除场景。能否针对这两个提供一下更加具体一些的重现场景呢？以及 kvrocks 版本

[2020-02-18 09:37] smartlee commented on #56
我这边是必现的 环境是ubuntu 18.04 kvrocks 1.1.5
1)启动一个data干净的master 端口是7777
2) 启动一个data干净的slave 端口是6666
3)master上set一条数据，slave slaveof过去，没办法同步，执行slaveof后，看到master是up,再执行dbsize scan 就报下面第二条错误
下面是master日志
[code]
下面是slave日志
[code]

[2020-02-18 09:41] git-hulk commented on #56
方便贴一下 master-slave 配置文件不，我直接用同样的配置来复现

[2020-02-18 10:00] smartlee commented on #56
除了 修改master的port  和 各自的data目录  其他的配置都是默认的 没改过
我将编出来的二进制分享出来了 链接：https://share.weiyun.com/5jTlpdW 密码：mcjn43 看看你那边能不能复现？

[2020-02-19 02:20] git-hulk commented on #56
@smartlee 你这个我跑一下没问题，应该是配置问题，你可以帮忙上传一下配置文件，我用你配置文件重现。

[2020-02-19 03:23] smartlee commented on #56
[kvrocksmaster.txt](https://github.com/meitu/kvrocks/files/4222947/kvrocksmaster.txt)
[kvrocks.txt](https://github.com/meitu/kvrocks/files/4222948/kvrocks.txt)

[2020-02-19 04:17] smartlee commented on #56
Failed to delete dir 这个报错 就是有其他线程占用 backup/meta这个文件夹 导致不能删除

[2020-02-19 04:41] smartlee commented on #56
又发现一个新的问题，slave master同步成功后，slaveof no one 然后slaveof master,这时候 master的数据没过来，master上报以下错误
[code]
这时候即使重启master,依然如此，并且master上执行flushall 也会core

[2020-02-19 04:44] git-hulk commented on #56
@smartlee 我拿你的二进制文件重现，对于 slave 配置不做 slaveof 也会 core， 我确认一下是不是包的问题。

[2020-02-19 04:56] git-hulk commented on #56
你编译的包有问题，对于 kvrocks.txt 配置，你提供的二进制文件启动去执行任何命令都会 core。然后你上面说的 master 在没 backup 完成重新 slaveof 会导致 core, 这个是 rocksdb backup 函数是非线程安全，这个已经在最新版本修复， commits : https://github.com/meitu/kvrocks/commit/4e1633704eef7546d73216341d27c0213d87a26a

你提供的这个二进制文件 core 属于的堆栈是在 libc 的 malloc, 可能跟你机器上 jemalloc 有关系。

[2020-02-19 08:03] smartlee commented on #56
那奇怪了 jemalloc是指定链接的 而且make文件我也没改

[2020-02-19 09:00] git-hulk commented on #56
kvrocks 所有依赖都会自动下载编译，只要安装 REAMDE 提到的编译工具即可。你可以找个干净的环境编译测试。

[2020-02-19 09:23] smartlee commented on #56
我改了下jemalloc的变异配置 目前看没有找libc的那个段错误  但master的数据不会同步到SLAVE上 两边看LOG 没有任何异常日志 ，某次尝试 出现了以下LOG，还无法找到规律复现
[code]

[2020-02-19 09:53] git-hulk commented on #56
这是从库找不到主库，你检查一下 master ip:port

[2020-02-19 10:37] smartlee commented on #56
ip:Port肯定是没问题的  我调试了下 是libevent里面报错来的 看上去是异步connect timeout了，errno是115 ，也是偶发，你尝试将kvrocks slaveof到一个redis 上看看，应该能出现这种错误，前面的PING/PONG命令应该是通的 不该挂在这部有没有同步设计方面的文档，我也可以debug看看 目前看来调起来有点累 。
还是那个问题
1) SLAVEOF过去 现在看上去UP了 这时候master上写数据 数据没同步过来，而且也看不到任何日志的错误
2）重启master ,老的master数据同步到slave上 同步完master的数据却到不了slave上，这时候SLAVE上看到的依然是UP

[2020-02-19 10:45] git-hulk commented on #56
没明白你描述的问题，上面的错误信息来看就是 master 连不上。你可以在主库和从库都执行: `info replication` 贴一下错误信息

[2020-02-19 11:06] smartlee commented on #56
1）这种情况我在尝试将kvrocks slaveof到redis上会发生，我知道kvrocks同步redis肯定不行，但不应该卡在这个阶段，TCP的链接肯定是通的，所以我debug 看是libevent那边返回115了，目前看下来正常的kvrocks同步kvrocks也是有这种问题，但我不能稳定复现
2）最开始 清空master/slave data 启动 6666 slave 到master 7777
slave
[code]
master
[code]
然后master上插入一条数据
[code]
slave上看不到该数据 ,并且没有任何报错
[code]
重启slave 再slaveof到master,这时候
* 有时候会看到刚刚set 的那条hello数据，并且slave上看到master是up的，但 master上新set的数据依然看不到
* 有时候slave上有如下错误
[co

[2020-02-20 10:42] smartlee commented on #56
问题出现在文件系统上 我是mac上装的parallels desktop 里面跑的linux,共享了mac上的文件夹，这个mount出来的文件系统叫prl_fs 看上去是不支持一些linux文件操作的系统调用 我换到xfs目录上就好了 @git-hulk 多谢支持

[2020-02-20 10:48] smartlee opened #57 "QPS测试对比PIKA"
对比了下和pika的性能测试，以下面的SET命令为例，不挂slave
[code]
pika大概QPS稳定在2000+,kvrocks的大概900多，想请教是否有性能编译方面的优化建议以达到和pika差不多的性能？

[2020-02-20 10:54] git-hulk commented on #56
@smartlee 收到~ 赞

[2020-02-20 10:55] git-hulk commented on #56
我关闭这个 PR ，有问题再重新打开

[2020-02-20 10:55] #56 closed

[2020-02-20 10:57] git-hulk commented on #57
这个不太应该，我之前测试数据来看性能是差不多。你看看配置的worker 线程数是否一直，kvrocks 默认只有 4

[2020-02-20 11:03] smartlee commented on #57
上面这个命令   你那边得到的QPS 是多少？我这边测试的机器也是E5的CPU kvrocks.conf里面配置worker的数量是8

[2020-03-03 16:11] smartlee opened #62 "提个bug"
https://github.com/meitu/kvrocks/blob/2ff46ef91d47f37945354d3a9e77ad49f33c4ce0/src/redis_request.cc#L49
这地方不能return ok,否则可能会导致命令断流，解析出错，我这边可以稳定复现，只能break。

[2020-03-03 16:21] smartlee opened #63 "slaveof redis的支持"
因为我们实际业务需要，要支持kvrocks slaveof redis实例，目前这部分代码我已经实现了个最短路径：
* 支持redis的psync协议
* 解析redis的rdb文件
* 将rdb文件同步到kvrocks中
* 定期replconf ack offset
代码已经在测试环境跑通，当然距离真正上线还有断时间，此外redis slaveof kvrocks也在下步计划中想知道完善后是否可以将这部分代码提到到本仓库？因为可能有其他公司有类似的需求。

[2020-03-04 02:14] git-hulk commented on #62
@smartlee 可以帮忙提供一下问题和复现步骤

[2020-03-04 02:16] git-hulk commented on #63
欢迎，这两个东西建议拆分提

[2020-03-04 03:11] smartlee commented on #62
这个是在流量大的时候必定会出现，考虑一下发过来几百条这样的命令
*3$3set$1a$1a
*3$3set$1a中断第一次收结束，在Bulklen这地方返回OK，这个地方解析执行会返回错误
第二次开始$1a
*3$3set$1a$1a
*3$3set$1a$1a

我们测试的例子就是
*3
$7
PUBLISH
$18
__sentinel__:hello
$104 这个地方中断了 后面这104个字符这次没有收到，下次接受才能收到，但这个地方执行的话就会报错

[2020-03-04 04:05] git-hulk commented on #62
感谢反馈~

[2020-03-05 02:56] smartlee commented on #62
补充下 后续测试发现的问题
这个地方处理起来得非常小心，否则就出错，先纠正下上面的错误这个地方，我的修改成break也是有问题的，这些问题在流量小的时候可能都不存在，但是一个定时炸弹，在大流量的时候就出问题了。
* 首先 BulkLen，BulkData这个地方如果收不到数据，必须等libevent回调过来继续收，所以我上面说break，让它继续循环，其实一直会收不到数据，因为libevent底层在处理缓冲区时加锁，一直死循环导致一直无法填充底层的buffer,所以一直在while true里面卡住了，而且usleep一段时间再break也不行，所以最好的方法就是等libevent底层回调，但这个地方直接返回ok也是有问题的，因为无法正确处理是否正确处理了一次循环，还是等待下次继续处理，还是出错，比较好的方式是，Status里面应该加retry语义的字段类似linux的EAGAIN，上层再

[2020-03-05 03:10] git-hulk commented on #62
这个地方返回 Status::Again() 类似的状态就可以了，下次进来以及解析的 token 信息仍然不会消失

[code]
这个是 Redis 支持 inline 协议

[2020-03-05 03:13] git-hulk commented on #62
Redis 是二进制安全的协议，也就是应该要能允许数据里面携带 `\r\n` 字符，所以直接获取 bulk_len + 2 才是对的，不能按照 \r\n 来判断

[2020-03-05 05:00] smartlee commented on #62
我意思是 evbuffer_pullup可能返回任何值 不一定是预期的值 我调试的时候 bulk_len_是 7 返回值值是2,因为buffer可能没那么多数据，那就要等待下次callback再取。redis 行为中 set a \r\n 再去get a 返回是\\r\\n,所以evbuffer_readln没问题

[2020-03-05 05:38] git-hulk commented on #62
这个在 evbuffer_pullup 上一行代码对 buffer 的长度做了判断，所以应该没有问题

[2020-03-05 06:29] karelrooted commented on #62
这个地方的重现步骤有没有什么重现的代码程序方式之类的提供一下？我试了用redis-benchmark及在线上查了一批日志，重现不了这种错误，错误是INFO日志里面有这种信息“Failed to tokenize the request, encounter error:” ？

代码里判定了若  multi_bulk_len_ ==0 才会将 tokens_ 赋值给 commands_, 所以理论上 只收到一部分，返回OK是不会触发执行一部分的命令的，会在后续的OnRead event中等完整的命令信息接收完毕，才会执行那条完整的命令

[2020-03-05 06:41] smartlee commented on #62
我这边是在实现同步redis作为master的实现的时候发现的，实现上跟代码里现有的有区别，仔细看了下原来的逻辑，的确是return ok不会导致报错，为了防止万一 我不复用这个函数，重复写个类似的 来接受master的命令，原来的逻辑保持原样 ，看看能不能复现，但愿是我不小心误用。

[2020-03-11 11:11] #62 closed

[2020-03-12 10:02] smartlee opened #64 "段错误"
运行一段时间经常会段错误，抓了core看了下，可能问题是在evbuffer_drain这里面，
chain这个地方为空指针取值了，网上搜了下，指出bufferevent_socket_new 的时候要加BEV_OPT_THREADSAFE，猜测可能是这个问题。
![image](https://user-images.githubusercontent.com/1262498/76509672-5bb45c80-648b-11ea-94f2-8ab361b75050.png)

[2020-03-12 10:08] git-hulk commented on #64
这个看起来不是 kvrocks 的堆栈来着

[2020-03-12 12:07] smartlee commented on #64
的确是kvrocks的堆栈
![image](https://user-images.githubusercontent.com/1262498/76520003-fe290b80-649c-11ea-9027-93be85831c61.png)

[2020-03-12 13:09] git-hulk commented on #64
可以执行一下 bt, 贴一下

[2020-03-13 02:39] smartlee commented on #64
![image](https://user-images.githubusercontent.com/1262498/76584381-bb0b7e80-6516-11ea-9d8f-25b1c74ac691.png)

[2020-03-13 02:46] git-hulk commented on #64
这个是你修改过的代码吧？kvrocks 的连接是线程内独占的，不会有 data race，另外这个堆栈看起来是修改过的代码。

[2020-03-13 03:09] smartlee commented on #64
worker这边我没有动过 我是改了master-repl  线程的代码

[2020-03-18 06:43] git-hulk opened #66 "Avoid unnecessary `generation_version` in Metadata constructor"
the metadata constructor would always generate a new version with `srandom`, and may cause performance degraded.

[2020-03-19 07:55] smartlee commented on #64
看了十几个core文件 发现了问题 的确是我们改的代码引起的  改的代码引出同步redis 的线程，但这个线程在命令传播阶段会偶尔跟处理客户端的线程访问同一个evbuffer  非常奇怪

[2020-03-19 08:05] git-hulk commented on #64
恩，kvrocks 里面的连接都是线程内的，不会有 data race，你那边设计上也需要调整一下

[2020-03-19 11:06] #66 closed

[2020-03-19 11:06] #64 closed

[2020-03-23 02:38] smartlee opened #68 "deadlock"
目前发现一个deadlock，原始代码没有复现，我改写的代码会出现，大概几天会出现一次，看原始代码觉得可能也有这个隐患，以下是deadlock时候的堆栈，如有不正确，请指正谢谢！
[code]

1）一个worker获得了server的锁 pubsub_channels_mu_ 等待worker的锁conns_mu_ 线程2
另外一个定时器触发，到时间清理timeout的链接 线程7 获得了worker的锁conns_mu_在connection析构时会等待server的锁 pubsub_channels_mu_，就卡死在这里

2） KickoutIdleClients 这个函数的行为不是很理解，按理是清理conns_和monitor_conns_的连接数，但这里面并没有遍历monitor_conns_的map,却在FreeConnectionByID里面去找monitor_conns_

[2020-03-23 02:52] git-hulk commented on #68
这里确实是会有死锁的可能性

[2020-03-23 07:15] smartlee commented on #68
@karelrooted 帮忙看看我的第二个问题

[2020-03-23 08:04] git-hulk commented on #68
@smartlee 不能直接去 erase 连接，因为在关闭连接(destroy connection)时需要 unscribe 所有的 topic, 也会造成锁嵌套

[2020-03-23 08:15] smartlee commented on #68
我测试了下  将timeout的保存下来，erase 不会造成关闭连接 也不会导致connection*的析构
此外还是这个问题 monitor_conns_ 这个并没有在KickoutIdleClients 中find出来 却在FreeConnectionByID中find? 不是很明白这部分逻辑

[2020-03-23 08:28] git-hulk commented on #68
connection 需要关闭，所以要释放掉

后面的 `monitor_conns_ ` 确实不需要，这块因为跟死锁没关系，所以单独 FIX

[2020-03-23 08:44] smartlee commented on #68
@git-hulk 我的意思是用中间map缓存符合timeout 的connection* ，缓存后conns_中的connection*是可以erase掉的，缓存map中的connection*在FreeConnectionByID释放，而这个释放是不用加锁的

[2020-03-23 09:48] git-hulk commented on #68
@smartlee 这个是不可以的 `conns_` 本身会有线程之间的 data race, 遍历一定需要加锁

[2020-03-24 02:41] smartlee commented on #68
erase conn_的时候加锁没问题，我意思是erase之前将conn_中timeout的connection* 放到中间map中，FreeConnectionByID中释放map中的connection*  ，FreeConnectionByID可以不用锁，也就避免了死锁。

[2020-03-24 03:19] karelrooted commented on #68
代码里面其中有一个命令是client kill {conn_id},  可以在A worker thread里把 B worker thread的连接杀掉，所以只要是delete conntion都必须要加锁

[2020-03-25 03:37] smartlee commented on #68
@karelrooted 看了下 的确是我疏忽了这点 谢谢解释

[2020-03-29 17:27] #68 closed

[2020-04-20 05:59] #57 closed

[2020-04-20 05:59] #63 closed

[2020-05-04 14:55] tkram01 opened #81 "build error with master"
Hi,

I'm getting the following build error when trying to build from git.

[ 87%] Building CXX object CMakeFiles/kvrocks2redis.dir/tools/kvrocks2redis/parser.cc.o
[ 88%] Linking CXX executable kvrocks2redis
/usr/bin/ld: cannot find -lstdc++
collect2: error: ld returned 1 exit status
make[2]: *** [kvrocks2redis] Error 1
make[1]: *** [CMakeFiles/kvrocks2redis.dir/all] Error 2
make: *** [all] Error 2

[2020-05-04 15:03] git-hulk commented on #81
It seems that libstdc++ wasn't installed, you can try:

[code]

or use `sudo yum search libstdc++` to to see the matching packages

[2020-05-04 15:07] tkram01 commented on #81
this is what is installed

rpm -q -a | grep libstd

libstdc++-devel-4.8.5-4.el7.x86_64
libstdc++-4.8.5-4.el7.x86_64

[2020-05-04 15:07] git-hulk commented on #81
@tkram01 by the way, you should use the Makefile instead of build.sh

[code]

[2020-05-04 15:11] git-hulk commented on #81
you can try to fix it by installing the libstdc++-static package as well

[2020-05-04 15:22] tkram01 commented on #81
When using the Makefile I get

[appsuser@xxx kvrocks]$ make
cd src && make all
You need to run this command from the toplevel of the working tree.
make[1]: Entering directory `/apps/appsuser/kvrocks/src'

Hint: Fetching submodules from the remote
git submodule init
You need to run this command from the toplevel of the working tree.
make[1]: *** [SUBMODULES] Error 1
make[1]: Leaving directory `/app

[2020-05-04 15:25] git-hulk commented on #81
you should run the `make` command from toplevel of the working tree instead of src

[2020-05-04 15:29] tkram01 commented on #81
I did...

[appsuser@xxx kvrocks]$ pwd
/cluster/home/appsuser/kvrocks
[appsuser@xxx kvrocks]$ make
cd src && make all
You need to run this command from the toplevel of the working tree.
make[1]: Entering directory `/apps/appsuser/kvrocks/src'

Hint: Fetching submodules from the remote
git submodule init
You need to run this command from the toplevel of the working tree.
make[1]: *** [SUBMODULES] Er

[2020-05-04 15:43] git-hulk commented on #81
It seems that working dir didn't work in Redhat, you can replace the `src/Makefile` line 12:

[code]
with
[code]

or execute the command manually
[code]

[2020-05-04 16:00] tkram01 commented on #81
working now - thanks!

[2020-05-04 16:00] #81 closed

[2020-05-13 05:18] git-hulk opened #86 "Bug: don't check the client idle timeout in replication thread"

[2020-05-13 09:24] #86 closed

[2020-06-25 03:53] aniruddhadas opened #95 "Support column families in KVRocks"
Hi,

I couldn't find anyway of setting up new column families in KVRocks. Is there a way to setup a new namespace KVRocks and execute (redis-cli --pipe) commands against the new column family?

Thanks,
Aniruddha

[2020-06-26 21:46] aniruddhadas opened #96 "Plan to RocksDB.GetProperty(prop)?"
Hi,

Is there are plan to expose the data in: rokuDB.getProperty("rocksdb.stats") in the near future?

Thanks
Aniruddha

[2020-06-28 02:03] git-hulk commented on #96
@aniruddhadas the info command supported `info rocksdb` now

[2020-06-28 03:18] git-hulk commented on #95
hi @aniruddhadas ,  you can use `namespace` command to create/delete/set/list namespaces: https://github.com/bitleak/kvrocks#namspace , but the new namespace wouldn't create new column family actually.

[2020-06-29 16:12] aniruddhadas commented on #96
thanks @git-hulk. I wanted something more along the lines of:

`rocksDB.getProperty("rocksdb.stats");`

in Rocks DB the output is something like this:

** Compaction Stats [default] **
Level    Files   Size     Score Read(GB)  Rn(GB) Rnp1(GB) Write(GB) Wnew(GB) Moved(GB) W-Amp Rd(MB/s) Wr(MB/s) Comp(sec) CompMergeCPU(sec) Comp(cnt) Avg(sec) KeyIn KeyDrop
-------------------------------------------

[2020-06-29 16:13] aniruddhadas commented on #95
i see thanks @git-hulk.. does using namespace guarantee compartmentalization? or does the data in 2 different namespaces share the same memtables and ssts?

[2020-06-30 00:36] git-hulk commented on #95
yeah, we use namespace as  the key prefix instead of different column families

[2020-07-08 04:03] binwangcn opened #99 "Any benchmark compare with ledis, ssdb or redix? simple test seems write performance much slower...."
**Describe the bug**
A clear and concise description of what the bug is.

 - OS: [e.g. Centos 7]
 - Version [e.g. 1.1.5]

**To Reproduce**
Steps to reproduce the behavior:
1.
2.
3.

**Expected behavior**
A clear and concise description of what you expected to happen.

[2020-07-08 05:00] git-hulk commented on #99
compare with Redis or others? can you paste the Redis benchmark log?

[2020-08-21 10:40] git-hulk opened #118 "find the suitable size for SST"
the key-value size may so be quite different in many scenes, and use 256MiB as SST file size may cause data loading(large index/filter block) ineffective when the key-value was too small. kvrocks supports user-defined SST file in config(`rocksdb.target_file_size_base`), but it still too trivial and inconvenient to adjust the different sizes for different instances.  so we want to periodic auto-adj

[2020-08-26 05:48] mybee opened #121 "编译失败"
Centos7

[root@i-h60b6jz2 kvrocks]# make -j4
cd src && make all
make[1]: 进入目录“/root/kvrocks/src”
    CC main.o
    CC server.o
    LINK kvrocks
/root/kvrocks/external/glog/.libs/libglog.a(libglog_la-logging.o)：在函数‘__static_initialization_and_destruction_0(int, int)’中：
logging.cc:(.text+0x6299)：对‘google::FlagRegisterer::FlagRegisterer(char const*, char const*, char const*, char const*, void*, void*

[2020-08-26 05:51] git-hulk commented on #121
@mybee 这个是因为你本地装了 gflags, 然后 glogs 自动识别加上了。可以先通过 make LDFLAGS+='-lgflags -pthread' 解决，我后面也在 makefile 里面去加一下 gflags

[2020-08-26 05:54] mybee commented on #121
[root@i-h60b6jz2 kvrocks]# make LDFLAGS+='-lgflags -pthread'
cd src && make all
make[1]: 进入目录“/root/kvrocks/src”
    CC server.o
    CC main.o
    LINK kvrocks
/root/kvrocks/external/rocksdb/librocksdb.a(format.o)：在函数‘Snappy_GetUncompressedLength’中：
/root/kvrocks/external/rocksdb/./util/compression.h:563：对‘snappy::GetUncompressedLength(char const*, unsigned long, unsigned long*)’未定义的引用
/root/kvroc

[2020-08-26 05:59] git-hulk commented on #121
咦，你是什么 os,  再试一下 make LDFLAGS+='-lsnappy -lgflags -pthread' ，另外确认一下本地是否安装了 snappy/gflags

[2020-08-26 06:03] mybee commented on #121
1. CentOS7
2. 这个命令也是同样的错
3. 有安装, 之前编译rocksdb装的
![image](https://user-images.githubusercontent.com/8556916/91267004-f50acd00-e7a4-11ea-8130-9f7612d53210.png)

[2020-08-26 06:08] git-hulk commented on #121
你微信加一下我，搜索 hulkdev

[2020-08-26 13:56] #121 closed

[2020-09-03 07:48] karelrooted commented on #118
TODO: can't find the func to change block_size dynamically , to be continued...

[2020-09-03 08:03] #118 closed

[2020-09-04 05:25] haodiao opened #123 "Cannot run on debian"
Compilation is completed on debian, run error

[2020-09-04 05:47] git-hulk commented on #123
@haodiao what's your GCC version? can you paste the error log?

[2020-09-04 08:23] haodiao commented on #123
Debian9 and debian10 have the same error

[code]

[2020-09-04 08:53] git-hulk commented on #123
@haodiao try `rm /tmp/kvrocks/` and restart the kvrocks

[2020-09-05 10:09] haodiao commented on #123
@git-hulk  the problem still exists

[2020-09-05 10:41] git-hulk commented on #123
It seems that something was gone wrong when creating the DB files in `/tmp` dir in your OS.  Try another DB dir in config file: https://github.com/bitleak/kvrocks/blob/master/kvrocks.conf#L70

[2020-09-05 13:09] haodiao commented on #123
I suggest you answer after testing

[2020-09-05 14:19] git-hulk commented on #123
@haodiao I can't reproduce the issue with clean Debian 9, Please check your db dir status.

[code]

[2020-09-05 19:08] haodiao commented on #123
[code]

[2020-09-11 07:57] karelrooted commented on #118
Benchmark(String):

#### Hardware

* Macbook Pro (15-inch, 2017)

#### Software

* Centos 7 VM
  * Memory: 4 GiB
* Kvrocks
  * options->use_direct_reads = true (don't use os's page cache)
  * rocksdb.metadata_block_cache_size 60M

#### Result

[code]

[2020-09-29 10:11] guoanwu commented on #123
see the similar issue on the "4.18.16-300.fc29.x86_64", build is successfully but when run it will fail to open the CURRENT file.

[2020-09-29 10:57] guoanwu commented on #123
you can first check the external rocksdb folder to see if you can run the benchmark like:
taskset -c 0-23,48-71 ./db_bench     --benchmarks=fillrandom,stats,levelstats     --enable_write_thread_adaptive_yield=false     --disable_auto_compactions=false     --max_background_compactions=8     --max_background_flushes=4     --value_size=64     --key_size=16     --db=/mnt/pmem0/sst     --wal_dir=/mnt/p

[2020-10-16 07:54] karelrooted commented on #118
related issue: https://github.com/facebook/rocksdb/issues/7385
related PR: https://github.com/facebook/rocksdb/pull/7936

[2020-12-19 07:53] rock59 opened #143 "Support encryption at rest"
It would be nice to support encryption at rest. CockroachDB's implementation for Rocksdb maybe a good starting point.

[2020-12-19 08:20] git-hulk commented on #143
it’s really a good point to enhance the security by encrypting the data node. I would have a look at how can we achieve it on the kvrocks.

[2020-12-20 15:34] rock59 opened #144 "Maximum key length"
What is the maximum key length for redis data types in KVRocks ?

[2020-12-21 01:57] git-hulk commented on #144
the key length was not limited directly, it only limits the max bulk string to  512 MiB.

[2020-12-21 09:04] winterfall233 opened #145 "kvrocks2redis works weird"
[What did I do?]
When I use kvrocks2redis to migrate data to a Redis server, the auth part does not work.
1.kvrocks server configured by:
    requirepass=mypwd_kvrocks
    # masterauth
2.kvrocks2redis configured by:
    kvrocks xx.xx.xx.xx 6666 mypwd_kvrocks
    namespace.ns1 xx.xx.xx.xx 6379 mypwd_redis 1

Meanwhile, Redis server is ready with port 6379 & pwd 'mypwd_redis'.
And I did this on kvro

[2020-12-21 09:05] git-hulk commented on #145
can u help to check this issue?

[2020-12-21 09:24] winterfall233 commented on #145
some guess:
kvrocks2redis must config a "kvrocks slave node" as data source, right?

[2020-12-21 10:02] rock59 commented on #144
@git-hulk  Great. thanks

[2020-12-21 10:14] #145 closed

[2020-12-21 10:17] karelrooted commented on #145
is a bug, forgot to test password not empty situation after add selectDB support

[2020-12-21 19:20] rock59 opened #147 "Any plan to support SSL?"
libevent provides ssl with bufferevent_ssl.h and openssl. I guess is not hard to support ssl.  Is there any plan to support ssl?

[2020-12-22 01:43] git-hulk commented on #147
yup, it should be easy but we have no plan now

[2020-12-22 01:44] git-hulk commented on #144
Going to close the issue, feel free to reopen it if has any question

[2020-12-22 01:44] #144 closed

[2020-12-22 13:01] rock59 opened #148 "Please support unix domain socket"
As the title

[2020-12-31 06:01] yndc opened #150 "Illegal instruction error when running on server (Ubuntu)"
**Describe the bug**
Hi, great project. We're trying to move from `redis` to `kvrocks` for temporary KV storage. We have `kvrocks` successfully running on our local machines but it couldn't run on our servers in DigitalOcean.

Running the binary directly throws error: `Illegal instruction` on start.
Running in container (`hulkdev/kvrocks`) on the server fails with no error or logs. Works in local.

[2020-12-31 06:30] git-hulk commented on #150
Hi, what's your GCC version, is it installed from the ubuntu `apt install` or compiled?

the docker version seems ok on my side,  you mean that kvrocks fail after running, or can't connect?
[code]

[code]

[2020-12-31 07:45] yndc commented on #150
Hi, this is my GCC version, installed by `apt install`:

[code]
When I try running the docker version in the server it doesn't log anything, it just stops.
[code]

Tried running the binary directly (in server):
[code]

[2020-12-31 08:03] git-hulk commented on #150
it seems the docker version has the same issue as the compiled version since it's exited after the running. the `Illegal instruction` means the instruction was generated by GCC which can't be recognized by the current CPU

[2020-12-31 10:34] yndc commented on #150
Hi, thanks for your reply. Unfortunately I tried recompiling with your instructions (`PORTABLE=1`) but it still have the same error.

Here is the server's CPU info from `cat /proc/cpuinfo` I think it might help:
[code]

[2020-12-31 11:05] yndc commented on #150
Oh my, I forgot to run `make clean` inside the `src` folder after adding `PORTABLE=1`! 😅

The binary from recompiling with that flag works on my server now. Thanks for the support!

[2020-12-31 11:05] #150 closed

[2021-01-08 07:48] clyang opened #151 "Can I upgrade from 1.1.38 to 1.2.0"
According to the Changelog, rocksdb has been revert to previous version in 1.2.0.
Will it break anything if I upgrade from 1.1.38?

[2021-01-08 07:50] git-hulk commented on #151
yup, the minor version wouldn't have the breaking change, so it's ok to upgrade the 1.1.x to the latest.

[2021-01-08 07:53] clyang commented on #151
Got it. Many thanks!

[2021-01-08 07:53] #151 closed

[2021-02-02 13:56] git-hulk opened #166 "Improve the precision of the `incrbyfloat`/`hincrbyfloat` command to double"
**Describe the bug**
the precision of the `incrbyfloat`/`hincrbyfloat` command was float(32bit) which may cause loss of accuracy.

**To Reproduce**
Steps to reproduce the behavior:
1. set novar 17179869184
2. incrbyfloat novar 1.5

**Expected behavior**
the result should be 17179869185.5

[2021-02-03 02:55] #166 closed

[2021-02-17 16:00] hsnamed commented on #123
I've the same issue and didnt find a chance to solve it on Debian 10.
db_bench - unable to find it in external folder.
gcc version 8.3.0 (Debian 8.3.0-6)

[2021-02-18 01:46] git-hulk commented on #123
@hsnamed db_bench was the tool in the RocksDB, NOT in kvrocks

[2021-02-20 06:56] ShooterIT opened #190 "[NEW] Optimize TCP keepalive detection time"
**The problem/use-case that the feature addresses**
On Linux, the tcp keeaplive detection time is too long, it is not useful to find some problem actually

**Description of the feature**
We need to set the tcp-keepalive interval and probes if the socket keepalive is disabled

**Alternatives you've considered**
Maybe we also can provide a configure to set keepalive, just list Redis

**Additional in

[2021-03-05 04:57] git-hulk opened #198 "Deprecate and remove the python functional test caess"
We would remove the old version functional test cases and replace them with the TCL version. The biggest advantage was we can merge the test cases from the Redis.

[2021-03-08 03:10] #198 closed

[2021-03-10 03:29] #190 closed

[2021-03-23 02:17] ShooterIT opened #209 "RocksDB optimization"
## Compression type
- Support multiple compression types

## Parameters
- enable enable_pipelined_write if having more CPUs
- use index_type: kTwoLevelIndexSearch to make index and filter blocks smaller
- enable pin_top_level_index_and_filter, pin_l0_filter_and_index_blocks_in_cache
- for cache_index_and_filter_blocks_with_high_priority, to avoid too high
- NewBloomFilterPolicy(bits_per_key, false

[2021-04-13 12:15] ShooterIT opened #219 "[NEW] Support redis cluster mode"
# 1 Background

Currently, we discard the support for `codis` mode,  if we want to deploy kvrocks cluster, we need to pre-shard for cluster and deploy a proxy like `twemproxy` to route requests. This cluster solution also is adopted when redis doesn't support cluster mode, but it is not convenient for failover, linear scale, management, moreover, we must route requests by a proxy, that must cause

[2021-04-15 03:38] ShooterIT opened #220 "[QUESTION] Should we use backup or checkpoint of rocksdb for kvrocks backup"
Currently, we use checkpoint of rocksdb to implement kvrocks full synchronization, but kvrocks backup still uses backup of rocksdb. As we know, rocksdb backup costs much bandwidth and space of disk, but rocksdb backup can implement incremental backup and support to store into HDFS, these are good features. So i think we should make a decision to use  backup or checkpoint of rocksdb for kvrocks bac

[2021-04-15 03:55] git-hulk commented on #220
It's really a good question, we expected users to use another disk to store the backup, but seems most users won't do that. So it would be fine only to support the checkpoint for kvrocks backup IMO.

[2021-04-15 05:02] ShooterIT commented on #220
Yes, i think users don't buy this idea, it is not easy to deploy and maintain. For remote backup, that is a good idea because our server originally is a persistent key value server and the backup should not be local.  but actually HDFS is not common because some companies don't use it, they may just copy backup to other servers or remote storage.

Maybe it is good idea to support them together, al

[2021-04-15 09:24] git-hulk commented on #220
yeah, it would be better to support both if it didn't import too much complexity.

[2021-04-19 20:40] jbenguira opened #223 "[BUG] Docker image is dead"
I tried the docker version indicated in the readme:
docker run -it -p 6666:6666 bitleak/kvrocks

But it's failing because the docker image is not available anymore on docker hub.

Is there any reason why?

[2021-04-20 02:11] git-hulk commented on #223
@jbenguira sorry that the latest docker image was deleted by mistake and it's recovered now. You can have a try now.

[2021-04-20 05:19] jbenguira commented on #223
Thanks :)

[2021-04-20 05:19] #223 closed, assigned to nobody

[2021-04-20 16:11] smdev0925 opened #225 "[BUG] Unable to build."
Attempting to compile as per instructions on Readme. Unable to build.

![image](https://user-images.githubusercontent.com/16979556/115429334-3865f000-a1fb-11eb-9fa8-619e4c5c8681.png)

`./db/version_edit.h:86:8: error: implicitly-declared ‘constexpr rocksdb::FileDescriptor::FileDescriptor(const rocksdb::FileDescriptor&)’ is deprecated [-Werror=deprecated-copy]`

 - OS: Ubuntu 20.04
 - GCC/G++ (Ubun

[2021-04-20 17:12] smdev0925 commented on #225
Just an as update, it wouldn't compile under GCC 10.2.0 either but I did have success using GCC 8.4.0.

Perhaps add that as a requirement within your Readme.md?

![image](https://user-images.githubusercontent.com/16979556/115434306-74e81a80-a200-11eb-8a3d-7cac45fd5a57.png)

[2021-04-21 02:02] git-hulk commented on #225
many thanks to @shanemarsh28 to find out about this issue, it seems rocksdb doesn't support higher version GCC(>=9) and fixed in newer, we would also fix that. any progress would update in this channel.

relate issue: https://github.com/facebook/rocksdb/issues/5303

[2021-04-21 05:20] git-hulk commented on #225
We have confirmed that the newer version(after 6.15.1) of rocksdb has compatible with gcc9 in ubuntu20.04. @karelrooted would help to investigate whether the newer version has other issues within kvrocks, and we would upgrade the rocksdb dependence to the latest if all works well.

[2021-04-21 06:05] #225 closed, assigned to karelrooted

[2021-04-21 13:13] jbenguira opened #227 "[NEW] set a max size in mb and max connections to a namespace"
It would be really great to be able to set a max size (in mb ideally or number of keys) and a max number of connections to a namespace. The use case is to have a shared instance that can be used safely with quota by a lot of users.

Thanks for considering this :)

[2021-04-21 14:48] git-hulk commented on #227
It's hard to isolate the connection or the DB size between namespaces with the current design, since the namespace was designed to isolate data between different dimension data like Redis DB indeed, with no intention to solve the multi-users in the same instance.

[2021-04-21 14:49] jbenguira commented on #227
OK thanks for the clarification

[2021-04-21 14:49] #227 closed, assigned to nobody

[2021-04-23 08:53] #220 closed, assigned to nobody

[2021-04-23 08:54] ShooterIT commented on #220
For incremental backup, maybe https://github.com/bitleak/kvrocks/wiki/How-to-backup can give you a idea :)

[2021-05-03 09:03] aberfeldy opened #242 "[BUG] docker image crash"
**Describe the bug**
Hey!
Tried to run kvrocks with your docker image, but it doesn't start or produce any logs. Docker deamon on Mac and ubuntu (20.0.3 & 20.10.6) both report that the container exited with Code 132.
So I cloned into the 2.0 branch and build from source and to build the docker image fresh. And then it worked like charm, it logs `Version: 2.0.0 @000b3627` and redis-cli is fine with

[2021-05-03 13:45] git-hulk commented on #242
Thanks for your feedback, I also tried that on my side and it's caused by Illegal instruction. I'll work on it and update if has any progress.

[2021-05-03 14:40] git-hulk commented on #242
Fixed in https://github.com/bitleak/kvrocks/pull/244

[2021-05-04 07:08] aberfeldy commented on #242
Tried it out right now, got: `Version: 999.999.999 @e28d7ba8`
Love it, thanks a lot!

[2021-05-04 08:46] #242 closed, assigned to git-hulk

[2021-05-06 13:24] git-hulk opened #249 "[NEW] Impl the `command` command which compatible with Redis"
we want a `command` command like the Redis and leave attributes empty if missing

[2021-05-08 13:41] calvinxiao opened #257 "Dead lock possible?"
The following code loop over `vector<StringPair>` and perform locking on each item.

- https://github.com/bitleak/kvrocks/blob/fbc41f03473c126a51c446a9216fef596dd47adc/src/redis_string.cc#L271-L285
- https://github.com/bitleak/kvrocks/blob/fbc41f03473c126a51c446a9216fef596dd47adc/src/redis_string.cc#L309-L323

If the keys are not sorted, is there going to be a potential dead lock problem?

[2021-05-08 14:38] git-hulk commented on #257
Good question, there's not a possible deadlock since we lock and unlock one key every loop. if we lock all keys outside at once outside the loop that may cause deadlock without sorting.

[2021-05-08 14:53] calvinxiao commented on #257
Right, it will get unlocked after each loop.

[2021-05-08 14:53] #257 closed, assigned to nobody

[2021-05-10 09:20] #249 closed, assigned to karelrooted

[2021-05-24 07:23] hellower opened #273 "[QUESTION]hset mutiple arguments not supported?"
@@redis
127.0.0.1:6379> hset me lang english sex male
(integer) 2
127.0.0.1:6379> hgetall me
1) "lang"
2) "english"
3) "sex"
4) "male"
127.0.0.1:6379>

===========================================================
@@kvrocks

127.0.0.1:6666>  hset me lang english sex male
(error) ERR wrong number of arguments        <====================
127.0.0.1:6666>

127.0.0.1:9188> info
# Server
version:999.999.

[2021-05-24 07:36] ShooterIT commented on #273
Yes, currently HSET command doesn't support multiple arguments. Let's support it 😄

[2021-05-25 03:35] #273 closed, assigned to ShooterIT

[2021-05-25 05:08] hellower commented on #273
wow !!

[2021-05-26 00:21] hellower opened #275 "[BUG] dbsize return wrong value"
##################
# redis
##################
127.0.0.1:6379> keys *
1) "a"
2) "_tntchecker_"
3) "b"
127.0.0.1:6379> dbsize    <========== keys count
(integer) 3
127.0.0.1:6379>  info keyspace
-# Keyspace
db0:keys=3,expires=0,avg_ttl=0    <======== keys=3

##################
# kvrocks
##################
127.0.0.1:6666> keys *
1) "a"
2) "_tntchecker_"
3) "b"
127.0.0.1:6666> dbsize    <========== ke

[2021-05-26 02:01] git-hulk commented on #275
Thanks for your report, it's not a bug actually, the kvrocks key-values were stored in disk, and find out expired keys was impossible unless we can scan it. So we MUST execute the `dbsize scan` command to async scan the DB for finding out the key number.

[2021-05-26 02:43] hellower commented on #275
Thanks!
and Thank you for nice KVROCKS open source.

[2021-05-26 02:44] #275 closed, assigned to nobody

[2021-05-26 04:15] ShooterIT commented on #275
Also welcome you to join in improving kvrocks 😄

[2021-05-31 07:16] hellower opened #283 "[NEW] TTL of member"
[code]

[code]

This is a feature of redis-enterprise only.   (supported data type: SET, ZSET, HASH)

[2021-05-31 09:40] git-hulk commented on #283
This feature seems really useful in many scenes and supports it shouldn't be hard except having the breaking change. Maybe we can support it in V3, how do you think? @bitleak/kvrocks-core-team

BTW:  @hellower welcome to join [the slack channel](https://join.slack.com/t/kvrockscommunity/shared_invite/zt-p5928e3r-OUAK8SUgC8GOceGM6dAz6w) if wants to exchange any thoughts about the kvrocks.

[2021-06-01 13:19] hellower commented on #123
PRETTY_NAME="Debian GNU/Linux 10 (buster)"
NAME="Debian GNU/Linux"
VERSION_ID="10"
VERSION="10 (buster)"
VERSION_CODENAME=buster
ID=debian
HOME_URL="https://www.debian.org/"
SUPPORT_URL="https://www.debian.org/support"
BUG_REPORT_URL="https://bugs.debian.org/

gcc (Debian 8.3.0-6) 8.3.0
Copyright (C) 2018 Free Software Foundation, Inc.
This is free software; see the source for copying conditions.

[2021-06-02 05:18] stutiredboy opened #286 "[QUESTION]when will rocksdb.write_buffer_size be changed to 16"
![image](https://user-images.githubusercontent.com/345208/120427464-86e2de80-c3a4-11eb-89be-828ec993714f.png)

Version: 2.0.1 @5f41145a

I set target_file_size_base and rocksdb.write_buffer_size to 128 in kvrocks.conf then use config get to double check the value was set to 128.

But, some minutes later, the value was changed to 16, log in kvrocks.INFO

[code]

We can find that `rocksdb.target_fil

[2021-06-02 05:25] git-hulk commented on #286
hi @stutiredboy Thanks for your feedback, kvrocks would auto-adjust the `write_buffer_size` by calculating the `key-value` size, see the related issue: https://github.com/bitleak/kvrocks/issues/118

As the second issue(the write buffer size from 16 to 16), we'll investigate and feedback here.

cc @karelrooted

[2021-06-02 05:32] ShooterIT commented on #286
I think we maybe should provide one config to enable auto-adjust of the write_buffer_size  and memtable, instead of always enable, because, users maybe have their own method or optimization strategy such as munual config

[2021-06-02 05:34] git-hulk commented on #286
yeah, also the second issue was a bug that we didn't update the config. I'll submit a new issue for @karelrooted .

[2021-06-02 05:38] git-hulk opened #287 "[BUG] Auto-adjust write buffer size didn't update the config item"
As issue: https://github.com/bitleak/kvrocks/issues/286 mentioned that the write buffer size was resized but didn't update the config value as well.

BTW: as @ShooterIT mentioned, we should become this behavior with a config value that allows users to enable/disable this feture.

[2021-06-02 10:25] karelrooted commented on #286
the old write_buffer_size in the log is a typo(use the newly setted value as old value), the auto-resize-block-and-sst config directive is added in PR: https://github.com/bitleak/kvrocks/pull/289

[2021-06-02 14:25] #286 closed, assigned to nobody

[2021-06-02 14:25] #287 closed, assigned to karelrooted

[2021-06-02 14:34] ShooterIT commented on #283
OK. Let's add this feature request into 3.0 project todo.

[2021-06-03 00:14] hellower opened #292 "[QUESTION]slaveof field accept ip only?"
I have configured kvrocks master and slave on one server.
master kvrocks port : 9188
slave kvrocks port: 9288

In the slave's configuration file.
If I put  hostname instead of ip in "slaveof field", an error occurs.

but Redis works fine with both ip and hostname in slaveof field.

#####################################################
kvrocks.conf of slave
    ...............
    slavof localhost

[2021-06-03 01:55] git-hulk commented on #292
cool, thanks for finding out about this issue, do you want to create a PR to fix it?

[2021-06-03 02:10] hellower commented on #292
yes!

[2021-06-03 02:24] hellower commented on #292
Yes, please.

[2021-06-03 03:08] hellower opened #293 "[BUG] Allow to use host in the replication"
I have configured kvrocks master and slave on one server.
master kvrocks port : 9188
slave kvrocks port: 9288

In the slave's configuration file.
If I put hostname instead of ip in "slaveof field", an error occurs.

but Redis works fine with both ip and hostname in slaveof field.

#####################################################
kvrocks.conf of slave
...............
slavof localhost 9188
....

[2021-06-03 03:08] #292 closed, assigned to nobody

[2021-06-03 19:37] hiqsociety opened #297 "How is this possible with column families? Question1: why store the version in the metadata"
with reference to storing version in the metadata, how is it possible that i delete the key,

         with version we can fast delete the metadata and then recycle the others keys-values in compaction background threads.

what i mean is, how is it possible that deleting metadata will also delete the versioning? afterall u still need to cycle through key|version|field to delete them so the value w

[2021-06-04 02:36] git-hulk commented on #297
I try to summary your questions, correct me if misunderstood:

**1. Why delete metadata would delete the subkeys all well?**

this question explained by how we read and write the `hash` key-value:

From the write side:

If the user sends the `HSET hash_key field value`, then kvrocks would lookup the metadata with the key `hash_key`, it would generate a new one if no exists.  The metadata format wa

[2021-06-04 07:59] hiqsociety commented on #297
this is manual trigger by the auto background compaction thread?
[code]
basically u are saying u perform a "fast delete" BUT there's no overall cpu savings when it comes to complete deletion other than using the background deletion right?

i thought it's a CF deletion, no wonder i cant find anything much on it. this explanation is much "better".

[2021-06-04 16:40] git-hulk commented on #297
No, background compaction was automatic

[2021-06-04 17:23] hiqsociety commented on #297
ok thx

[2021-06-04 17:23] #297 closed, assigned to nobody

[2021-06-08 13:38] hellower commented on #293
Now, It works good. Thank you all!

[2021-06-08 13:38] #293 closed, assigned to git-hulk

[2021-06-08 13:39] git-hulk commented on #293
Really thanks for your feedback.

[2021-06-10 18:19] ehsanonline opened #305 "[NEW] Redis modules"
Supporting redis modules like RedisSearch and RedisGraph would be great. I tried to install them but there is no `MODULE LOAD` command or `loadmodule` in config file.

[2021-06-11 02:17] git-hulk commented on #305
There's no possibility to use those Redis modules directly since the Kvrocks storage was on the disk, maybe we can implement mostly used modules ourselves.

@bitleak/kvrocks-core-team

[2021-06-11 03:56] ShooterIT commented on #305
Thanks for your attention @ehsanonline Exactly, kvrocks doesn't support, actually, in our project 3.0, we want to multiple data models.

[2021-06-17 02:04] dongdongwcpp opened #312 "Difference between kvrocks and pika"
What is the difference between pika and kvrocks? Does kvrocks provide better performance than pika?
Any improvements on the blackwidow storage engine design？

[2021-06-17 05:30] git-hulk commented on #312
It's a good question, many users should have the same confusion, I would try to explain differences, but it's only my objective thoughts and can't promise fairness.

**From the key design:**

* We prefer to keep consistent with Redis sematic which the Pika didn't. e.g.  Pika allows different types to have the same key which wasn't expected.
* We do much work on improving the performance and decrea

[2021-06-21 14:12] snowbldr opened #315 "Support Watch/Unwatch"
I would like to use Watch and Unwatch for full transaction support.

yinqiwen/ardb has a working watch/unwatch impl in case that is useful as a reference.

https://github.com/yinqiwen/ardb

[2021-06-21 14:29] git-hulk commented on #315
Sure, let's add to the 2.0 plan: https://github.com/KvrocksLabs/kvrocks/projects/1#card-63523056

[2021-06-23 12:55] git-hulk opened #317 "[NEW] Allow forcing use the full sync when the lag was too large"
### Background
Currently, we're using the WAL to do the partial sync like the Redis backlog, as well as the write buffer between worker threads and feed slave thread.  Users should tune the WAL size with the key-value size and it's hard in most cases, since the user key-value size may be varied over time. We prefer to give it a generic larger value to the WAL to fit into most cases, but every coin

[2021-06-24 03:58] smartlee commented on #317
I don't think it's good idea to add this config ,in fact , what we need is repl-timeout,when timer exceed repl-timeout, close the conncetion and do nothing.fullsync may cause io issues

[2021-06-24 04:46] git-hulk commented on #317
@smartlee I have added more detailed information and high IO was expected in this scene. `repl-timeout` should be another issue, can u help to describe the context about when and why we need it.

[2021-06-26 01:33] ShooterIT commented on #219
Reopen for unfinished extra work

[2021-06-27 05:15] #312 closed, assigned to nobody

[2021-06-29 01:40] xujianhai666 opened #320 "[BUG] Support unwind for debian 4.9"
**Describe the bug**
A clear and concise description of what the bug is.

 - OS: [e.g. Centos 7]
 - Version [e.g. 1.1.5]

**To Reproduce**
Steps to reproduce the behavior:
1.
2.
3.

**Expected behavior**
A clear and concise description of what you expected to happen.

[2021-07-01 12:16] #320 closed, assigned to nobody

[2021-07-05 02:52] hiqsociety opened #322 "any benchmark against redis?"
any benchmark against redis?

[2021-07-05 05:00] git-hulk commented on #322
It makes no sense to compare the Kvrocks with Redis directly since the storage and thread model was totally different. We have a simple performance benchmark on README: https://github.com/KvrocksLabs/kvrocks#performance, from the throughput side, the Kvrocks would be better than Redis in many commands.

[2021-07-09 09:48] hiqsociety commented on #322
how much slower do u think kvrocks will be compared with redis?

[2021-07-09 09:49] hiqsociety opened #325 "possible to implement redisearch?"
do you have the implementation guideline on how to implement redisearch?
written like this?
https://kvrocks.medium.com/design-complex-structure-on-rocksdb-993a00fd4f6d?source=post_internal_links---------0----------------------------

[2021-07-09 10:05] ShooterIT commented on #325
currently, we are thinking how to support redis module, but now, we don't have conclusion, we would like to listen your ideas if you have

[2021-07-09 10:33] git-hulk commented on #322
It depends on the disk type, the latency of most commands on NVMe should be as good as Redis, SATA disks would much worse but we didn’t have any performance on it.

[2021-07-15 07:43] adulau opened #329 "[QUESTION] Migrating from 2.0 to 2.0.2"
A small question, is migrating from 2.0 to 2.0.2 safe concerning the RocksDB storage? Can we safely assume that the binary format is compatible between the two version.

[2021-07-15 08:26] ShooterIT commented on #329
Thanks for your attention, we are going to release 2.0.2. Exactly, it is compatible, you can upgrade old version whatever by restarting using new binary or master-replicas replication.

But if you use cluster mode, that will make data incompatible.  Because in cluster mode, to be efficient to migrate keys based on slot when scale, we encode key with slot id, but to be compatible with the old versi

[2021-07-16 03:03] ShooterIT commented on #329
I update my comments, please have a look, please tell me if you still have questions.

[2021-07-16 05:22] adulau commented on #329
Thank you very much for the feedback. We don't use cluster-mode so it seems we are fine.

[2021-07-16 05:22] #329 closed, assigned to nobody

[2021-07-17 16:14] hiqsociety opened #332 "Why is kvrocks so slow?"
I've run kvrocks benchmark against redis

R 160k, w 55k/s

Redis
R 1.2mil, w 1mil/s

[2021-07-18 10:50] git-hulk commented on #332
Can u offer more information about the CPU(how many cores), Memory/Disk Type(HDD/SSD/NVMe...), as well as the benchmark command. BTW, seems you benched with the pipeline mode? It makes no sense that Redis performance up to the millilion QPS in single request mode.

[2021-07-20 08:15] hengsok commented on #322
@hiqsociety I ran a simple test using redis-benchmark tool, I can say that kvrocks perform very well as below using DigitalOcean. Eventhough it persists data to disk, it can be almost as fast as Redis/KeyDB. I reckon if we give it more cpu cores and ram, it would perform even better. Very good job to kvrocks team @git-hulk @ShooterIT. We are awaiting their cluster mode feature and hope they can ma

[2021-07-20 08:35] git-hulk commented on #322
Many thanks for @hengsok benchmark data, those were benched without the `-r` option? which would use random keys instead of a single one. I think kvrocks would perform better with random keys since we have to lock the key when writing to prevent data race.

[2021-07-20 12:28] ShooterIT commented on #322
And you should enable multi threads in redis-benchmark, such as `--threads 8`

[2021-07-20 13:42] hengsok commented on #322
I have tried again following @git-hulk suggestions with the -r options using length of 8 and 16 for comparisons. I also experiment with changing the number of workers setting in the kvrocks.conf file.

I have noticed that during the SET test, below is the CPU and Memory stats from TOP. It seems kvrocks does not fully utilise the 32GB memory I provisioned. Strange. Is there any configuration to mak

[2021-07-20 14:04] ShooterIT commented on #322
hi @hengsok To use `--threads` in benchmark, you should use latest `redis-benchmark`, unstable branch of redis https://github.com/redis/redis. And `-r` is specified range, you should use a bigger number.
such as `redis-benchmark -p 6666 -d 50 -c 500 -n 1000000 -r 10000000 -q --threads 8`

[2021-07-21 08:46] hengsok commented on #322
@ShooterIT Yes, I agree that the clients request did not max out. Just as a quick workaround, we tried to open 5 terminals and run redis-benchmark and we were getting more than 200K+ rps for GET and more than 101.5K+ rps for SET by adding the stats up. It's an impressive numbers for just 8 vCPUs.

Do you know why RAM utilisation is so low? We noticed during the running of the benchmark, RAM usage

[2021-07-21 09:24] ShooterIT commented on #322
For memory usage, please see https://github.com/KvrocksLabs/kvrocks/blob/unstable/kvrocks.conf#L324

Currently, cluster solution is experimental, we are developing a meta server to manage cluster, coming soon, if you want to have a try, please https://github.com/KvrocksLabs/kvrocks/pull/302

Kvrocks support Codis cluster, but doesn't  support to scale i.e. can't migrate slot date.

[2021-07-22 03:50] hengsok commented on #322
@ShooterIT thanks for the tips.

Can't wait for your full cluster solution. I have tried the try_cluster. Does your implementation support dynamic addition of more nodes? If it supports, then how do we reassign slots? It seems your current implementation is still very manual based and I am not sure how the nodes are gonna handle moving of data from one node to the next to rebalance upon adding mor

[2021-07-23 05:59] ShooterIT commented on #322
Coming soon!

[2021-07-23 09:42] ZonghaoWang opened #339 "How I stop the server?"
**Describe the bug**
A clear and concise description of what the bug is.

 - OS: [e.g. Centos 7]
 - Version [e.g. 1.1.5]

**To Reproduce**
Steps to reproduce the behavior:
1.
2.
3.

**Expected behavior**
A clear and concise description of what you expected to happen.

[2021-07-23 10:57] git-hulk commented on #339
Do you mean how to shut down the kvrocks? If yes, use redis-cli to send the shutdown command.

[2021-07-23 11:05] git-hulk commented on #332
dup with #322

[2021-07-23 11:05] #332 closed, assigned to nobody

[2021-07-24 00:55] #339 closed, assigned to nobody

[2021-07-24 00:55] ZonghaoWang commented on #339
thank you

[2021-07-24 07:25] haodiao opened #341 "有时候从服务器无法进行同步"
我的主服务器在国内，从服务器在国外，
从服务器每隔几天就不再进行同步了，只能进行重起才能恢复正常，

主从服务器之间的网络可能不是非常稳定，导致从服务器的同步功能卡住，希望可以解决这个问题

[2021-07-24 07:33] ShooterIT commented on #341
What version are you using? Maybe this PR #284 fixed this problem, the latest version 2.0.2 that has this patch is released.

[2021-07-24 09:33] LykxSassinator opened #342 "Upgrade the version of cpplint from 1.5.0 to 1.5.5."
Here, i've found a misleading cpplint errors generated by `cpplint.sh` in the progress of CI. And i've made sure that i've format the code by the Google code-style standard, with the necessary double-check by `cpplint` tool. However, the CI cpplint checking showed that there still exists some style errors in the code. So, i tried to check the difference of cpplint-1.5.0, defaultly used in the CI o

[2021-07-24 10:39] haodiao commented on #341
@ShooterIT 就是最新的 2.0.2 出现同样的问题，这个版本发布的当天我就重新进行编译，
到现在不到一周的时间，出现过3台从服务器同步中断的现象（必须重启才能恢复），
我的环境是 1主8从（1主在国内，8台从在国外）

[2021-07-24 14:35] ShooterIT commented on #341
@haodiao 能提供一下相应时间点主从的日志吗？

[2021-07-25 06:56] haodiao commented on #341
@ShooterIT
从服务器的日志：
`E0721 19:44:41.368650 16702 replication.cc:133] [replication] connection error/eof, reconnect the master
E0721 19:44:45.402782 16702 replication.cc:211] [replication] Failed to connect the master, err:Connection timed out`

主服务器的日志（IP部分"*"代替）：
`E0721 19:56:14.416370 14828 replication.cc:60] Ping slave[103.129.*.*:55912] err: Connection timed out, would stop the thread
W0721 19

[2021-07-25 11:29] git-hulk commented on #341
这个主要是因为从库在断掉之后，目前重连机制有问题导致没有重连

[2021-07-25 14:18] #341 closed, assigned to nobody

[2021-07-27 04:41] ZonghaoWang opened #345 "how to use namespace via redis protocal?"
Please keep in mind that this issue tracker should be used for reporting bugs or proposing improvements to the kvrocks server.

Generally, questions about using kvrocks should be directed to the [community](https://groups.google.com/g/kvrocks).

It is also possible that your question was already asked here, so please do a quick issues search before submitting.

That said, please feel free to repla

[2021-07-27 04:55] #345 closed, assigned to nobody

[2021-07-29 09:45] ChrisZMF opened #346 "Data inconsistency in master-slave replication on certain situation"
**Describe the bug**
If we run kvrocks in master-slave structure, the data consistency may not be guaranteed on certain situation. Consider this situation, after all master data have been replicate to slave, we write a new key which will increase the sequence of rocksdb more than 20, then if we stop writing, this new key will not be copied to slave. The key will not be sent，util new data with sequ

[2021-07-30 01:44] ShooterIT commented on #346
let me fix that, and i want to lightly refactor other somethings

[2021-07-31 09:05] #346 closed, assigned to ShooterIT

[2021-08-19 03:35] ZonghaoWang opened #353 "namespace 有没有分空间存储？为什么重启后namespace都丢失了？"
Please keep in mind that this issue tracker should be used for reporting bugs or proposing improvements to the kvrocks server.

Generally, questions about using kvrocks should be directed to the [community](https://groups.google.com/g/kvrocks).

It is also possible that your question was already asked here, so please do a quick issues search before submitting.

That said, please feel free to repla

[2021-08-19 03:44] ShooterIT commented on #353
这是设计文档 https://github.com/KvrocksLabs/kvrocks/blob/unstable/docs/multi-tenant.CN.md
namespace会作为key的前缀存储，应该不会丢失，有没有复现的步骤

[2021-08-19 03:55] git-hulk commented on #353
@ShooterIT @ZonghaoWang 我在想是不是 config add $ns $token, 然后没有执行 config rewrite。如果记得 $ns 直接再增加就可以了，数据不会丢失。

[2021-08-23 04:37] adulau opened #354 "[QUESTION] What's the recommended filesystem for kvrocks?"
We are using kvrocks in production using ext4 filesystem and having around 4000 SST files.  We were wondering if XFS would be better for performance. Did you do some specific tests with the different filesystems?  Thank you very much.

[2021-08-23 07:01] ShooterIT commented on #354
Thanks, I also thought this question, but i did not test😜, currently we also use ext4 filesystem, XFS has better performance in some scenes, it truly worths to test, @git-hulk did you ever test for different filesystem?
And kvrocks is based on rocksdb, maybe this is a generic questions.

[2021-08-23 07:05] git-hulk commented on #354
No actually, we also used ext4.

[2021-08-24 08:15] stopforumspam opened #355 "[QUESTION] Clarification on Redis version support"
I love kvrocks but it would be useful if there was a version vs Redis version support.  Whilst supported commands are listed, their Redis version isnt.

E.g. LPOP in Redis 6.2 supports a [count] parameter, allowing for multiple records to be returned whilst kvrocks returns just a single record.

I love would LPOP (etc) and all commands to be in line with Redis release but realise that this isn't g

[2021-08-24 10:26] ShooterIT commented on #355
Thanks, we should describe that in documents, currently most commands are compatible with Redis 4.0. It is hard to support all command of Redis latest release, we will implement more commands gradually.

[2021-08-25 10:52] ZonghaoWang commented on #353
没有执行config rewrite, 我执行后再试试

[2021-08-26 02:36] ZonghaoWang commented on #353
问题解决了

[2021-08-26 02:36] #353 closed, assigned to nobody

[2021-08-27 16:39] smartlee commented on #354
Our file system is xfs in production,kvrocks run in docker, and os is centos7 ,kernel version is 4.19.118

[2021-09-07 02:10] linydquantil opened #358 "kvrocks running on kubernetes"
Have you tried to run to K8s?
Is there any experience to share?

[2021-09-07 03:29] git-hulk commented on #358
@smartlee Ctrip's kvrocks instances were running on the Kubernetes, maybe we can transfer this issue to the discussion.

[2021-09-07 03:29] #358 closed, assigned to nobody

[2021-09-16 08:07] orctom opened #364 "[QUESTION] Where is the data in docker container"
I see no VOLUME section in Dockerfile, no files in /data folder in container.
So where does the data been persisted?

[2021-09-16 08:58] git-hulk commented on #364
The data was stored in dir `/tmp/kvrocks`, the docker was only intended for tests so didn't export the volume and data-dir.

[2021-09-16 09:38] orctom commented on #364
Thanks dude.
Looking forward to a production ready docker image, easier to roll out to cloud.

[2021-09-16 09:38] #364 closed, assigned to nobody

[2021-10-05 04:28] hangzhouminghe88 opened #366 "Does kvrocks support ROCKSDB's native KEY/VALUE separation, BLOB STORE?"
The KVROCKS I use has 100 billion records ， VALUE IS 4KB BYTES ， Reading speed ( GET )  is very slow

[2021-10-05 08:43] git-hulk commented on #366
Not use blob store now but would support it after the blob store was production-ready.

Can u show the configuration, the default metadata/subkey column family cache(2 GiB) should be too small for 100 billion records, you can have a try to increase the metadata column family: https://github.com/KvrocksLabs/kvrocks/blob/unstable/kvrocks.conf#L324 and enable the shared cache between metadata and sub

[2021-10-06 10:32] hangzhouminghe88 commented on #366
[code]

[2021-10-06 14:19] git-hulk commented on #366
@hangzhouminghe88 Thanks for your information, as mentioned before, the default metadata/subkey cache was too small for your scene. You can try to increase the metadata cache to 1/20 of the DB size and enable the `rocksdb.share_metadata_and_subkey_block_cache`

[2021-10-07 10:11] dongdongwcpp commented on #209
`memtable_prefix_bloom_size_ratio` seems need a prefix_extractor, can it work for redis like system?

[2021-10-07 13:29] hangzhouminghe88 commented on #366
[code]
rocksdb.subkey_block_cache_size 204800

rocksdb.share_metadata_and_subkey_block_cache = yes

???

[2021-10-09 02:12] caipengbo opened #367 "[BUG] Auto resize SST takes effect only in the default column family"
### Background
In #120, kvrocks add the feature of dynamic resize block and sst. In #289, support `auto-resize-block-and-sst` config item to trigger this feature.

### Bug
This feature uses `Storage::SetOption` to set target_file_size_base:

https://github.com/KvrocksLabs/kvrocks/blob/3bb4747f0a0878a72921b44e6ca4281b57ac5a6c/src/server.cc#L1057

This function only applies to the default CF(aka sub

[2021-10-09 03:55] #367 closed, assigned to nobody

[2021-10-09 04:11] ShooterIT commented on #366
share_metadata_and_subkey_block_cache is a new feature, please see #365

As @git-hulk said, cache size should be more that 1/20 of the DB size to get high performance.

[2021-10-09 05:03] ShooterIT commented on #366
we already tested BLOBDB, but we found it is not impeccable, may cause server freezing.

[2021-10-15 02:12] QQxiaoyuyu opened #370 "[BUG]使用redisson 封装的 poll(num) 获取内容错误"
**Describe the bug**
A clear and concise description of what the bug is.

 - OS: [e.g. Centos 7]
 - Version [e.g. unstable]

**To Reproduce**
Steps to reproduce the behavior:
1.
![图片](https://user-images.githubusercontent.com/34185590/137421277-d9635516-ce74-4113-b921-cd95c4fbb300.png)

2.正常 redisson 连 redis 是对的    不会出现类型错误
3.现在使用redisson 封装的 poll(num) 获取出的内容都是 String 类型了

**Expected behavior**
A

[2021-10-15 02:25] git-hulk commented on #370
需要补充一下，对应执行的时候， Redis monitor 返回结果是什么，kvrocks  返回结果是什么

[2021-10-15 02:50] QQxiaoyuyu commented on #370
kvrocks 返回的命令
![图片](https://user-images.githubusercontent.com/34185590/137427351-a7983bc8-8d5e-4ba1-91e8-f12b73aa2a5b.png)

redis 执行的命令，返回的结果
![图片](https://user-images.githubusercontent.com/34185590/137424651-3e6bcdb9-350f-47a2-b844-9dfd51e4d983.png)
结果
![图片](https://user-images.githubusercontent.com/34185590/137424683-5aab4ff2-244a-47a6-9cae-bfa4bdda9fa3.png)

[2021-10-17 14:28] git-hulk opened #372 "[NEW] Enable share block cache between the metadata and subkey column family by default"
Kvrocks supported the share block cache between the metadata and subkey column family, it's really a good point to speed up the lookup query. So it should be enabled by default? since it hurts nothing, also most users should NOT care about how to allocate the ratio of block cache between the metadata and subeky column family.

[2021-10-17 14:36] caipengbo commented on #372
Yes, it is a good idea to turn `rocksdb.share_metadata_and_subkey_block_cache` to `yes` by default.

[2021-10-17 15:29] #372 closed, assigned to ShooterIT, caipengbo

[2021-10-19 03:29] git-hulk commented on #370
Fixed by https://github.com/KvrocksLabs/kvrocks/pull/369

[2021-10-19 03:29] #370 closed, assigned to nobody

[2021-10-20 03:47] ZonghaoWang opened #376 "what's the db action when run flushdb in some namespace?"

[2021-10-20 05:00] git-hulk commented on #376
For the command `flushdb`, it would delete all keys in the current namespace(which was determined by the auth token) and NOT affect other namespaces.

[2021-10-24 06:20] #354 closed, assigned to nobody

[2021-10-30 14:52] git-hulk opened #380 "How to implement the script kill command in kvrocks"
We have implemented the `eval`, `evalsha`, and script command,
but script subcommand `kill` was still investigated since it doesn't have an easy way to implement for kvrocks.

The first main obstacle was that kvrocks design internal has no way to process other clients' queries in the Lua hook function, so it can't process the `script kill` command since the Lua script was still running. The second

[2021-10-30 14:56] git-hulk commented on #380
How do you think @KvrocksLabs/committers

[2021-11-03 11:11] caipengbo opened #384 "[BUG] The configuration item rocksdb.compression cannot take effect"
Kvrocks has a configuration item called `rocksdb.compression`, which is assigned to `rocksdb::Options`:
https://github.com/KvrocksLabs/kvrocks/blob/2e43741ddedc06f0376d71dc385e9d53a24b3204/src/storage.cc#L87

But Kvrocks calls rocksdb's built-in optimization function:
https://github.com/KvrocksLabs/kvrocks/blob/2e43741ddedc06f0376d71dc385e9d53a24b3204/src/storage.cc#L80

This function will set `co

[2021-11-03 12:40] git-hulk commented on #384
Good catch, as [OptimizeLevelStyleCompaction](https://github.com/facebook/rocksdb/blob/3e1bf771a3c7324306fc31317c9ea275e1a8dd61/options/options.cc#L600) would use the `lz4` first then the `snappy` if supported, but they're still some other compressions.  So seems that we can NOT enable the OptimizeLevelStyleCompaction when the compression was explicitly specified, HDYT.

[2021-11-04 01:31] caipengbo commented on #384
`OptimizeLevelStyleCompaction ` function also optimizes other parameters, such as `write_buffer_size `, `max_bytes_for_level_base `, and so on. But we'll overwrite these parameters later.

Maybe can we get rid of `OptimizeLevelStyleCompaction`, then set `compression_per_level`  in kvrocks?

[2021-11-04 01:37] git-hulk commented on #384
Looks fine for me

[2021-11-07 12:03] #380 closed, assigned to nobody

[2021-11-07 12:10] #322 closed, assigned to nobody

[2021-11-07 13:09] hangzhouminghe88 commented on #366
Does kvrocks  2.0.3 support ROCKSDB's native KEY/VALUE separation, BLOB STORE?

[2021-11-08 04:02] ZonghaoWang commented on #376
thanks

[2021-11-08 04:02] #376 closed, assigned to nobody

[2021-11-08 05:07] git-hulk commented on #366
No, the latest version was 2.0.4, but still not support the blobdb. I think we should NOT integrate before the blobdb was production-ready.

[2021-11-17 12:22] ShooterIT commented on #209
@dongdongwcpp you mean we should set `prefix_extractor` if we want to enable `memtable_prefix_bloom_size_ratio`?
i think in redis system, there are many lookup reads, so i want to enable this feature, make sense? WDYT?

[2021-11-21 02:32] #209 closed, assigned to ShooterIT

[2021-11-21 02:32] #366 closed, assigned to nobody

[2021-11-21 02:32] #384 closed, assigned to nobody

[2021-11-22 13:41] #95 closed

[2021-11-22 13:42] #3 closed

[2021-11-24 04:28] ShooterIT opened #402 "[NEW] Adjust open files limit according to maxclients and rocksdb.max_open_files"

[2021-11-24 08:06] ShooterIT opened #403 "[NEW] Use row cache of RocksDB to implement KV cache"

[2021-11-26 03:41] ShooterIT opened #405 "[NEW] Add sanitizer support"
Use sanitizer to check accessing memory faults

- [ ] Don't use jemalloc, since gcc sanitizer don't support jemalloc
- [ ] Add sanitizer compile flags

[2021-11-29 08:37] ShooterIT opened #406 "[NEW] RockDB L0->L0 compactions"

[2021-12-01 03:57] zhklcf opened #409 "[NEW]Please support restore command"
Migration tools like redisshake usually use restore command to realize migration from redis to kvrocks。
Please support restore command。

[2021-12-01 08:17] ShooterIT commented on #409
Thanks, I MUST say that it is hard for us to implement redis RESOTRE command, since the restored value is the serialization of redis key value i.e. RDB format , so we need to support parsing all redis types, moreover, the encoding of key value serialization also would change in the future.

I think we shouldn't do this in kvrocks core code. Maybe there is a tool which can change RESTORE value to r

[2021-12-01 09:53] git-hulk commented on #409
Twemproxy and Codis also have the same issue, and RedisShake supports parsing the restore command to AOF: https://github.com/alibaba/RedisShake/wiki/FAQ#q-does-redisshake-supports-codis-and-twemproxy

[2021-12-01 13:15] ChrisZMF opened #412 "[NEW] Support slot-based data migration"
# 1 Background
Data online migration is an essential feature for database servers if they are deployed in the cluster. Since kvrocks already supports redis cluster mode #219, it is more necessary to support data online migration. Different from the key-based data migration method of the Redis community, we proposed a slot-based data migration method for kvrocks.

# 2 Implementation
## 2.1 Data enc

[2021-12-02 09:24] caipengbo opened #413 "[NEW] Support CAS/CAD commands"
CAS (Compare And Swap) and CAD (Compare And Delete) are frequently used in distributed systems, but are not currently supported by Kvrocks.

When we need to use this function, we usually need to use MULTI or Lua script implementation, which is quite troublesome.

[2021-12-02 11:51] ShooterIT commented on #412
Since we encode slot id into key only when enabling cluster mode, so i think we should only support slot migration in cluster mode, and the migrate command should be consistent with cluster command.

i prefer to use CLUSTER subcommand to implement slot migration instead of separate commands , see also redis issue https://github.com/redis/redis/issues/2807 and in redis cluster v2 project https://gi

[2021-12-03 03:20] ShooterIT opened #414 "Who is using Kvrocks?"
## Who is using Kvrocks?

Sincerely thank everyone who constantly keeps on using and supporting Kvrocks. We will try our best to make Kvrocks better and make the community and ecology more prosperous.

## The original intention of this issue

- We’d like to listen to the community for making Kvrocks better
- We want to attract more partners to contribute to Kvrocks
- Learn more about the practical

[2021-12-03 12:35] #413 closed, assigned to nobody

[2021-12-07 01:01] #402 closed, assigned to git-hulk

[2021-12-07 01:14] #403 closed, assigned to nobody

[2021-12-09 08:15] lt1946 opened #421 "Can I set cluster-announce-* at profiles ?"
like these:
    cluster-announce-ip ${IP}
    cluster-announce-port ${PORT}
    cluster-announce-bus-port 1${PORT}
for redisson use.
Thanks.

[2021-12-09 13:26] git-hulk commented on #421
Do you mean to use the kvrocks with the Redis cluster mode in Radisson?

No, if I didn't misunderstand your meaning.

[2021-12-09 13:30] git-hulk opened #422 "[NEW] Auto persist namespaces after updating the namespace or token"
Currently, we didn't auto rewrite namespaces and tokens after users updated them, which may cause configuration loss after restarting the Kvrocks without executing the config rewrite command. But the data is still in Kvrocks. All we need to do was re-add those namespaces again.

[2021-12-10 03:53] lt1946 commented on #421
yes, use at java like redisson!
I run cluster mode. find error; it's not set cluster-announce-ip at profile.

[2021-12-10 11:12] git-hulk commented on #421
Kvrocks cluster mode has a bit different from Redis, so we can't add the kvrocks as the Redis cluster mode in Redisson. There should need more extra work to use Kvrocks mode in Redisson, but the good news was that you can use the Kvrocks as the single server or sentinel mode.

Welcome to feedback if you have any thoughts, :)

[2021-12-11 14:02] git-hulk opened #424 "Upgrade the rocksdb to the latest version"

[2021-12-15 12:06] git-hulk opened #426 "Add more tcl test cases for the sorted int"

[2021-12-16 06:16] iushas opened #428 "[BUG] It is wrong to rewrite config `rename-command` and lead kvrocks to fail to restart"
### Describe
If your kvrocks config file has multiple `rename-command`, kvrocks would generate duplicate configuration items after executing `config rewrite`, whatever automatically or manually, and leads kvrocks to fail to restart.

It is introduced in #272

one example
[code]
there are two debug rename-commands, so there will be the following error logs.
[code]
### How to fix
- you can find the

[2021-12-16 06:43] iushas commented on #428
复现过程：主从切换后，新的master会发生上述问题

环境：version 2.0.4 ，一主一从 ， 接了sentinel监控

1、查看配置正常
root@redis-kvsenior02-290041:/home/redis/data/conf# cat kvrocks.conf
[code]
2、手动执行slaveof no one 和切换 。
  * 这里有两个问题， slaveof no one后发现角色还是slave。
  * 再次执行slaveof no one ，变为了master
[code]

3、再次看配置，发现rename-command flushall   290041_dont_run_flushall_rudely变了，原来的master的配置文件没有变
root@redis-kvsenior02-290041:/home/redis/data/conf

[2021-12-16 07:58] ShooterIT commented on #428
It is not a bug, redis have similar behavior, since the command is already renamed, you can rename `renamed command` again, i.e. `rename-command` `290033_dont_run_debug_rudely` `debug2`

[2021-12-16 08:25] iushas commented on #428
I use redis to test， the issue dsnt happens

[2021-12-16 08:31] iushas commented on #428
which redis version you said!

[2021-12-16 08:44] ShooterIT commented on #428
[code]
use this config, redis could start?

[2021-12-16 08:46] iushas commented on #428
you have not understand the question， after switch master， the new master's config will auto change to that， isn‘t changed by manul.

use that file, certainly cont start!

[2021-12-16 08:49] ShooterIT commented on #428
I just answer your first question instead of the second

[2021-12-16 09:02] iushas commented on #428
这两个说的是一个问题，第二个是复现过程，切换后，配置文件会自动改变。 麻烦确认下吧

[2021-12-16 09:25] ShooterIT commented on #428
第一次执行slaveof no one后，日志中有没有出现 `[replication] Stopped`
以及第二次执行呢

[2021-12-16 09:43] git-hulk commented on #428
是两个问题:
1. config rewrite 之后不对导致 rename command 问题重启有问题，这个已经找到原因
2. slaveof no one 失败是另外一个问题

[2021-12-16 09:51] iushas commented on #428
每次执行slaveof no one，应该是有出现[replication] stopped

流程应该是这样的：
初始 A -> B

1、 在B执行slaveof no one
2、在A执行slaveof B， 理想情况下应该是变成 B-> A.  但是可能由于sentinel 主动又把 B变成了A的slave。 所以在A执行slaveof B后， 通过info replcation 居然看到了 A <=> B的情况
3、然后再次在B执行 slaveof no one ，架构改成了B -> A

![image](https://user-images.githubusercontent.com/7236171/146348753-8a441e96-ef90-4f15-943f-c1cb94540fba.png)

[2021-12-16 11:27] #422 closed, assigned to git-hulk

[2021-12-16 12:56] ChrisZMF commented on #412
Thanks for your advise, it is really meaningful. The implementation of slot-based migration will be modified to adapt cluster mode. @ShooterIT

[2021-12-16 23:57] #428 closed, assigned to nobody

[2021-12-17 02:29] ChrisZMF commented on #412
Thanks for your suggestion, it really makes a lot of sense. The implementation of slot-based migration will be modified to adapt to the cluster mode.  @ShooterIT

[2021-12-17 08:30] ZonghaoWang opened #432 "主从模式必须不能配置密码么?"
slaveof masterIP master Port
error-log: E1217 16:27:36.536201 145314 replication.cc:412] Failed to get the db name, -NOAUTH Authentication required.

[2021-12-17 09:14] #432 closed, assigned to nobody

[2021-12-21 03:12] iushas opened #433 "[NEW] Support some status to info command result"
When execute bgsave command in redis, we can get some progess stats and result stats through  info command, such as
 "rdb_changes_since_last_save:253062290
rdb_bgsave_in_progress:0
rdb_last_save_time:1640050693
rdb_last_bgsave_status:ok
rdb_last_bgsave_time_sec:153
rdb_current_bgsave_time_sec:-1 ".etc,

we can known if the command excute rightly or not by analysor the info stats。

I think it will

[2021-12-21 08:53] git-hulk commented on #433
@iushas Thanks for your feedback, would add more informations for bgsave soon.

[2021-12-27 02:18] #433 closed, assigned to nobody

[2021-12-27 09:32] #426 closed, assigned to git-hulk

[2021-12-29 07:49] jasonhe88 opened #437 "[BUG] Failed to open DB with missing CURRENT file"
**Describe the bug**
A clear and concise description of what the bug is.

 - OS: MAC OS 10.15.7
 - Version  2.0.5 @6a4ed16a

get following error message when try to start up kvrocks ( first time run )

E1229 15:41:02.217978 276704704 main.cc:314] Failed to open: IO error: No such file or directory: While opening a file for sequentially reading: /tmp/kvrocks/db/CURRENT: No such file or directory

/

[2021-12-29 07:54] caipengbo commented on #437
Have you tried to modify the `dir` item in the configuration file?

[2021-12-29 08:04] jasonhe88 commented on #437
yes, I modified dir to other directory, still got same msg

[2021-12-29 08:12] caipengbo commented on #437
You create the directory manually and see if it works.

[2021-12-29 08:14] jasonhe88 commented on #437
just tried, still the same

by the way, make test all ok

[2021-12-29 08:20] git-hulk commented on #437
@jasonhe88 Can u help to check whether `/tmp/kvrocks/db/CURRENT` was existed or not, or have a look at your directory permission.

[2021-12-29 08:23] jasonhe88 commented on #437
here are all the files under /tmp/kvrocks:

lrwxr-xr-x  1 jasonhe  wheel   63 12 29 16:07 kvrocks.ERROR -> kvrocks.JasoniMac.local.jasonhe.log.ERROR.20211229-160746.77969
lrwxr-xr-x  1 jasonhe  wheel   62 12 29 16:07 kvrocks.INFO -> kvrocks.JasoniMac.local.jasonhe.log.INFO.20211229-160746.77969
-rw-r--r--  1 jasonhe  wheel  341 12 29 15:29 kvrocks.JasoniMac.local.jasonhe.log.ERROR.20211229-152937.

[2021-12-29 08:26] jasonhe88 commented on #437
the original permisson is 755, i changed to 777, still same

drwxrwxrwx  14 jasonhe  wheel  448 12 29 16:07 kvrocks

[2021-12-29 09:40] jasonhe88 commented on #437
tried on CentOS 8, same problem

[2021-12-29 10:04] git-hulk commented on #437
Do you use the release RPM? I have no idea about why this happen since can't reproduce on my side.

[2021-12-29 10:18] fishery86 commented on #437
it seems there have some errors link with rocksdb

[2021-12-29 10:52] jasonhe88 commented on #437
tried release RPM on CentOS8, it's running ok

[2021-12-29 13:04] git-hulk commented on #437
Many thanks for your feedback, do you follow the pre-install step before installing?

https://github.com/KvrocksLabs/kvrocks#building-kvrocks

[2021-12-29 13:16] jasonhe88 commented on #437
no problem, thanks to you guys for this great product :-)

I exactly followed the installation steps, except did a check out before make -4j

git checkout v2.0.5

[2021-12-29 13:20] git-hulk commented on #437
Thanks, I would try to reproduce this issue on my side, very welcome to help us to fix this issue if you have any clues.

[2021-12-30 06:33] ShooterIT opened #439 "[NEW] Support min-slaves-to-write like redis"
**The problem/use-case that the feature addresses**

Redis provide these configs to make it is possible for a master to stop accepting writes if there are less than N replicas connected, having a lag less or equal than M seconds. But kvrocks can't.

**Description of the feature**

The N replicas need to be in "online" state.

The lag in seconds, that must be <= the specified value, is calculated f

[2022-01-03 15:08] adulau commented on #148
It's indeed a kind of important feature to reduce the TCP handshake overhead on kvrocks instances.

[2022-01-09 15:46] git-hulk opened #448 "[BUG] Maybe there's a bug in the publish/subscribe logic"
**Describe the bug**
The github actions occasionally failed at Publish/Subscribe tcl test cases like below:

https://github.com/KvrocksLabs/kvrocks/runs/4751562466?check_suite_focus=true#step:7:725

After reviewing the test case many times and it always happened on the ubuntu which was multi-threads, so i think it should be caused by the data race condition in the publish/subscribe logical, but st

[2022-01-09 15:48] git-hulk commented on #448
Maybe we can have a try at Ubuntu with enabling the thread sanitizer.

[2022-01-09 16:04] git-hulk opened #449 "[NEW] Add Code of Conduct"
We need the `Code Of Conduct` to help contributors and maintainers to follow the unify guideline

[2022-01-10 23:50] bisho opened #451 "Wrong per-cmd latencies in Grafana dashboard"
**Describe the bug**
Not sure if you created this grafana dashboard, I hope it was you:
https://grafana.com/grafana/dashboards/15286

Latencies in the grafana dashboard are graphed as:

[code]

If you see, the per-cmd command duration is not divided by the number of requests, so it is showing a sum of latencies for all run cmds. I think it should be:

[code]

We also preferred to exclude the `psyn

[2022-01-11 01:56] git-hulk commented on #451
Yes, thanks for your feedback, you're right that we should divide the requests instead of total latency. Would fix it later~ : )

[2022-01-11 15:26] git-hulk commented on #451
@bisho Fixed, can have a try again. For excluding `psync`, can modify it after importing since it would be strange to remove it from the basic template.

[2022-01-11 15:26] #451 closed, assigned to nobody

[2022-01-11 16:35] bisho commented on #451
Looks great, thanks!

[2022-01-12 15:39] shangxiaoxiong opened #453 "[NEW] More compatible with redis-cli"
"redis-cli --pipe" can not work with kvrocks.

[2022-01-13 06:39] ColinChamber opened #454 "[QUESTION]Setbit max offset limit"
Kvrocks' limit on setbit offset seems narrow, less than the maximum value in Redis (512M*8-1). According to the design of `metadata size(4byte)`, the max offset can even be larger than Redis. Why is the limit `INT_MAX` #164? Should `std::stoi` not be used in `bitcount`? Is there some context I don't comprehend @ShooterIT ?

![screenshot_358](https://user-images.githubusercontent.com/95634254/14927

[2022-01-13 12:21] git-hulk commented on #454
@ColinChamber It's a bug to use std::stoi, we should regard it as unsigned int. Would you like to fix this issue?

[2022-01-14 03:08] mzygQAQ opened #456 "[NEW] SetCommand may be need more compatible with redis."
1. [ set key val nx px ] should be reply with "syntax error", but kvrocks can works
2. [ set key val px 1000 ex 1000 ] should be reply with "syntax error", but kvrocks can works.
3. redis supports  [ set key val keepttl ], but kvrocks not supports

[2022-01-14 03:44] ShooterIT commented on #456
Yes, kvrocks doesn't check the parameters carefully,

And currently `keepttl ` ,`PXAT`, `EXAT` and some other flags, kvrocks doesn't support.

Do you want to fix this and support these flags? @guoxiangCN

[2022-01-14 03:50] mzygQAQ commented on #456
i 'm trying my best~

[2022-01-14 04:43] ColinChamber commented on #454
Ok, I will fix it today.

[2022-01-14 06:33] ZonghaoWang opened #457 "can it monitor expired key?"
Please keep in mind that this issue tracker should be used for reporting bugs or proposing improvements to the kvrocks server.

Generally, questions about using kvrocks should be directed to the [community](https://groups.google.com/g/kvrocks).

It is also possible that your question was already asked here, so please do a quick issues search before submitting.

That said, please feel free to repla

[2022-01-14 15:41] ColinChamber commented on #454
There is more code to modify than expected, and I still need some time to test.

[2022-01-14 15:43] git-hulk commented on #457
Do you mean can we monitor the number of expired key numbers?

[2022-01-14 15:48] git-hulk commented on #454
cool, very appreciate your hard work to make the Kvrocks better.

[2022-01-15 13:18] #449 closed, assigned to nobody

[2022-01-16 11:33] ZonghaoWang commented on #457
pubsub redis event,
in redis.conf, notify-keyspace-event

[2022-01-16 11:48] git-hulk commented on #457
Got what you mean, it’s not easy for Kvrocks since expired behavior was delay to RocksDB compaction. Welcome to feedback if you have any thoughts l.

[2022-01-17 02:07] ZonghaoWang commented on #457
thanks

[2022-01-17 02:07] #457 closed, assigned to nobody

[2022-01-18 18:13] DenizPiri opened #462 "[BUG] Incorrect data after SLAVEOF"
**Describe the bug**
After SLAVEOF, 2 instances can contain different values for a given key.

**To Reproduce**
Start 2 kvrocks instances and execute the following commands in the respective instances.

- **SERVER2**: SLAVEOF SERVER1
- **SERVER2**: SLAVEOF NO ONE
- **SERVER2**: SET test 222
- **SERVER1**: SET test 111
- **SERVER2**: SLAVEOF SERVER1
- **SERVER2**: GET test
  - Returns "222". Howeve

[2022-01-19 01:13] ShooterIT commented on #462
@shangxiaoxiong is it related with your findings?

[2022-01-19 01:48] git-hulk commented on #462
@ShooterIT Kvrocks didn't check the batch content of the same RocksDB sequence, so when SERVER1 and SERVER2 have the same sequence but the content was different cannot trigger the full sync.

The simple workaround can compare the latest batch content when the psync was ok, but it still has flaw.

[2022-01-19 02:02] ShooterIT commented on #462
Oh, i remembered. Yes, current `dbname` check is not enough. I add this job into 3.0 project https://github.com/KvrocksLabs/kvrocks/projects/2#card-73962066

[2022-01-19 02:13] caipengbo commented on #462
Is this the problem we have communicated before? @ShooterIT

Are we considering adding a new DB to store unique run id or other unique information that doesn't need to be synchronized? @git-hulk

[2022-01-19 02:27] git-hulk commented on #462
I think we can write it to the config file instead of a new DB, persist to propagate column was fine to me.

@ShooterIT unique id cannot fully resolve this issue, since the same sequence may have different batch content.

[2022-01-19 02:44] ShooterIT commented on #462
this means the unique id exists with one special replication, so unique id will be changed when changing replication relationship. The unique id identifies the **replication history** .

In this case, if using unique run id as replication identifier, it won't think partially resynchronization is possible.

[2022-01-19 02:53] git-hulk commented on #462
We can see reproduce steps:

[code]
the first step would sync the unique id, then we set the SERVER1 and SERVER2 without replication, so the SERVER1 and SERVER2 would have the same sequence(said 1 here), finally we re-slaveof again, the SERVER1 unique id should be same with the SERVER2? and psync is ok. Collect me if I miss something.

[2022-01-19 02:58] ShooterIT commented on #462
[code]

[2022-01-19 03:01] ShooterIT commented on #462
[code]
Redis code, FYI

[2022-01-19 03:19] git-hulk commented on #462
cool, so `slaveof no one` would generate new unique id, right? it makes sense since it would NOT cause full replication too frequently.

[2022-01-19 05:09] ShooterIT commented on #453
Resolved in #452

[2022-01-19 05:09] #453 closed, assigned to nobody

[2022-01-19 15:35] #454 closed, assigned to nobody

[2022-01-27 12:24] #412 closed, assigned to nobody

[2022-01-31 15:33] aleksraiden commented on #414
Organization: Coinindex Ltd
Location: London, UK, Kiev, Ukraine
Contact：raiden@coinindex.agency
Purpose: KV-storage and real-time PubSub bus for crypto/non-crypto fintech projects (market data aggregation, trading)
Feature: hash fields expiration, latest rocksdb version, re-implement new features from redis 7.0rc1

[2022-02-07 11:56] ShooterIT commented on #414
Thanks for your attention @aleksraiden
- **hash fields expiration** is on the road, see #408, we would finish it in next several months
- **latest rocksdb version**, we also have a plan
- **re-implement new features from redis 7.0rc1**: 7.0 has two many features, we may not support all things, but we always continue to make kvrocks more compatible with redis

[2022-02-10 01:56] git-hulk opened #478 "Is it possible to send log output to system out instead of file?"
### Discussed in https://github.com/KvrocksLabs/kvrocks/discussions/477

<div type='discussions-op-text'>

<sup>Originally posted by **djotanov** February 10, 2022</sup>
Is it possible to send kvrocks logging output to system out instead of file?
This is needed in docker environment. </div>

[2022-02-14 11:50] git-hulk opened #484 "Support for replica-announce-ip and replica-announce-port"
### Discussed in https://github.com/KvrocksLabs/kvrocks/discussions/481

<div type='discussions-op-text'>

<sup>Originally posted by **djotanov** February 13, 2022</sup>
In docker/kubernetes, instances don't have a fixed up. When working with dynamic IPs, sentinel will not work, unless kvrocks can be configured to announce DNS address of the instance (and mapped port if needed).
Does kvrocks suppo

[2022-02-16 01:36] ShooterIT opened #485 "[NEW] Support to call Lua script by name like stored procedures"
**The problem/use-case that the feature addresses**

Redis issue: https://github.com/redis/redis/issues/8693
Redis PR: https://github.com/redis/redis/pull/9780

Provide a way to make scripts similar with stored procedures, it is not convenient to use SHA as a function name to call

**Description of the feature**

Current status:
-  Support to persist all lua scripts in Kvrocks, so scripts is not c

[2022-02-16 11:07] xuzhenjun130 opened #486 "[BUG] phpredis: Can't communicate with any node in the cluster"
**Describe the bug**
php客户端无法使用 kvrocks 集群

报错：Can't communicate with any node in the cluster

 - OS: [Centos 7]
 - kvrocks [2.0.6] 编译
 - phpredis[ 5.1.1]
 - php: [7.4]

**To Reproduce**
Steps to reproduce the behavior:
1. 运行集群配置脚本：tools/try_cluster/try_cluster.sh
2. php代码：
[code]
运行以上php代码报错：Can't communicate with any node in the cluster

**Expected behavior**
上面的php代码，在 `tendis`  cluster 集群测试通过，

[2022-02-16 11:33] ShooterIT commented on #486
IP 地址改为 127.0.0.1 试试，try_cluster.sh 默认 bind 127.0.0.1了
[code]
不支持双主配置

[2022-02-16 12:44] ShooterIT opened #487 "[BUG] Transaction can't guarantee atomicity"
**Describe the bug**
The exclusive guard lock ensures you run the transaction in isolation, but it cannot guarantee the atomicity of the EXEC stage.
You would like to either have all commands applied to the db or none of them applied.
However, if some commands are executed and persisted to rocksdb and the process fails before the tx completes the db sees an intermediate state which is not desired.

[2022-02-16 14:38] Eshcar commented on #487
Thanks for opening this issue @ShooterIT
As of late 2021 [RocksDB supports transactions](https://github.com/facebook/rocksdb/wiki/Transactions) , such that no other threads can see the changes in a transaction until it has been committed.
I didnt check the code yet but I assume they already take care of consistency also in case of a failure during the commit phase.

I suggest to use the API they a

[2022-02-17 02:11] xuzhenjun130 commented on #486
ok，改成 127.0.0.1 正常了。
之前我改了 `tools/try_cluster/default.conf`  中 把绑定ip 改成了 0.0.0.0， 没想到 try_cluster.sh 里面还有ip设置

另外吐槽一下，kvrocks 的文档太少了。

https://github.com/KvrocksLabs/kvrocks/wiki/Kvrocks-%E9%9B%86%E7%BE%A4%E6%96%B9%E6%A1%88%E7%AE%80%E4%BB%8B

集群介绍这里的示例格式并不能直接去执行，建议修改一下
[code]
- `CLUSTERX SETNODES` 后面没有换行
- 不能进入redis-cli 里面再执行，必须在外面 `redis-cli -h 127.0.0.1 -p 30001 clusterx setnodes "节点配置，一行一个"  1`

[2022-02-17 02:11] #486 closed, assigned to nobody

[2022-02-17 02:13] git-hulk commented on #486
@xuzhenjun130 如果是不需要集群模式就可以不用 enable cluster，直接使用 Master-Slave 方式，跟 Redis  使用几乎是一模一样

[2022-02-17 02:33] xuzhenjun130 commented on #486
@git-hulk
主从这个明白。只是我们原来使用ssdb，部分业务把ssdb当成数据库在用了，两地机房，所以配置的是双主架构。
不改业务代码的情况下，不能使用主从

[2022-02-17 03:11] ShooterIT commented on #487
Thanks @Eshcar Yes, i know RocksDB supports, but i worry transaction db would break kvrocks db usage, I will rethink it.
BTW, initially we just want to implement transaction like Redis

[2022-02-17 06:07] ShooterIT commented on #486
这个脚本参考了 Redis create cluster，这里 Redis 实现是一样的

Kvrocks 当前是几个爱好者在工作之外维护的，人力有限，很多地方需要靠大家一起建设，也非常欢迎你为 Kvrocks 完善文档。

cluster setnodes 中 node_info 每一行设置一个node信息，我忘了写了，已修改，谢谢指出

[2022-02-17 12:47] Eshcar commented on #487
@ShooterIT - can you demonstrate a problematic scenario that will break other kvrocks commands when using rocksdb txs?
I would be happy to assist in understanding these cases.

[2022-02-19 07:50] git-hulk opened #488 "[NEW] Supports to configure the rocksdb advance option max_bytes_for_level_base"
As users may want to control the maximum data size for a level,
we can export the option `max_bytes_for_level_base`(the max total for level-1)
in our config file and allow to modify the value in-flight with `config set`.

For more detail can see: https://github.com/facebook/rocksdb/blob/main/include/rocksdb/options.h#L271

[2022-02-19 11:55] xyxu opened #489 "[BUG] kvrocks2redis was unable to sync to other Kvrocks's namespaces except default"
redis_writer.cc:115] [kvrocks2redis] CRITICAL - redis sync return error , administrator confirm needed : -administor permission required to perform the command

[2022-02-19 12:22] git-hulk commented on #489
Yes, thanks for your feedback. We should use `flushdb` instead of `flushall` when flushing the target db.

[2022-02-21 05:13] git-hulk commented on #478
https://github.com/google/glog/pull/790 has supported logging to stdout, but need to wait for release.

[2022-02-21 07:52] xuzhenjun130 opened #490 "[BUG] kvrocks2redis was unable to migrate data from standalone to cluster mode"
**Describe the bug**

Encounter error when migrating from standalone to cluster：
E0221 15:33:49.522202 26474 sync.cc:66] [kvrocks2redis] CRITICAL - Failed to psync , please remove last_next_seq config file, and restart kvrocks2redis, redis reply: -ERR sequence out of range, please use fullsync

 - OS: [Centos 7]
 - Version [2.0.6]

**To Reproduce**

1. setup standalone instance: `./src/kvrocks -c

[2022-02-21 09:37] git-hulk commented on #490
kvrocks2redis was NOT supported to migrate data kvrocks cluster directly

[2022-02-21 10:23] git-hulk commented on #485
I have an idea for this issue that we can recognize SHA or literal name with the name length.

* For creating, when the name length was equal to 40 chars, use it directly as raw function name, or hash(name) to fixed 40 chars.
* For looking, when the name length was 40, use it as key directly, or use hash(name) as key.

[2022-02-21 23:34] MrYawe opened #491 "[BUG] It doesn't work with ipv6?"
I'm trying to make kvrocks works with an ipv6 address on https://fly.io

**To Reproduce**
Here is my Dockerfile :
[code]

[code]

**Expected behavior**
Kvrocks should listen on `IPv6 TCP *:6666`

[2022-02-22 02:14] git-hulk commented on #491
Yes, kvrocks don't support ipv6 address now, we can support it on the next release. PR is always welcome!

[2022-02-22 06:20] caipengbo commented on #489
I'll fix it as soon as possible.

[2022-02-22 08:15] yorkane opened #492 "[BUG] Kvrocks could not swich databases"
**Describe the bug**
Kvrocks could not swich databases, any database key-value changes effect to all-other databases;

 - OS: Ununtu 20.04 /docker
 - Version 2.06/2.05

**To Reproduce**
Steps to reproduce the behavior:
1.  select 1 -> set t 1 -> get t -> "1"
2.  select 2 -> get t -> "1"

**Expected behavior**
database-1 key-value should not exist in database-2

[code]

[code]

[2022-02-22 08:38] git-hulk commented on #492
Yes, it's expected behavior that SELECT db was designed to compatible with Redis SDK and do nothing when executing. We can use `namespace` if wants to isolate the user data.

[2022-02-22 08:52] yorkane commented on #492
Got it.
Any guidelines or docs for this `namespace` feature?

All I found in `kvrocks.conf` :
[code]
How to config mutiple-user-namespace mappings?

[2022-02-22 08:55] yorkane commented on #492
I found this wiki:

how to convert auth-token-namespace into `redis://passwd@127.0.0.1:6666/1` format?

[2022-02-22 09:10] git-hulk commented on #492
Each namespace would have its password, it should work like the different instances from the user side.

connection string should like below:
[code]

[2022-02-22 09:21] yorkane commented on #492
Seems not work.
I've cleaned all the existing databases and logs, and started a new docker-instance still got:
[code]
Any ideas?

[2022-02-22 09:23] yorkane commented on #492
### kvrocks.WARNING
[code]

### kvrocks.INFO
[code]

[2022-02-22 09:32] git-hulk commented on #492
oooop, update namespace would rewrite the configuration file, it seems that you didn't specify and failed to rewrite the configuration file. But we should regard it as a bug that don't allow to update namespace if the configuration file was not specified.

[2022-02-22 09:34] git-hulk commented on #492
For the workaround, we wen can assign the configuration file with `-c` flag.

[2022-02-22 09:34] yorkane commented on #492
Here is my current local docker-compose.yml for testing
[code]

[2022-02-22 10:27] git-hulk commented on #492
Thanks for your feedback, I'm wrong if you're using docker. Docker should have no permission to modify files from the outside volume?

[2022-02-22 10:34] yorkane commented on #492
No,  Docker do have the permission to operate mapping volumes (including files).

Unless set the `./kvrocks-slave:/tmp/kvrocks:ro` specifically.
[code]

[2022-02-22 13:24] patpatbear opened #494 "[QUESTION] performance drops dramatically on hotkey scenario"
we are using zset to keep track of user score with a fixed length, but benchmark shows if zset is a hot key, performance could drop to 100 qps (or event to 10 qps).

I'm aware that this is caused by rocksdb iterator iterating and skipping too much deleted keys.
I was wondering that if there are parameters to tweak to speedup a bit or workarounds?

following is the script to reproduce the performan

[2022-02-22 13:29] git-hulk commented on #494
@patpatbear Thanks for your feedback, which kvrocks version you're using? This PR: https://github.com/KvrocksLabs/kvrocks/pull/438 should help in this case, but I didn't have a try on my side.

[2022-02-22 13:29] patpatbear commented on #494
also note that hash/set performance also drops on similar hot key senario.

[2022-02-22 13:32] git-hulk commented on #494
Yes, too many tombstones would cause performance degrade when seeking the LSM Tree. For hash/set should only affect the command like hgetall, point lookup command like hget would be fine.

[2022-02-22 13:43] patpatbear commented on #494
i update to the most recent version (2.0.6), seems like this issue still exists.

[code]

[2022-02-22 13:44] patpatbear commented on #494
seems like this issue still exists.

[2022-02-22 14:30] git-hulk commented on #494
oh.. what your mean was that deleted tombstones would slowdown zadd?

[2022-02-23 00:29] patpatbear commented on #494
would slowdown zremrangebyrank. but both zremrangebyrank and zadd are write commands to the same key,  so both zadd and zremrangebyrank would slowdown.

[2022-02-23 02:40] git-hulk commented on #494
cool, thanks @patpatbear. For this case, the single hot key indeed affects the performance in data race condition since we have the key lock when writing. I would investigate it later.

[2022-02-24 06:58] caipengbo commented on #489
What @git-hulk  mentioned is indeed a problem, but I don't think it is the cause of your problem. Can you provide more information (Your `kvrocks2redis` configuration; Your behavior at the `Kvrocks`) @xyxu

[2022-02-24 09:26] ShooterIT commented on #485
###  How to set scripts name
We can set scripts name when calling SCRIPTS LOAD.
`SCRIPTS LOAD $scripts [NAME $name]`

Also we can support set  sha of scripts to new name
`SCRIPTS  SETNAME $name SHA $scripts_sha`

Also can support rename of scripts name
`SCRIPTS  SETNAME $name NAME $scripts_name`

### How to call scripts by name
New command to call scripts by name
`EVALCALL $scripts_name(can 40 cha

[2022-02-24 09:34] ShooterIT commented on #485
also can set script name in EVAL command
change
`EVAL script numkeys key [key …] arg [arg …]`
into
`EVAL script [NAME $name] numkeys key [key …] arg [arg …]`

in EVAL command, numkeys(a number) always is necessary, so we can distinguish `[NAME $name] ` with `numkeys`

[2022-02-24 15:51] git-hulk commented on #485
cool, I think we don't need to limit the length of name. We can still use the fixed 40 chars as script key name, and the name if not 40 chars or use it as key directly. So we can determine whether need to hash the script name or not before lookup script.

[2022-02-25 01:06] ShooterIT commented on #485
oh, yes, can be 40 char, but we should search sha firstly, and if not find, then call it as name

[2022-02-26 16:30] git-hulk commented on #494
I inspected this case, upper/lower bound help nothing since deletion tombstones may have the same prefix(same version). I'm not sure delete range whether can reduce the seek time or not when have many deletion tombstones. Do you have any thoughts except force compaction. @shangxiaoxiong @ShooterIT

[2022-02-28 07:27] ChrisZMF opened #504 "[BUG] Wrong replication state"
**Describe**
If a slave is in full syncing with master, the state can be seen via the item `master_sync_in_progress:1` of info replication. If master is down while slave is fetching SST, the slave will keep retrying connecting with master and the replication state will remain `kReplFetchSST`. The info replication will get `master_sync_in_progress:1`, but it should be `master_sync_in_progress:0`.

[2022-02-28 12:08] git-hulk commented on #504
good catch

[2022-03-01 02:33] ShooterIT commented on #487
@Eshcar Sorry for the slow reply.

Currently, kvrocks directly access `db` when reading data from db, and write a `writebatch` when writing data. It doesn't care about rocksdb txs, if we want to use rocksdb txs, there are too many places that is needed to change. And in some places, we directly access DB for checkpoint, WAL..., So i am not sure we could use  transaction db easily. If you have idea

[2022-03-01 04:30] #504 closed, assigned to nobody

[2022-03-02 11:17] ShooterIT commented on #494
Some ideas
- Enable prefix bloom filter, i am making this 😜
- optimize current locks guard（use rocksdb snapshot for reading instead of locks）, i am thinking, and i will discuss with @git-hulk soon after

[2022-03-02 12:56] ShooterIT commented on #494
@patpatbear would you like to try my PR #508, i enable rocksdb prefix bloom filter

[2022-03-02 20:16] Eshcar commented on #487
Indeed, supporting tx atomicity will create changes to many kvrocks files, if not all. But it has the potential of improving the quality of the code.

Here is my suggestion. At the core of it is the principle of encapsulation:
1. db_ and storage_ fields of Database class should be private, and not be visible/accessible to all inheriting classes.
2. Database should include an abstract DbHandler tha

[2022-03-03 01:18] ShooterIT commented on #494
another way is that we can compact deleted keys or tombstones ASAP

- use NewCompactOnDeletionCollectorFactory of rocksdb
- our compaction checker implements fine-grained compaction

[2022-03-03 01:46] ShooterIT commented on #494
@patpatbear another question, what's your benchmark version? old benchmark(before 6.2) always write `xxxxxxx` for values

[2022-03-03 07:25] tianshimoyi opened #509 "[BUG] kvrocks migrate does not support pasword"
**Describe the bug**
When kvrocks migrate, if the cluster has a password, migrate fails。

 - OS: [e.g. Centos 7]
 - Version [2.0.6]

**To Reproduce**
Steps to reproduce the behavior:
1.
![451646291138_ pic](https://user-images.githubusercontent.com/68532999/156516068-d789f428-f7cd-4981-8140-a82fad5e1c2a.jpg)

2.  redis-cli -h $ip -p $port -a $password clusterx migrate $slot $dst_nodeid

**Expected

[2022-03-03 08:39] ChrisZMF commented on #509
Will be supported as soon as possible

[2022-03-04 06:39] tianshimoyi opened #510 "[QUESTION] Does the kvrocks migrate command and setslot command support batch slot operations?"
Are there any plans for the kvrocks migrate command and setslot to develop functionality to support batch slot migration？setslot needs to reset the version for each slot, which will make the version more and more difficult to control in the future.

[2022-03-05 03:32] sjpcg opened #511 "[NEW] more rocksdb options supporting for write stall needed"
In my tests, when I ran a new compaction strategy that combined an **automatic compation operation with a compaction checker**, MY disk space was blown up so fast that level5 reclamation was slow and my disk ran the risk of being full. If I change this to **auto compaction+cron compaction(hourly)**, it will trigger a write stall that usually lasts more than half an hour and performs poorly. When I

[2022-03-05 05:19] git-hulk commented on #511
@sjpcg Thanks for your feedback. We need to find a new way to let users customize RocksDB options since it's impossible to integrate those options at once, and too trivial to add new option till users want it.

[2022-03-05 06:08] sjpcg commented on #511
It's for the best. Thank you for your efforts

[2022-03-05 06:56] sjpcg opened #512 "[QUESTION] how to use supervised"
I noticed  a **configuration about supervisored** in the config file.But didn't really get it,Does it just like the **supervisored program** which can pulls  the kvrocks process up when it dies for some reason? And if so,how do i use it? Supervisored program need to be installed or  config it only? Thanks

[2022-03-06 04:45] git-hulk commented on #512
Yes, the config item `supervised` was used to interact with your supervision tree which means you need to install tools like supervisor or systemd first.

[2022-03-06 04:45] #512 closed, assigned to nobody

[2022-03-06 10:02] ChrisZMF opened #513 "[BUG] Slave can't re-sync with master again after changing password"
**Describe the bug**
If the connection between master and slave is broken (reasons may be network error, restarting master... ) after changing the password of master, the slave can't resynchronize with master again automatically. The resynchronization will fail because slave can't auth master successfully though the `masterauth` of slave is set rightly. It can be resolved by restarting slave with

[2022-03-06 12:26] git-hulk commented on #513
cool, can you help to handle this issue? @ChrisZMF

[2022-03-06 14:55] ChrisZMF commented on #513
OK, I will fix it soon.

[2022-03-07 12:27] ShooterIT commented on #510
Yes, we have the plan but now we don't have much spare time, may can't support it soon. And current implementation is generally available. Of course, PR is welcome 😜

[2022-03-09 13:17] #509 closed, assigned to nobody

[2022-03-10 06:44] 0xLaiHo opened #516 "[QUESTION]Compile on ubuntu20.04"
Build source with the command `make -j4` and got below error:

![image](https://user-images.githubusercontent.com/18321888/157604189-b2d3a5d4-1dfe-4493-b039-2e37ed0eb3c3.png)
![image](https://user-images.githubusercontent.com/18321888/157604434-83e7a9d4-34ed-43c6-a1ef-a87c23b123af.png)

[2022-03-10 12:50] git-hulk commented on #516
Do you install dependencies first, seems missing the libtool:

[code]

[2022-03-11 04:29] 0xLaiHo commented on #516
of course,libtool version is 2.4.6,and i try it on another machines,still doesn't work

[2022-03-11 04:30] 0xLaiHo commented on #516
![image](https://user-images.githubusercontent.com/18321888/157802313-f2d9f511-ec1e-4a85-8670-b17f05f24afe.png)

[2022-03-11 13:35] git-hulk commented on #516
okay, thanks for your feedback, would have a try on my side soon.

[2022-03-11 14:04] git-hulk commented on #516
![image](https://user-images.githubusercontent.com/4987594/157882056-0eaf5458-4668-49e1-b425-68bde850f66b.png)
I have a test on ubuntu 20.04 LTS, it's ok to compile from source. From your feedback, the autoconf did't use the `libtool`, you need to install dependencies before building. You need to check the `libtoolize --version` instead of libtool

[2022-03-11 16:16] 0xLaiHo commented on #516
thank u for your help , it's success to compile .

[2022-03-11 16:21] git-hulk commented on #516
cool, let's close this issue, welcome to reopen if you have any question or suggestion. Have fun.

[2022-03-11 16:21] #516 closed, assigned to nobody

[2022-03-12 14:45] ColinChamber opened #519 "[QUESTION]The ReadOptions uses the different snapshots when getting metadata and subkey values"
The ReadOptions uses the different snapshots when getting metadata and subkey values. Could there be inconsistencies?

[2022-03-13 02:31] git-hulk commented on #519
Yes, but it seems ok for most scenes, implementation in this way can keep the code more clean and simple.

[2022-03-13 14:18] git-hulk commented on #492
My bad to mislead you, kvrocks dockerfile only supported the volumn: `/var/lib/kvrocks`, so you can mount your local dir to it.

https://github.com/KvrocksLabs/kvrocks/blob/unstable/Dockerfile#L10

[2022-03-13 14:19] #492 closed, assigned to nobody

[2022-03-14 00:47] #513 closed, assigned to nobody

[2022-03-14 03:55] ZonghaoWang opened #521 "How to delete a namespace and its datas fast?"

[2022-03-14 12:52] git-hulk commented on #521
Can use `flushdb` command but the space wouldn't be reclaimed util compaction. Of course, you can use `compact` command to force trigger compaction.

[2022-03-15 12:17] yorkane commented on #492
Thanks!

[2022-03-16 12:23] #521 closed, assigned to nobody

[2022-03-18 07:27] shangxiaoxiong opened #522 "[BUG] The behavior that slave can delete expired key in compactionfilter may lead to Inconsistency with master forever"
Pika has the same problem.

[2022-03-22 14:39] ShooterIT commented on #487
Impressive idea, truly thanks @Eshcar

Recently, I always thought that, it will be really cool to support ACID transaction for KV NoSql. Even I  also want to support interactive transaction, and we can support more features transaction, such as optional sync, isolation level.
[code]
sync: we call fsync after transactions, i.e. truly guarantee data persistent in disk
isolation: we can easily implem

[2022-03-24 02:34] ChrisZMF commented on #510
I will support batch slot operation for command setslot first.

[2022-03-24 03:56] ShooterIT commented on #494
Maybe i have a wrong idea, currently, we already used snapshot for reading instead of locks @shangxiaoxiong correct me

[2022-03-24 06:10] rfyiamcool opened #528 "[Question] how to get keys num in kvrocks ?"
how to get keys num in kvrocks by redis-cli ? 😁

in kvrocks

[code]

in redis

[code]

[2022-03-24 06:39] git-hulk commented on #528
@rfyiamcool Thanks for your attention. Unlike Redis that Kvrocks didn't store keys number directly and it need to background scan the db to get keys number. So we must call `dbsize scan` command first before getting keys num.

Like below:

[code]

[2022-03-24 07:49] rfyiamcool commented on #528
thank u.

[2022-03-24 07:49] #528 closed, assigned to nobody

[2022-03-27 08:27] ShooterIT opened #530 "[QUESTION] Change the license to Apache License Version 2.0"
Hi, all Kvrocks contributors, we want to donate Kvrocks to Apache Software Foundation, the first step for us is changing the license to Apache License Version 2.0. As we know, Kvrocks is an open source software under the BSD-3-Clause license, we truly thank every contributor and user, you guys make Kvrocks great and have an active community, before we could submit PR to change license, we must to

[2022-03-27 08:28] ShooterIT commented on #530
Approved

[2022-03-27 08:29] caipengbo commented on #530
Approved

[2022-03-27 08:30] WyattJia commented on #530
Approved🎉

[2022-03-27 08:44] git-hulk commented on #530
Approved

[2022-03-27 08:50] shangxiaoxiong commented on #530
Approved

[2022-03-27 10:14] karelrooted commented on #530
Approved

[2022-03-27 10:34] ChrisZMF commented on #530
Approved

[2022-03-27 11:33] Eshcar commented on #487
Thanks @ShooterIT
I do not have the capacity to implement/test/benchmark this solution.
I would be happy to work with/guide anyone from the community that is willing to implement this change.
Let me update soon if I can allocate alternative resources for this effort.

[2022-03-28 01:46] Alfejik commented on #530
Approved

[2022-03-28 02:06] xujianhai666 commented on #530
Approved

[2022-03-28 02:41] ColinChamber commented on #530
Approved

[2022-03-28 03:20] LykxSassinator commented on #530
Approved！
LGTM！！！

[2022-03-28 14:29] patpatbear commented on #530
Approved

[2022-03-28 14:32] liangjingyang commented on #530
Approved

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: patpatbear ***@***.***>
Sent: Monday, March 28, 2022 10:29:52 PM
To: KvrocksLabs/kvrocks ***@***.***>
Cc: Yang ***@***.***>; Mention ***@***.***>
Subject: Re: [KvrocksLabs/kvrocks] [QUESTION] Change the license to Apache License Version 2.0 (Issue #530)

Approved

—
Reply to this email directly, view it on

[2022-03-28 14:33] unext-ops commented on #530
Approved

[2022-03-28 14:34] calvinxiao commented on #530
Approved

[2022-03-28 15:27] nioshield commented on #530
Approved🎉🎉🎉

[2022-03-28 15:39] singgel commented on #530
Approved

[2022-03-28 15:41] mzygQAQ commented on #530
Approved

[2022-03-28 17:10] smartlee commented on #530
Approved

[2022-03-29 02:01] QQxiaoyuyu commented on #530
Good ,Approved

[2022-03-29 02:25] popunit commented on #530
Approved

[2022-03-29 02:53] rongzeng54 commented on #530
Approved

[2022-03-29 03:45] clyang commented on #530
Approved

[2022-03-31 08:12] byronhe commented on #530
Approved

[2022-03-31 08:34] fishery86 commented on #530
Approved

[2022-03-31 08:36] gaoyuanzong commented on #530
Approved

[2022-03-31 09:28] ShooterIT commented on #530
<img width="287" alt="image" src="https://user-images.githubusercontent.com/18362176/161023393-eaafba35-802a-4ee6-9bd1-8c61168323f1.png">
<img width="322" alt="image" src="https://user-images.githubusercontent.com/18362176/161023533-04d8cb0a-c625-44de-ba62-54f755310263.png">

26 contributors, 26 `Approved`s 🎉

Truly thank all contributors  for approving donating to Apache and changing the license

[2022-04-06 09:55] aleksraiden opened #532 "[QUESTION] Any plan to support Redis Stream?"
Hi, do you have any plans to support Redis Stream? That's good for use KVrocks as replacement for message-oriented system. My company is one of the needs of this.
Detailed:

- [https://redis.io/commands/?group=stream](https://redis.io/commands/?group=stream)
- [http://antirez.com/news/114](http://antirez.com/news/114)
- [http://antirez.com/news/128](http://antirez.com/news/128)

[2022-04-06 13:30] vongosling commented on #414
Do we guys have any plan to donate this project to the apache software foundation? For a long time, I have been looking for a replacement for Redis that features ultra-high performance, ultra-low latency, powerful geographic disaster recovery, and great cost advantages. I felt the project had a similar design goal. If you have a strong ambition to build a more international and professional commun

[2022-04-06 13:38] git-hulk commented on #414
Yes, we are grateful and surprised that @vongosling can pay attention to Kvrocks; we aim to give this project to ASF and are currently developing an application.

That's why we will change the license to Apache in this issue: https://github.com/KvrocksLabs/kvrocks/issues/530

[2022-04-07 01:32] ShooterIT commented on #532
Sorry, currently, we have no plan to implement Redis Stream. Why don't we use kafka?

[2022-04-07 02:46] #530 closed, assigned to nobody

[2022-04-07 07:02] vongosling commented on #414
Nice, glad to see your works. any mentor help, pls let me know.:-)

[2022-04-07 16:00] adulau commented on #414
-    CIRCL ([Computer Incident Response Center Luxembourg](https://www.circl.lu/)) - [MISP Project](https://www.misp-project.org/)
-    Luxembourg - Europe
-    https://twitter.com/adulau - https://twitter.com/MISPProject/ - https://twitter.com/circl_lu
-    We use kvrocks for multiple projects to replace Redis especially on large data-set used for digital forensic, threat intelligence and data mi

[2022-04-09 07:24] aleksraiden commented on #532
We want to use one and simple storage and in-memory. Kafka is too complicity and for one function need a dedicated system and infrastructure (for us).

[2022-04-09 09:19] git-hulk commented on #414
@adulau Does it ok to show your company logo in README section `Who uses kvrocks`?

[2022-04-12 01:13] VictorCam opened #534 "[BUG] Kvrocks SCAN does not match with Redis SCAN"
**Describe the bug**
Scanning on Kvrocks produces incorrect responses when compared to Redis.

![image](https://user-images.githubusercontent.com/43551031/162858658-999c7153-f7c2-4b76-bc05-be52a03dd350.png)
![image](https://user-images.githubusercontent.com/43551031/162858727-8997641f-6b87-43f6-82fa-8b7960f61b52.png)

**To Reproduce**
Steps to reproduce the behavior:
1. run docker
2. get images "d

[2022-04-12 01:30] ShooterIT commented on #534
@VictorCam Thanks for your report
there are two difference with redis, i find
- return value is string instead of integer, the reason is here https://github.com/KvrocksLabs/kvrocks/discussions/417
- From code, Kvrocks currently only support "prefix" match, so it return 0 when `match *he*`, for this, we can support it i think, even it may be inefficient.

[2022-04-12 01:36] ShooterIT commented on #519
I think we should avoid this, it is a bad design. We should find a time to refactor this implementation.

[2022-04-12 01:58] VictorCam commented on #534
Thank you for the quick response and explanation. I'd be nice to have that implemented. I believe it can be useful in certain scenarios. Though feel free to decide if you'd like to implement it or not considering that fact that it will be inefficient.

[2022-04-13 19:02] aleksraiden commented on #532
A small questions - if we are ported a  stream code into KVRocks, are you approve it to merge into release?

[2022-04-14 01:54] git-hulk commented on #532
Of course, I think we would be very happy to see this. cc @ShooterIT

[2022-04-14 02:45] ShooterIT commented on #532
Why not! for some features that redis has, we don't have enough time to implement it, it will be our pleasure if someone could push it forward.

[2022-04-15 07:57] adulau commented on #414
Sure I can do a PR if you like.

[2022-04-15 08:26] git-hulk commented on #414
@adulau Many thanks for your help. Yes, we want to add it to README.

[2022-04-18 02:01] JackyLucifer opened #535 "[NEW] Could kvrocks support multi db paths"
**The problem/use-case that the feature addresses**
During use kvrocks, we found kvrocks always write data to one db path, this behavior is not friendly, we want to kvrocks could write data to different db paths.

**Description of the feature**
As we know, rocksdb support multi db paths, so we hope kvrovks also could support this feature, we could set multi db paths by `config set` or `function`,

[2022-04-18 03:31] ShooterIT commented on #535
I think this idea makes sense. I ever also wanted to support it, this feature may bring many advantages
- If there are some small disks, we also could provide big db
- As we know, now there are many storage media with different speeds, such as AEP, SSD, HDD, we can store low level data on the fast storage, to gain better performance.
- In cloud environment, we could use local disk and remote stora

[2022-04-18 03:44] JackyLucifer commented on #535
I see. Multipath database storage will cause other related problems
My requirement is to control the path to read the database through code
Is this feasible?
If you can, I hope to open it and dynamically modify the database path, so as to achieve my purpose

For example:
The database path in the configuration file is loaded by default, and redis and rocksdb data are synchronized
After modifying th

[2022-04-19 17:11] supermy opened #536 "[BUG] make error macos"
**Describe the bug**
cd src && /Applications/Xcode.app/Contents/Developer/usr/bin/make all
    CC server.o
    CC main.o
    LINK kvrocks
Undefined symbols for architecture x86_64:
  "_dallocx", referenced from:
      rocksdb::DumpMallocStats(std::__1::basic_string<char, std::__1::char_traits<char>, std::__1::allocator<char> >*) in librocksdb.a(malloc_stats.o)
  "_mallctl", referenced from:

[2022-04-20 01:53] git-hulk commented on #536
@supermy Thanks for your feedback. Did you install the jemalloc on you side?

[2022-04-20 02:38] ShooterIT commented on #535
Hi @JackyLucifer Even multi db paths solution has several problem we need to deal with, i think it make much sense, it is worth putting energy to dig into.
your requirement is much customized and trick, i don't think we could support it, you can implement it in your branch.

[2022-04-20 03:08] supermy commented on #536
brew upgrade jemalloc
Running `brew update --preinstall`...
==> Auto-updated Homebrew!
Updated 1 tap (homebrew/cask).
==> Updated Casks
Updated 1 cask.

Warning: jemalloc 5.2.1_1 already installed

make -j4
cd src && /Applications/Xcode.app/Contents/Developer/usr/bin/make all
    CC server.o
    CC main.o
    LINK kvrocks
Undefined symbols for architecture x86_64:
  "_dallocx", referenced from:

[2022-04-20 03:20] JackyLucifer commented on #535
OK

[2022-04-20 03:20] #535 closed, assigned to nobody

[2022-04-20 04:03] supermy commented on #536
UNAME ?= $(shell uname)
ifeq ($(UNAME),Darwin)
    PLATFORM_LDFLAGS += -bundle -undefined dynamic_lookup
endif

 make -j4
cd src && /Applications/Xcode.app/Contents/Developer/usr/bin/make all
    CC server.o
    CC main.o
-pthread -ldl -lsnappy -lgflags -lz -lbz2 -llz4 -lzstd -bundle -undefined dynamic_lookup
/Users/moyong/project/kvrocks/external/glog/.libs/libglog.a /Users/moyong/project/kvrocks

[2022-04-21 07:50] supermy commented on #536
# Operating system
# ifeq ($(uname_S),Darwin)
# 	# Darwin
# 	DISABLE_JEMALLOC=1
# else
# endif

make clean
make kvrocks
===============================================================================
jemalloc version   : 5.2.1-727-g12cd13cd418512d9e7596921ccdb62e25a103f87
library revision   : 2

CONFIG             : --enable-autogen --disable-libdl --enable-static --with-jemalloc-prefix= 'LDFLAGS=

[2022-04-21 07:52] supermy commented on #536
why ?

# Operating system
ifeq ($(uname_S),Darwin)
 	# Darwin
 	DISABLE_JEMALLOC=1
 else
 endif

[2022-04-21 11:46] git-hulk commented on #536
Do you mean why we disabled the jemalloc on MacOSX? If yes, the reason was that
we want to run memory sanitizer on MacOSX and use jemalloc may cause problem.

[2022-04-22 04:14] joey0612 opened #537 "[NEW] reduce concurrency conflicts by reduce the amount of concurrent data controlled by read-write locks"
**All workers preempt the global concurrent lock ‘RWLock::ReadWriteLock’**

All requests will preempt a global read-write lock (‘RWLock::ReadWriteLock’), but the data between requests is likely to have no conflict, increasing the waiting time of the lock.

**Increase the number of read-write locks and reduce the data range controlled by the locks**

E.g：
1. RWLock::ReadWriteLock works_concurrency_

[2022-04-22 04:40] #537 closed, assigned to nobody

[2022-04-22 07:30] ShooterIT commented on #462
Hi @DenizPiri I submit a commit to solve this problem, please have a look.

[2022-04-26 15:39] mythyygg opened #541 "[QUESTION] does kvrocks support pipeline command？"

[2022-04-27 02:05] git-hulk commented on #541
@ygmyth Kvrocks supported pipeline mode, can you offer more information about what's going wrong when using the pipeline mode.

[2022-04-27 16:34] git-hulk commented on #536
Will close this issue since lack of more context. Feel free to reopen if needed.

[2022-04-27 16:34] #536 closed, assigned to nobody

[2022-04-29 02:02] tisonkun opened #542 "[NEW] Apply Apache License header for source code"
... and add a CI task to guard the situation.

This is a requirement for Apache release.

[2022-04-29 03:13] #542 closed, assigned to nobody

[2022-04-29 03:22] tisonkun opened #544 "[NEW] Add .asf.yaml file"
So that we can configure repo settings under apache org.

[2022-04-29 07:44] #544 closed, assigned to nobody

[2022-04-29 11:20] adulau commented on #534
and if you are curious, we maintain a [fork of the Redis Python library](https://github.com/hashlookup/redis-py/commit/e9c53fb1398e636106c0ec0165ba564943564a83) to make the iterator works on kvrocks.

[2022-04-29 15:35] tisonkun opened #547 "[NEW] Apply Apache License header for Tcl files"
This is a follow up to #542.

Finally I understand how to apply Apache License header for Tcl files.

[2022-04-30 01:21] liuqian1990 opened #549 "clear call"
`String::getValue value->clear();`  call clear
`String::getValues` not all clear

[2022-04-30 01:41] git-hulk commented on #549
Thanks @liuqian1990 feedback.

The String::getValues also clears the input values when calling the function `getRawValues`.

[2022-04-30 02:17] liuqian1990 commented on #549
`function getRawValue also call clear`

[2022-04-30 02:22] liuqian1990 commented on #549
`rocksdb::Status String::getRawValue(const std::string &ns_key, std::string *raw_value) {raw_value->clear();`

[2022-04-30 07:20] #547 closed, assigned to nobody

[2022-04-30 09:49] git-hulk commented on #549
Sorry that I didn't get what your mean. Do you find any problems?

[2022-04-30 14:22] #549 closed, assigned to nobody

[2022-05-05 07:15] git-hulk commented on #541
@ygmyth Feel free to reopen if you have any question.

[2022-05-05 07:15] #541 closed, assigned to nobody

[2022-05-07 01:29] melin opened #552 "[QUESTION]rocksdb is stored in key order, supports range api, redis does not support"
rocksdb is stored in key order, supports range api, redis does not support

[2022-05-07 01:36] caipengbo commented on #552
Kvrocks supports rich Redis data types, some of which support range related APIs, like `zrange`, `lrange` etc, which you can find [here](https://github.com/apache/incubator-kvrocks/wiki/Support-Commands). Kvrocks implements the above APIs based on the rocksdb range APIs.

[2022-05-07 06:48] #148 closed

[2022-05-08 13:36] git-hulk opened #556 "[BUG] Failed to link jeamlloc when building with makefile"
There're two issues when building with clang13 on MacOSX:
1. RocksDB can't be compiled with clang13, can be fixed by #555
2. Failed to link jemalloc in rocksdb since rocksdb would auto detect and
enable the jemalloc if exists, but Kvrocks didn't link the jemalloc in MacOSX.

[2022-05-08 13:38] tisonkun commented on #556
I've tested with #555 but still failed to compile with:

[code]

with Clang version:

[code]

[2022-05-08 13:54] git-hulk commented on #556
Thanks @tisonkun

Need to run `make distclean` to rebuild dependencies. You can have a look at file `external/rocksdb/make_config.mk` should contain `JEAMLLOC=1` if didn't rebuild the rocksdb.

[2022-05-09 02:01] #556 closed, assigned to nobody

[2022-05-09 05:01] tisonkun commented on #556
@git-hulk after this issue resolved, build still failed with:

<details>
<summary>Output</summary>
<pre>
$ clang -v
Homebrew clang version 13.0.1
Target: x86_64-apple-darwin19.6.0
Thread model: posix
InstalledDir: /usr/local/opt/llvm/bin
$ mkdir build
$ make -j8
cd src && /Applications/Xcode.app/Contents/Developer/usr/bin/make all
cd /Users/tison/Brittani/incubator-kvrocks/external/glog;./autogen.

[2022-05-09 05:34] git-hulk commented on #556
I also got this error on MacOSX before when using `-j` to run jobs simultaneously,
but I didn't investigate the reason. Can workaround by remove `-j4`.

[2022-05-09 05:35] git-hulk commented on #556
@tisonkun I think we can change the README guide to use `make` instead of `make -j4` before
resolving. How do you think?

[2022-05-09 05:40] tisonkun commented on #556
@git-hulk make sense.

[2022-05-09 06:06] git-hulk commented on #556
@tisonkun OK, thanks. Will do it later.
This issue seems caused by resource was NOT enough when building.
Other softwares like `openresty` also have this issue on MacOSX: https://github.com/openresty/openresty/issues/22.
But I still don't know why, need further study.

[2022-05-09 06:45] tisonkun opened #559 "Remove unused and misleading variable `kDefaultConfPath`"
https://github.com/apache/incubator-kvrocks/blob/a5a5434a93388137be640c55b5440a66f42e1659/src/main.cc#L48

It seems we don't actually load config from `../kvrocks.conf` if `-c` is not specific.

cc @git-hulk @ShooterIT

[2022-05-09 06:50] tisonkun opened #560 "Adopt issue template configs"
So far, we use GitHub legacy markdown format for issue template. However, GitHub provides a new [config feature for setting up issue template](https://docs.github.com/en/communities/using-templates-to-encourage-useful-issues-and-pull-requests/configuring-issue-templates-for-your-repository#creating-issue-forms).

Also, we'd better keep bug report and enhancement while guiding questions to mailing

[2022-05-09 06:52] git-hulk commented on #559
Yes, u are right. It won't use this default config path any more.

[2022-05-09 06:53] git-hulk commented on #560
+1, really cool.

[2022-05-09 09:00] PragmaTwice opened #561 "[QUESTION] Consider reintroducing googletest to cmake dependencies?"
The current `cmake/gtest.cmake` is confusing, especially since it contains a directory on [line 38](https://github.com/apache/incubator-kvrocks/blob/cf9901f88f5905f75e542999529fcbad2ec66dd1/cmake/gtest.cmake#L38) that does not exist, so this file does not seem to provide any functionality.

The project uses the system-supplied gtest, which makes it difficult to control its version. It also seems t

[2022-05-09 09:01] PragmaTwice opened #562 "[NEW] Consider using `FetchContent` instead of `ExternalProject` and git submodules?"
[`FetchContent`](https://cmake.org/cmake/help/latest/module/FetchContent.html) has been adopted by many projects as a dependency fetching method introduced in newer versions of cmake, for example [the official documentation for gtest](https://google.github.io/googletest/quickstart-cmake.html#set-up-a-project) already recommends using `FetchContent` to import itself into other projects (replacing t

[2022-05-09 09:05] PragmaTwice opened #563 "[QUESTION] About compile option `-O0` in the cmake target `kvrocks`"
The `-O0` option currently added to target `kvrocks` in [CMakeLists.txt](https://github.com/apache/incubator-kvrocks/blob/unstable/CMakeLists.txt#L85) is confusing, as it may prevent compilation optimizations in Release mode.

The performance impact of compile optimizations can be huge, especially with heavy use of the c++ standard library, where optimized versions can be tens of times faster than

[2022-05-09 09:06] ShooterIT commented on #560
cool, thanks!

[2022-05-09 09:10] ShooterIT commented on #559
Current solution is not a good idea. But i think kvrocks should provide a way to start without conf file. i.e. without `-c xxx.conf`, this makes it easy to try.

[2022-05-09 09:13] git-hulk commented on #559
@ShooterIT Kvrocks had supported that, so the default path was unused actually.

[2022-05-09 09:19] git-hulk commented on #563
Thanks @PragmaTwice

No special consideration, we set it as O0 to make the debug easier.
I also agree it's a good idea to change it to `O2`.

[2022-05-09 09:22] git-hulk commented on #561
+1, other guys also suffered this problem, I think we can reintroduce `gtest` to make the build process easier.

[2022-05-09 09:53] ColinChamber commented on #561
By the way could you help to finish this PR #525 ? I'm sorry I don't have the time currently. Thanks @PragmaTwice

[2022-05-09 10:00] git-hulk commented on #561
@ColinChamber we can delay this PR since glog0.5 remove the autoconf which would
break the makefile.

[2022-05-09 10:19] ColinChamber commented on #561
OK

[2022-05-09 12:00] git-hulk opened #565 "CI should also check the build status with CMake on ubuntu"
Currently, Kvrocks supported make and cmake ways to build the source,
but CI workflow only check the make command. To be more rigorous, we
need to also check the cmake way.

I will file a PR to do this.

[2022-05-10 04:50] tisonkun commented on #562
If this effort can be done, I'm glad to see a lightweight repo to be cloned and we may converge to a unified build system (CMake).

WDYT @git-hulk @ShooterIT?

[2022-05-10 05:46] git-hulk commented on #562
Thanks @PragmaTwice @tisonkun, I think it's very great to make the build process faster. I like this improvement.

[2022-05-10 05:57] PragmaTwice commented on #562
I noticed that this project also maintains handwritten Makefiles,
is it acceptable to keep cmake and delete the handwritten Makefiles?

I think keeping only cmake will reduce the maintenance cost.

[2022-05-10 06:10] git-hulk commented on #562
Yes, @tisonkun have proposed this in #566 comment, I'm ok to remove the makefile. But I think we should do this on the other PR.

[2022-05-10 06:12] PragmaTwice opened #569 "Proposal: Consider introducing target `libkvrocks` and using `file(GLOB ...)` to avoid redundance in CMake"
Currently there are three targets in cmakelists: `kvrocks`, `kvrocks2redis` and `unittest`. these three targets have many common properties which are redundant, we can introduce a new target `libkvrocks`, define common properties in this target (e.g. source files in `src/` except `src/main.cc`), header directories to include, compilation options `-Wall ...`, standard versions `cxx_std_11`, etc.),

[2022-05-10 06:19] PragmaTwice commented on #562
Agree with that. I will try to keep Makefiles working in this PR. https://github.com/apache/incubator-kvrocks/pull/564#issuecomment-1121972637

[2022-05-10 07:42] erwadba opened #570 "[QUESTION] kvrocks process crash sometimes in kvrocks cluster."
Env: 6 same server  4c 16G
[code]
[code]

Problem:
kvrocks process crash sometimes. The kernel error like this
[code]

[2022-05-10 08:01] #560 closed, assigned to tisonkun

[2022-05-10 08:23] ShooterIT commented on #570
do you have core dump stack trace?

[2022-05-10 08:29] erwadba commented on #570
I find the server not open core dump.
[root@kvrocks-0001 kvrocks]# addr2line -e /www/kvrocks/bin/kvrocks 886515
/__w/kvrocks/kvrocks/external/jemalloc/include/jemalloc/internal/pai.h:36
[root@kvrocks-0001 kvrocks]#

This is kvorcks one node conf.
[kvrocks.conf.txt](https://github.com/apache/incubator-kvrocks/files/8660013/kvrocks.conf.txt)

[2022-05-10 09:00] #565 closed, assigned to nobody

[2022-05-11 06:16] rex0654335 commented on #414
Organization：(personal)个人
Location：ShangHai
Contact：541563084@qq.com
How we(I) use Kvrocks: For Learning
Request features: namespace is good, it'd be better if can support getting command stats by namespace

[2022-05-11 13:35] tisonkun commented on #562
@PragmaTwice perhaps you can think of creating a tracking issue for build system changes.

In #564 we replace `ExternalProject` with `FetchContent`. As mentioned above, we'd follow up a PR later to remove git submodules and Makefile based build logics.

There is another issue #561 to be addressed in build system settings.

Also, I notice that we don't have a config about CXX_STANDARD used in Kvroc

[2022-05-11 14:04] git-hulk commented on #562
We set the CXX_STANDARD at target compile instruction, like [MakeLists.txt#L78](https://github.com/apache/incubator-kvrocks/blob/unstable/CMakeLists.txt#L78). Do you mean that's NOT obvious enough for developers?

[2022-05-11 14:10] PragmaTwice commented on #562
Great idea! I will create a tracking issue about the build system later.

[2022-05-11 14:16] tisonkun commented on #562
@git-hulk Sorry for missing this point. Then it's OK for me. If we encounter further confusion on c++ standard part, we can review the setting style or mention it in doc / readme. I'm OK with current status after you point it out.

[2022-05-11 14:24] git-hulk commented on #562
Got it. Current linter may also frustrate developers since it's not easy to run on local, since it depends on special version of cpplint and cppcheck, but won't discuss here. @PragmaTwice can help to close this issue if planning to create another issue to track the build process change.

[2022-05-11 14:37] #421 closed, assigned to nobody

[2022-05-11 14:44] PragmaTwice commented on #562
Ok, I'll close it. BTW, since I have some experience in static analyzer development, I am glad to give some suggestions and enhancements on lint/code analysis.

[2022-05-11 14:50] git-hulk commented on #562
Cool! We are very eager to improve this, thanks dude.

[2022-05-11 15:11] git-hulk opened #572 "Proposal: add multiple platforms and CPUs build workflow in GitHub Actions"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Motivation

As far as I know, Kvrocks works well on platforms like CentOS/Ubuntu/Debian and MacOSX, as well as CPU like ARM64 and Apple M1. But we didn't check the build system status now and we can't guarantee it's always fine over time. So I think w

[2022-05-12 00:23] tisonkun commented on #572
IIRC [GitHub Actions doesn't provide hosted ARM64 machine](https://github.community/t/ask-about-github-hosted-runners-arm64-platform-support/167483) ([another instance](https://issues.apache.org/jira/browse/CURATOR-634)). We may need a sponsor for self-hosted runners, other CI platform or ask ASF Infra for more information.

[2022-05-12 02:09] git-hulk commented on #572
Thanks @tisonkun.

Another solution can run those ARM64 jobs on Travis CI, but I'm wondering whether it makes sense or not.

[2022-05-12 02:35] ShooterIT commented on #570
Hi @erwadba from current messages, i have no idea to catch. Please open core dump, and reproduce it

[2022-05-12 07:45] PragmaTwice opened #574 "Proposal: Remove handwritten makefiles to keep only one build system"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Motivation

As already discussed in https://github.com/apache/incubator-kvrocks/issues/562, https://github.com/apache/incubator-kvrocks/pull/564 and https://github.com/apache/incubator-kvrocks/pull/566, remove handwritten makfiles allow us to focus on

[2022-05-12 07:45] PragmaTwice opened #575 "Tracking issue for build system enhancements"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Motivation

Modern CMake provides many amazing features to organize the build structure of a project in a more convenient way, and we can make full use of them to improve the development experience!
@tisonkun had a good suggestion in https://github.co

[2022-05-12 07:46] PragmaTwice commented on #561
Solved in #564

[2022-05-12 07:46] #561 closed, assigned to nobody

[2022-05-12 07:46] PragmaTwice commented on #562
Solved in #564

[2022-05-12 07:46] #562 closed, assigned to nobody

[2022-05-12 10:27] git-hulk commented on #574
+1

[2022-05-12 13:25] torwig commented on #575
I'm trying to build kvrocks on Fedora35 with CMake (cmake version 3.22.2):

[code]

However, just doing `make -j8` successfully builds the application.

[2022-05-12 14:06] PragmaTwice commented on #575
Can you locate `libstdc++.a` in your environment?
Refer to [here](https://www.linuxquestions.org/questions/fedora-35/fedora-22-ld-cannot-find-lstdc-4175555440/), the command in fedora maybe `dnf provides */libstdc++.a`, and you could try to install `libstdc++-static`.

https://unix.stackexchange.com/questions/416875/fedora-27-usr-bin-ld-cannot-find-lstdc

[2022-05-12 14:13] PragmaTwice commented on #575
The problem is caused by that `-static-libstdc++` is added as a flag to the compiler in [CMakeLists.txt#L72](https://github.com/apache/incubator-kvrocks/blob/unstable/CMakeLists.txt#L72), which is not added in makefiles, so a static library of libstdc++ is needed.

[2022-05-12 14:27] PragmaTwice commented on #575
Maybe some tips should be added to README to let users know that kvrocks need libstdc++.a for build. @git-hulk

[2022-05-12 14:55] git-hulk commented on #575
Yes, you are right. Do you think it's a good idea to search library first before linking?

[2022-05-12 15:25] torwig commented on #575
@PragmaTwice
Thank you, `sudo dnf install libstdc++-static` solved the issue, and now the application is successfully built.

[2022-05-12 16:56] PragmaTwice commented on #575
I think it is a good idea, there are two solutions for searching library:
1. find library, and give an error or warning if not found; give an option to user of whether `-static-libstdc++` is enabled
2. find library, do not enable `-static-libstdc++` if not found

I prefer the first solution, because I think the second is more implicit, users may not know whether `-static-libstdc++` is enabled whil

[2022-05-13 01:39] git-hulk commented on #575
agree, explicitly always better than implicitly.

[2022-05-13 04:35] tisonkun commented on #559
I'm going to prepare a patch to remove related code later today :)

[2022-05-13 10:19] #559 closed, assigned to tisonkun

[2022-05-13 10:59] #574 closed, assigned to nobody

[2022-05-13 11:03] tisonkun commented on #559
FYI I record the experience to solve this issue on bilibili: https://www.bilibili.com/video/BV1w54y1Z7VP/

It may be a content to show how to participant Kvrocks community :)

[2022-05-14 03:27] #491 closed, assigned to nobody

[2022-05-15 07:21] tisonkun commented on #534
@ShooterIT Another concern is that on Kvrocks, `SCAN` return the cursor "_hello" but actually if you want to iterate on next element, it requires a number based cursor.

For example:

[code]

Note that `SCAN "_hi there" ...` returns "0".

[2022-05-15 07:22] tisonkun commented on #534
Sorry. I get it wrong.

[code]

The cursor should work.

[2022-05-15 09:30] PragmaTwice opened #580 "Proposal: Search library first before linking `libstdc++.a` in CMake"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Motivation

This idea comes from @git-hulk, and the following is the discussion at that time:

I think it is a good idea, there are two solutions for searching library:
1. find library, and give an error or warning if not found; give an option to user

[2022-05-15 09:31] seaguest commented on #532
@aleksraiden

FYI, [NATS](https://github.com/nats-io/nats-server) is a good alternative of Kafka, lightweight and easy to run, it does support persistence in JetStream mode.

[2022-05-15 09:58] PragmaTwice opened #581 "Proposal: Just return values instead of passing pointers if possible"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Motivation

C++ specifies a number of strategies in the standard to eliminate unnecessary copies, which are called [copy elision](https://en.cppreference.com/w/cpp/language/copy_elision).

One of these optimizations is called *named return value optim

[2022-05-15 10:30] aleksraiden commented on #532
WE start implements this feature after porting LMOVE command :) in first release we have a plan to implement a base functions, withoit consumers group

[2022-05-15 11:02] git-hulk commented on #581
Cool, thanks @PragmaTwice. We use many C style passing pointers in function parameter,
it's good to me since it won't affect readable.

[2022-05-16 13:36] git-hulk opened #582 "Failed to build the cmake(3.23.1) on Centos7"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Version

4f9f01c785cfea7ae4cc66f9c6cf55fa0c4866d9

### Minimal reproduce step

[code]

### What did you expect to see?

Can build the newer cmake version

### What did you see instead?

[code]

### Anything Else?

_No response_

### Are you willing to

[2022-05-16 14:14] git-hulk commented on #575
I try to build on CentOS8(also CentOS7) and got the error:
[code]
But I didn't find the root cause, just commented first.

[2022-05-16 16:27] git-hulk commented on #575
It also failed on the old version, so NOT related with the new build system.

[2022-05-16 16:54] PragmaTwice commented on #575
That's weird. I think it is probably due to the macro `RTREE_NSB` or `RTREE_HEIGHT`, which are original `LG_VADDR` and `LG_PAGE`. Could you check your `include/jemalloc/internal/jemalloc_internal_defs.h` generated by `configure` which includes these two macro definition?
And sometimes try clang or other version of gcc could let you find some useful info.

[2022-05-16 17:46] #582 closed, assigned to nobody

[2022-05-17 00:37] git-hulk commented on #575
I checked the generated defs, looks the `LG_VADDR` shouldn't be 0:
[code]
I will compare the normal version on ubuntu later.

[2022-05-17 03:30] PragmaTwice commented on #575
[code]
These two macro definition in my side. Maybe the reason is that `0` can lead `RTREE_NSB` to be a negative number.

Refer to https://en.cppreference.com/w/cpp/language/operator_arithmetic#Bitwise_shift_operators, that's an UB.

[2022-05-17 04:03] git-hulk commented on #575
Yes, you're right. I also find this on my side and this only appears in MacOSX docker environment.

[2022-05-17 10:38] luger1990 opened #585 "Redis Python client cannot find follower node with sentinel"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Version

kvrocks:2.0.6

### Minimal reproduce step

python code:
[code]

### What did you expect to see?

[code]

### What did you see instead?

[code]

### Anything Else?

_No response_

### Are you willing to submit a PR?

- [ ] I'm willing to submi

[2022-05-17 10:54] luger1990 commented on #585
thanks @tisonkun change my title to english

I found the cause of the problem. The redis-7xx version does not support the command `SENTINEL slaves`, just replace it with redis-6xx

[2022-05-17 10:56] #585 closed, assigned to nobody

[2022-05-17 10:58] luger1990 commented on #585
and thanks kvrocks,I try to replace pika and ssdb with kvrocks. 👍

[2022-05-17 14:21] indianmifan opened #587 "Fail to build project on MacOS running on M1"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Version

building Kvrocks, commit id: 411bf43710679a7fa8a5c4b5e4946225757be562
-- Available event backends:
-- CMAKE_BINARY_DIR:         /Users/mifan/incubator-kvrocks/build
-- CMAKE_CURRENT_BINARY_DIR: /Users/mifan/incubator-kvrocks/build/_deps/libev

[2022-05-17 14:43] PragmaTwice commented on #587
Could you provide the full error log? i.e. the full output of `cmake -DCMAKE_VERBOSE_MAKEFILE=ON ..; make` in a fresh build directory (e.g. empty dir). Thanks!
It is sad that I do not have any device with apple silicon. 😢

[2022-05-17 14:45] git-hulk commented on #587
Me too. @ShooterIT @Alfejik Can help to have a try if you have the M1 machine. Seems the `lua` library only supported `macosx` platform but can't specify the `arm64` arch. I'm not sure whether we can fix it with passing compile flags or not.

[2022-05-17 15:04] indianmifan commented on #587
// stdout is omitted
[code]

[2022-05-17 15:06] PragmaTwice commented on #587
Maybe you can try this solution https://github.com/bitcoin/bitcoin/issues/20825#issuecomment-753444519.
Don't know if it will work but there are a lot of similarities.

[2022-05-17 15:10] PragmaTwice commented on #587
Refer to https://stackoverflow.com/questions/69335349/error-when-compiling-protobuf-for-c-in-ios-undefined-symbols-and-ld-warni ,you can try `brew uninstall binutils`.

[2022-05-17 15:29] indianmifan commented on #587
Thanks, this solves my problem !

[2022-05-18 05:41] ShooterIT commented on #587
thanks @PragmaTwice and @indianmifan Closed

[2022-05-18 05:41] #587 closed, assigned to nobody

[2022-05-18 08:24] #563 closed, assigned to nobody

[2022-05-18 08:24] #569 closed, assigned to nobody

[2022-05-18 14:31] PragmaTwice opened #589 "Improve `version.h.in` processing in CMake"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Motivation

Now the generated version.h by CMake is not comsistent with the previous Makefiles.
The version is now set in [CMakeLists.txt#L20](https://github.com/apache/incubator-kvrocks/blob/unstable/CMakeLists.txt#L20), we can remove it and read ver

[2022-05-18 14:34] PragmaTwice opened #590 "Improve using of ASan and TSan in CMake build"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Motivation

As discussed in #586, we can improve using of ASan and TSan in the CMake build.

### Solution

_No response_

### Are you willing to submit a PR?

- [X] I'm willing to submit a PR!

[2022-05-19 03:09] ShooterIT commented on #590
cool, thanks, l like this idea. And we can also run tests with ASan and TSan in daily CI.

[2022-05-19 04:56] git-hulk commented on #589
+1

[2022-05-19 11:03] #589 closed, assigned to nobody

[2022-05-19 12:17] ShooterIT opened #595 "You can help Kvrocks to support more Redis commands"
### Motivation

Now Kvrocks only support most commands of Redis 4.0 version. Here are supported commands https://github.com/apache/incubator-kvrocks/wiki/Support-Commands.

But now Redis is 7.0, developers want us to support some useful commands to make development easier.  Just a few of us is not enough to implement so many command. To make this project better, we need your help!

### Solution

I

[2022-05-19 12:23] ShooterIT commented on #456
@guoxiangCN has no spare time to do that, if someone wants to do that, go ahead

[2022-05-19 12:25] ShooterIT commented on #595
Here an issue #456 is needed to resolve

move comments from @PragmaTwice  to #456 to trace

[2022-05-19 12:31] #580 closed, assigned to nobody

[2022-05-19 13:06] PragmaTwice commented on #595
I feel that it might be a bit too cumbersome to operate a `vector<string>` for each command to parse, and there would be a lot of duplicated logic. It might be nice to design some unified abstraction, but I haven't figured out how to do that yet.

[2022-05-19 13:18] PragmaTwice commented on #595
Seems like that the grammar of redis commands can be parsed by an LL(1) parser.

[2022-05-19 13:24] PragmaTwice commented on #595
Seems like the grammar of redis commands is a [regular grammar](https://en.wikipedia.org/wiki/Regular_grammar).
But no sure.

[2022-05-19 13:41] PragmaTwice commented on #595
Here are some initial ideas.

To parse `SET key value [ NX | XX] [GET] [ EX seconds | PX milliseconds | EXAT unix-time-seconds | PXAT unix-time-milliseconds | KEEPTTL]` ([ref](https://redis.io/commands/set/)):

[code]

[2022-05-20 01:55] git-hulk commented on #595
It looks better than before, this idea is really nice to me.

[2022-05-20 02:27] ShooterIT commented on #456
comments from @PragmaTwice
I feel that it might be a bit too cumbersome to operate a `vector<string>` for each command to parse, and there would be a lot of duplicated logic. It might be nice to design some unified abstraction, but I haven't figured out how to do that yet.

Here are some initial ideas.

To parse `SET key value [ NX | XX] [GET] [ EX seconds | PX milliseconds | EXAT unix-time-second

[2022-05-20 02:35] ShooterIT commented on #456
@PragmaTwice move your comments here, and discuss here to avoid far too many comments for #595

[2022-05-20 02:54] PragmaTwice commented on #456
Thanks! BTW I think this idea is applicable to all commands, including `SET`, especially some complex ones.

[2022-05-20 02:57] ShooterIT commented on #456
@PragmaTwice oh, it will be a big change, i think we should open a new issue to discuss

[2022-05-20 05:33] PragmaTwice opened #598 "A unified abstraction for redis command parsing"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Motivation

**comments from @PragmaTwice:**
I feel that it might be a bit too cumbersome to operate a `vector<string>` for each command to parse, and there would be a lot of duplicated logic. It might be nice to design some unified abstraction, but I

[2022-05-20 05:43] PragmaTwice commented on #456
Thanks. Moved to #598.

[2022-05-21 02:37] joey0612 opened #600 "SlotImport::StopForLinkError(int fd) call_back received signal 11"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Version

kvrocks 2.0
macos 11.3.1 (20E241)
Darwin 20.4.0

### Minimal reproduce step

1. write tool auto migrate data by slot
2. migrating data and check migrating status by cluster info command
3. the importing node run a while, then received signal

[2022-05-21 02:41] git-hulk commented on #600
@joeylichang Can you have a try at the latest version, it should be fixed at: https://github.com/apache/incubator-kvrocks/commit/f3a1fb54526b30734737d814eb39994c34421c6b

[2022-05-22 05:49] xiaobiaozhao opened #601 "[NEW] add lz4 lib"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Motivation

KVrocks not included lz4 lib for lz4 compresssion. Only snappy is not enough，lz4 is a  efficient algorithm.

https://user-images.githubusercontent.com/52393536/168716155-82a51edf-74df-48e5-b047-f4e05a192719.png

### Solution

1. Add lz4 li

[2022-05-22 11:42] git-hulk commented on #601
Cool, agreed.

the compression ration and performance are better than `snappy`
in many scenarios. Someone also requests this feature if my memory serves.

[2022-05-23 06:08] PragmaTwice opened #602 "Add clang tidy for static analysis"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Motivation

Clang tidy is a static analysis tool based on libclang, which itself is able to match problematic code patterns at the AST level.
Its power lies in the ability to directly call checkers in Clang StaticAnalyzer that perform basic symbolic e

[2022-05-23 12:31] git-hulk opened #603 "The slave would crash when restoring the db from checkpoint error"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Version

2.0.6

### Minimal reproduce step

1. slaveof `x.x.x.x`
2. remove some files to fail the restore db process

### What did you expect to see?

The slave should serve with the old database

### What did you see instead?

![image](https://user-i

[2022-05-24 02:53] #462 closed, assigned to nobody

[2022-05-25 08:09] git-hulk commented on #603
Sorry for forgetting to add more information. From the ip, we can see it crashed
at [src/server.cc:496](https://github.com/apache/incubator-kvrocks/blob/v2.0.6/src/server.cc#L496):

/__w/kvrocks/kvrocks/src/server.cc:496

cc @ShooterIT @tisonkun

[2022-05-25 08:10] #603 closed, assigned to nobody

[2022-05-25 08:34] luger1990 opened #607 "get an error when i write data to kvrocks--ERR Corruption: Corrupted compressed block contents: Snappy"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Version

2.0.6

### Minimal reproduce step

set ER6mKDKmhr 123

### What did you expect to see?

write data to kvrocks

### What did you see instead?

(error) ERR Corruption: Corrupted compressed block contents: Snappy

### Anything Else?

[code]

[co

[2022-05-25 10:04] git-hulk commented on #607
@luger1990 Thanks for your feedback. Did you install the snappy library on your machine?

[2022-05-25 12:25] luger1990 commented on #607
i think i have installed snappy library
[code]

At the beginning, it was writable. After writing dozens of M data, this error was prompted.

[2022-05-25 12:51] joey0612 commented on #600
yes, newest commit on unstable branch is right

[2022-05-25 12:51] #600 closed, assigned to nobody

[2022-05-27 07:23] PragmaTwice opened #609 "Memory leaks in Lua::redisGenericCommand"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Version

`redisGenericCommand` use `raiseError` to process errors, but `raiseError` will perform a longjmp in the `lua_error` api call, so `raiseError` never returns.

longjmp does not compatible with RAII in C++ (C++ exceptions may use longjmp in imp

[2022-05-27 08:41] git-hulk commented on #609
Cool, Thanks for Twice great investigation.

[2022-05-27 10:20] git-hulk commented on #607
@luger1990 can you add more information about how you install and run the Kvrocks? For the previous steps, I can't reproduce the condition, thanks.

[2022-05-27 10:49] git-hulk commented on #609
@PragmaTwice Really good catch, I wasn't aware the destructor would be ignored by longjump. Lua supported using `try..catch` to workaround the C++ condition: https://github.com/KvrocksLabs/lua/blob/3e2d94b3b98d774dcd4fb448b1cb64615ae0590d/src/luaconf.h#L606

[2022-05-27 12:43] PragmaTwice commented on #609
Yeah, I found two method to solve this problem:
1. build lua with a C++ compiler like `CC=g++`, then lua will use these `try..catch` stuff to implement `lua_error` or other functions, refer to "4.6 – Error Handling in C" in https://www.lua.org/manual/5.3/manual.html.
2. raise C++ exception manually, like in http://lua-users.org/wiki/ErrorHandlingBetweenLuaAndCplusplus or https://stackoverflow.com/

[2022-05-27 13:01] tisonkun commented on #609
@PragmaTwice it seems that the minimal solution is opinion 1 proposed above. If we'd like to raise C++ exception manually, both `pushError` and `raiseError` and their call points should be investigated and changed.

[2022-05-27 13:05] git-hulk commented on #609
Yes, it will be good to use solution 1, since we don't need to prevent using those functions(which contains `longjump`) every time.

[2022-05-27 13:40] PragmaTwice commented on #609
@tisonkun @git-hulk Agree with that. I'll try the first solution.

[2022-05-27 13:47] tisonkun commented on #609
@PragmaTwice Go ahead!

[2022-05-27 15:41] luger1990 commented on #607
i will test on other machines tomorrow. thanks

[2022-05-27 16:16] git-hulk commented on #607
@luger1990 cool, thanks.

[2022-05-28 15:26] git-hulk opened #612 "Change the unit of the rocksdb options"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Motivation

PR https://github.com/apache/incubator-kvrocks/pull/497 and https://github.com/apache/incubator-kvrocks/pull/503 allowed changing the rocksdb options `blob_file_size` and `max_bytes_for_level_base` in-flight. But from the literal, we would

[2022-05-29 11:07] #478 closed, assigned to git-hulk

[2022-05-29 14:11] luger1990 commented on #607
our new machines will be ready next day i will test when machines is ready

[2022-05-29 17:03] WyattJia commented on #612
And about max_bytes_for_level configuration's change, I opened another PR on #610 ,please review and thanks.

[2022-06-01 02:46] tisonkun commented on #609
With a closer look into this issue, I'm considering whether we can use a new version of Lua or LuaJIT to workaround this issue with C++ compiler. Hacking on a fork is possibly hard to maintain.

[2022-06-01 02:52] git-hulk commented on #609
@tisonkun Yes, many guys proposed this in Redis community, but didn't have any progress. The main issue is that will break the old Lua scripts, coz Lua 5.2+ have many breaking changes compared with 5.1. That's the reason why we still stuck in 5.1.

[2022-06-01 03:11] tisonkun commented on #609
@git-hulk @PragmaTwice Hmmm, I just notice that Redis uses a [Lua 5.1 fork](https://github.com/redis/redis/tree/unstable/deps/lua) also. Is it possible that we pull Lua code directly into this repo and port them into c++ code? As a kvrocks bundle Lua engine, it needs not to be able to build with C compiler. It may be an approach we working around the compiling issues at #614.

[2022-06-01 04:45] #609 closed, assigned to PragmaTwice

[2022-06-01 04:57] git-hulk commented on #609
@tisonkun Do you mean that we can pull the Lua codes from Redis repo and only patch some files we wanted? If yes, I'm didn't have experience by this way but I think it's a good way to keep consistency with Redis repo.

[2022-06-01 05:27] PragmaTwice commented on #609
Maybe we can discuss it in a new issue since this issue is closed? @tisonkun

[2022-06-01 14:12] luger1990 commented on #607
i install snappy to my machine, and it works.
[code]

[2022-06-01 14:12] #607 closed, assigned to nobody

[2022-06-01 14:31] tisonkun commented on #609
@PragmaTwice Yes. I only have an unclear idea yet so I'll create an issue if I get some time to prototype. If you're interested in this topic you can create an issue and go ahead :)

Since #614 is resolved this idea isn't a required work now.

[2022-06-01 15:40] PragmaTwice commented on #609
Thanks. Here are some of ideas from the conversation above and my comments:

#### Solution 1: "pull the Lua codes from Redis repo and only patch some files we wanted" mentioned by @git-hulk
If I understand correctly, this means that the redis code is fetched and patched during the build process.
I am familiar with applying patch in cmake after FetchContent, but my concern is that we may have to fe

[2022-06-01 15:56] git-hulk commented on #607
Thanks @luger1990, can use the CMake way, it will link the snappy as the static library so that we needn't to install snappy everywhere.

[2022-06-02 06:00] tisonkun commented on #609
@PragmaTwice thanks for your feedback. After some investigation I also agree that current status is good enough for running Kvrocks project. If we meet further concrete issue, we may review this approach then.

[2022-06-02 08:20] #590 closed, assigned to nobody

[2022-06-02 08:21] tisonkun commented on #575
Given that all subtasks done, @PragmaTwice do you think that we can close this issue as resolved?

[2022-06-02 11:56] PragmaTwice commented on #575
Yeah, althought there is some issue in #615, I temporarily have no more enhancement idea, so I think we can close it since all of these enhancements are done.

[2022-06-02 12:06] #575 closed, assigned to nobody

[2022-06-02 13:25] git-hulk opened #616 "Failed to run the unittest in the daily CI"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Version

a13465b5306a40ca04e37db02595bee0b36b0192

### Minimal reproduce step

Manually trigger the daily CI in GitHub Actions

### What did you expect to see?

Daily CI can run normally

### What did you see instead?

[Failed to run the unittest](htt

[2022-06-02 13:50] #616 closed, assigned to nobody

[2022-06-02 19:29] taylorchu commented on #485
while I try to integrate kvrocks with existing redis integration tests, I see this error. does kvrocks currently store the lua scripts?

[2022-06-03 00:13] git-hulk commented on #485
@taylorchu Yes, Kvrocks does store and propagate scripts now, what errors you occurred, can you paste the error or reproduce steps?

[2022-06-03 04:03] taylorchu commented on #485
it is a protocol-related issue from lua script from calling evalsha:

the application will first use evalsha to see if script is cached. if it is not cached, then retry with eval. however the library I used (go-redis) requires NOSCRIPT error string to be formatted in certain way.

redis: NOSCRIPT No matching script. Please use EVAL.
kvrocks: ERR NOSCRIPT No matching script. Please use EVAL

[2022-06-03 04:13] git-hulk commented on #485
Oooop, sorry to hear that. We should keep those messages consistent as possible as we can. You can help to submit a issue and PR is always welcomed.

[2022-06-04 07:23] git-hulk commented on #437
I finally reproduced this issue by wrongly linking the compression library,
Kvrocks will ignore the creating column families error and cause failed to
open DB since it didn't auto create the db dir. This will be fixed by #620.

[2022-06-05 07:33] PragmaTwice opened #621 "Enhancement: support Ninja as a CMake backend"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Motivation

CMake support Ninja (`-G Ninja`) as a build tools to generate, just like Makefiles, which provides more efficient build processing.
But there are some problem in current CMake configurations in kvrocks so we cannot use it.

I will investig

[2022-06-05 07:42] PragmaTwice opened #622 "Enhancement: Support GitHub mirrors in CMake build configurations"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Motivation

GitHub has some access issues in some countries (connection resets or slow speeds),
so we can support custom URL of dependencies in CMake configurations, such as `ghproxy.com`,
which will speed up build procedure, e.g. `./build.sh build -D

[2022-06-05 07:58] tisonkun commented on #622
Sounds reasonable :)

[2022-06-05 08:00] tisonkun commented on #621
Agree. ClickHouse using ninja as the default build system and it does speed up the process.

When you prepare a patch, it'll be valuable to provide a report on the improvement by changing build system. Otherwise we may not make such switch without a clear motivation.

[2022-06-05 08:05] PragmaTwice commented on #621
My idea is to make ninja an option for build, e.g. specify `--ninja` (`./build.sh build --ninja`) to use ninja, otherwise (the default behavior is) use make, and because CMake already supports Ninja so only a few fixes are needed, not too many changes.
I will make a benchmark between make and ninja for kvrocks to test whether ninja speed up the build.

[2022-06-06 10:43] tisonkun opened #623 "Improve website logo asset"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Motivation

![image](https://user-images.githubusercontent.com/18818196/172305964-987626d6-f547-4f12-af54-0a7d530e38d2.png)

Originally posted at https://github.com/apache/incubator-kvrocks-website/pull/5#issuecomment-1147160341.

cc @git-hulk

### So

[2022-06-06 11:03] #437 closed, assigned to nobody

[2022-06-06 11:04] git-hulk commented on #123
Fixed by #620

[2022-06-06 11:04] #123 closed

[2022-06-07 10:51] git-hulk commented on #623
Thanks @tisonkun, the original designer has helped to update the logo, will submit soon.

[2022-06-07 15:37] git-hulk commented on #623
@tisonkun can have a look at https://kvrocks.apache.org/, if looks good then we can close this issue.

[2022-06-07 23:02] tisonkun commented on #623
<img width="1792" alt="image" src="https://user-images.githubusercontent.com/18818196/172497252-ed83458c-af17-49f3-8501-3ef3534335a1.png">

It looks pretty better! Closed.

[2022-06-07 23:02] #623 closed, assigned to nobody

[2022-06-08 15:06] PragmaTwice opened #624 "Benchmark between make and ninja build for kvrocks"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Motivation

In #621, @tisonkun came up with a great idea: benchmark ninja build and make build of kvrocks.
I did this test after making some fixes to make cmake configuration of kvrocks support ninja.
A PR for that will follow.

### Preparation
[code]

[2022-06-08 15:10] tisonkun commented on #624
@PragmaTwice I guess this can be a reply on #621 or since this issue has been created, we can move it to Discussions?

It doesn't seem like an issue to resolve but a general topic about benchmark.

[2022-06-08 15:14] PragmaTwice commented on #624
Oh yeah, I also think moving to Discussions is better.

[2022-06-08 15:18] #624 closed, assigned to nobody

[2022-06-09 11:10] caipengbo opened #627 "RocksDB can't auto resume after disk quota exceeded error"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Version

Kvrocks: 2.0.6

### Minimal reproduce step

1. limit the disk of kvrocks data-dir
2. create some big files when rocksdb compaction, make these files fill up the disk
3. if you keep writing to kvrocks, you'll find that you can't write to it
4.

[2022-06-10 07:09] #621 closed, assigned to nobody

[2022-06-10 07:46] #627 closed, assigned to nobody

[2022-06-11 14:58] #612 closed, assigned to nobody

[2022-06-11 16:10] git-hulk commented on #424
Resolved by #555, sorry for forgetting to mention and close this issue in the PR.

[2022-06-11 16:10] #424 closed, assigned to caipengbo

[2022-06-11 16:12] git-hulk commented on #405
I think we can close this issue since we have already done them.

[2022-06-12 03:24] tisonkun commented on #405
Closed via #599.

[2022-06-12 03:24] #405 closed, assigned to git-hulk

[2022-06-16 11:12] git-hulk opened #633 "Wrongly parsed the RESP empty/null array"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Version

b1eb17f0228b40244694b308639a8876c90444ba

### Minimal reproduce step

According to https://redis.io/docs/reference/protocol-spec/#resp-arrays,
empty/null array is allowed in RESP but Kvrocks got the protocol error.

[code]

### What did you e

[2022-06-17 08:47] gogim1 opened #637 "Enhancement: More user-friendly error message"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Motivation

I get two kinds of error messages when I exec kvrock2redis like this:
* if the `data-dir` in config file is an unexist path,  it shows `Failed to load config, err: NotFound: `
* if the config file is not found,  it shows `Failed to load co

[2022-06-17 10:10] willshS commented on #633
I would like to fix this issue.

[2022-06-17 10:14] git-hulk commented on #633
OK, thanks @willshS

[2022-06-17 10:20] git-hulk commented on #637
This improvement makes sense to me

[2022-06-17 10:23] tisonkun commented on #633
@willshS thanks for picking this issue. Go ahead!

[2022-06-19 05:45] PragmaTwice opened #639 "BUG: Data race reported by TSan in kvrocks"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Version

unstable, linux

### Minimal reproduce step

[code]

### What did you expect to see?

No TSan report.

### What did you see instead?

Selected TSan log in unittest:
[code]

For more details check https://github.com/apache/incubator-kvrocks/ru

[2022-06-20 06:42] fishery86 opened #640 "namespace is case-sensitive but namespace configed in file is not and namespace command does"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Version

1.3.3

### Minimal reproduce step

add namespace with command

ok

then
restart the instance ,get namespace info

1) big_case_namespace
2) anypass

### What did you expect to see?

when restart we should get a namespace named "Big_case_namesp

[2022-06-20 13:08] #640 closed, assigned to nobody

[2022-06-22 12:58] git-hulk opened #647 "Track failed frequently integration test cases"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Motivation

As mentioned in https://github.com/apache/incubator-kvrocks/pull/646#issuecomment-1162660044, some integration test cases failed frequently
which may frustrate and confuse contributors, so I think we can find out
and disable them from old

[2022-06-22 13:03] tisonkun commented on #647
You may give a report (sheet) for flaky tests, sorting out by categorizes. For example, tcl tests or unit tests.

It should be helpful for anyone who tries to contribute to stabilize tests.

[2022-06-22 13:17] git-hulk commented on #647
Good point, all cases are from tcl tests. I will find them all recently and group them together.

[2022-06-23 11:19] #601 closed, assigned to nobody

[2022-06-24 06:21] git-hulk commented on #647
@tisonkun I found most failures were caused by four tcl test cases，should we create issue for each one to track them?
<img width="736" alt="image" src="https://user-images.githubusercontent.com/4987594/175474994-58b7cb7a-d89c-48f3-bae8-72e024e14ba8.png">

[2022-06-24 07:20] tisonkun commented on #647
@git-hulk yes. We can create subtasks for them. Basically we create issue if someone volunteer to investigate (otherwise we create dangling issues), and it happens I'll give a look at these cases :)

[2022-06-24 07:32] git-hulk commented on #647
OK, will create issues later.

[2022-06-24 07:40] tisonkun opened #655 "Executing test client: LOADING kvrocks is restoring the db from backup"
Report: https://github.com/apache/incubator-kvrocks/runs/7026847364?check_suite_focus=true#step:10:713

[2022-06-24 07:40] tisonkun opened #656 "Executing test client: couldn't open socket: connection refused"
Report: https://github.com/apache/incubator-kvrocks/runs/6981007645?check_suite_focus=true#step:10:703

[2022-06-24 07:40] tisonkun opened #657 "Migrate incremental data via parsing and filtering data"
Report https://github.com/apache/incubator-kvrocks/runs/7034653085?check_suite_focus=true#step:10:687

[2022-06-24 07:40] tisonkun opened #658 "get rocksdb ops by COMMAND INFO in tests/unit/command.tcl [expr abs($cmd_qps - $put_qps)] < 10"
Report: https://github.com/apache/incubator-kvrocks/runs/6453256361?check_suite_focus=true#step:7:2018

[2022-06-24 07:40] tisonkun commented on #647
@git-hulk I've created them.

[2022-06-24 07:41] git-hulk commented on #647
Many thanks!

[2022-06-24 07:48] caipengbo commented on #658
Let me track this problem.

[2022-06-24 10:43] git-hulk commented on #655
I will follow up this issue, it should be caused by forbidding to get role when restoring
the data.

[2022-06-24 10:52] #633 closed, assigned to willshS

[2022-06-24 11:38] git-hulk commented on #657
This test case spent almost 30s on my local machine and it should be even slower in CI environment. So we can increase the wait time from 50s => 100s if has no idea. Do guys
have any thoughts about this case? @ChrisZMF @ShooterIT @caipengbo

[2022-06-24 15:12] PragmaTwice opened #662 "Consider only output to LOG instead of hardcoded stdout/stderr"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Motivation

Refer to https://github.com/apache/incubator-kvrocks/pull/660#issuecomment-1165637383.

It is good to keep kvrocks with only one output location.
But currently, kvrocks also outputs some information to stdout when logdir is set to a regula

[2022-06-24 15:28] PragmaTwice opened #663 "Use `unique_ptr` to eliminate some trivial manual deallocation"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Motivation

There are many manual memory (or other system resources like file) allocation and deallocation such as `new`/`delete` in kvrocks.

Memory management is a complex topic (after RC/tracing GC is involved quickly) and there are some smart poin

[2022-06-24 15:51] jackwener commented on #663
I'd like to do it.

[2022-06-24 15:58] PragmaTwice commented on #663
Thanks, feel free to submit a PR.

Since this issue may be divided into many PRs, everyone can directly submit a PR for a specific part (no need to reply this issue), so I think it would be better not to assign this issue to a specific person.

[2022-06-25 02:22] tisonkun opened #664 "Cancel previous CI workflow if new commit pushed"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Motivation

So that we don't waste time to verify a previous commit - what we're interested in is the latest view.

### Solution

Add the following snippet to `kvrocks.yaml`:

[code]

See also https://github.com/apache/pulsar/blob/b23689930e3af65cfc91

[2022-06-25 02:24] tisonkun commented on #664
For more information about GitHub Actions settings, see also https://docs.github.com/en/actions/using-jobs/using-concurrency#example-only-cancel-in-progress-jobs-or-runs-for-the-current-workflow

[2022-06-25 02:27] Xuanwo commented on #664
Let me take this issue.

Ideally, this will be my first contribution to Apache project.

[2022-06-25 02:29] tisonkun commented on #664
@Xuanwo Thanks!

I'll assign to you. Go ahead!

[2022-06-25 02:39] git-hulk commented on #664
I love this feature!

[2022-06-25 02:41] #655 closed, assigned to git-hulk

[2022-06-25 02:59] PragmaTwice opened #665 "Add a label to trigger daily CI in PR"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Motivation

We could add a label like `need-daily-CI`, and when the label is applied to a PR, all jobs of daily CI will join in the checking sequence of this PR.

### Solution

_No response_

### Are you willing to submit a PR?

- [ ] I'm willing to s

[2022-06-25 04:59] #656 closed, assigned to tisonkun

[2022-06-25 05:20] tisonkun commented on #657
It's a valid workaround. However, it's better to make the waiting determinately - is it possible?

[2022-06-25 05:35] git-hulk commented on #657
Yes, can check the migrate finished status which we're doing at line: [slotmigrate.tcl#L513](https://github.com/apache/incubator-kvrocks/blob/e2640f8e4297311dae1dabec76b203ded31b4aaf/tests/tcl/tests/integration/slotmigrate.tcl#L513), we can remove the time limit.

[2022-06-25 05:52] git-hulk commented on #658
@caipengbo I took a look at this test case and those metrics would be affected by other test cases, maybe we should change the test case to avoid that.

[2022-06-25 05:59] caipengbo commented on #658
Yeah, it should be the effect of previous OPS, how about wait a little longer to let QPS empty? @git-hulk

[2022-06-25 06:04] git-hulk commented on #658
Another workaround can be also fetching those metrics before running `lpush` and `lrange` command, then fetch and compare the diff value. So that we can make sure the metrics would affected by current test case only. How do you think? @caipengbo

[2022-06-25 06:09] #664 closed, assigned to Xuanwo

[2022-06-25 06:17] caipengbo commented on #658
That sounds good!

[2022-06-25 06:21] git-hulk commented on #657
@tisonkun removed the time limit, can help to take a look again.

[2022-06-25 06:25] caipengbo commented on #657
Is there any way we can reduce the waiting time?  I think this test case is taking too long.

[2022-06-25 06:40] git-hulk commented on #657
Maybe we can test whether increase the pipeline size can help or not

[2022-06-25 07:07] caipengbo commented on #658
I looked again, and it didn't seem to be the influence of the previous OPS;  I took a look at this failed case：https://github.com/apache/incubator-kvrocks/runs/6453256361?check_suite_focus=true#step:7:2018, it show only 432 OPS. But theoretically, OPS should be 1000, the gap is too large.

My guess is that tcl `after` statement is too short to be accurate in CI environments, HDYT @git-hulk

[2022-06-25 07:42] #657 closed, assigned to nobody

[2022-06-25 07:55] git-hulk commented on #658
It's expected since we used time based metrics instead of counter: https://github.com/apache/incubator-kvrocks/blob/0b2de8ab6f661d90a279a0c11096755d7733b11c/src/stats.cc#L108

So ops can be affected by the elapsed time, I think it's too long instead of too short?

[2022-06-25 09:25] tisonkun commented on #665
cc @Xuanwo IIRC you have the knowledge to implement this requirement. Would you like to take over this issue or help on sharing knowledge need to implement this feature?

[2022-06-26 12:50] #658 closed, assigned to caipengbo

[2022-06-26 13:19] tisonkun opened #676 "Executing test client: I/O error reading reply."
Report: https://github.com/apache/incubator-kvrocks/runs/7060886256?check_suite_focus=true

[2022-06-26 13:19] tisonkun commented on #647
@git-hulk all previous subtasks resolved. However, there is a new failure #676 detected :/

[2022-06-26 13:46] PragmaTwice commented on #676
and https://github.com/apache/incubator-kvrocks/runs/7052214974?check_suite_focus=true

[2022-06-26 14:32] git-hulk commented on #647
Got it, thanks @tisonkun. I will follow up and try to figure out the root cause.

[2022-06-26 14:36] tisonkun commented on #676
cc @ShooterIT since you ported these tests into Kvrocks, would you like to investigate the root cause of this error? It seems far more general to debug without more backgorund.

[2022-06-26 14:59] PragmaTwice opened #677 "Exclude unstable branch while canceling previous workflows"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Motivation

![image](https://user-images.githubusercontent.com/20042607/175820242-e318efaa-3b18-4cfa-a235-ec3caba21e10.png)

As shown in the figure above, the retrying workflow was canceled due to a new commit.
We may retry the kvrocks ci action of so

[2022-06-26 15:56] tisonkun commented on #677
I don't think this is a big deal. Always we focus on the latest version and it's fine if only the nightly version passes CI.

If you want to debugging an unstable test, you may open a branch on fork or send a draft pull request.

[2022-06-26 16:09] PragmaTwice commented on #677
In fact, there is another situation.

For example, if two commits are merged into the unstable branch within a short time interval, the workflow of the previous commit will be canceled, and the actions status of the previous commit will display a ❌.

This can lead users to think that our unstable branch will often fail, which may not be what we expected, and this situation may be more serious than

[2022-06-26 16:34] tisonkun commented on #677
@PragmaTwice since we require every PR should be up-to-date before merge, actually we can skip running CI in `unstable` branch.

See also [Apache Pulsar's CI settings](https://github.com/apache/pulsar/blob/6c715e08c67c40221c8c08cbe0b31d3a6aa1bf32/.github/workflows/pulsar-ci.yaml):

[code]

[2022-06-26 16:45] PragmaTwice commented on #677
Good idea, actually I think maybe we can use another workflow on unstable branch to build and test kvrocks with more environment and build options than the current workflow trigger by PRs.

[2022-06-26 23:33] tisonkun commented on #677
@PragmaTwice it sounds like something similar to "MergeCI" in TiDB project. However, I'd prefer running tests as early as possible instead of running less tests and fix bugs later.

[2022-06-28 07:24] PragmaTwice commented on #655
There is another fail with same exception: https://github.com/apache/incubator-kvrocks/runs/7085774273?check_suite_focus=true
But I feel that the root cause of this error and the above error may be different, because the execution path seems to be different.

[2022-06-28 07:33] git-hulk commented on #655
Looks caused by this line: [replication.tcl#L196](https://github.com/apache/incubator-kvrocks/blob/unstable/tests/tcl/tests/integration/replication.tcl#L196), need to wait for restoring. Will fix it later.

[2022-06-28 07:38] ShooterIT commented on #676
copy that, i will have a look.

[2022-06-28 13:11] ShooterIT commented on #676
This may be resolved by #688

I don't find its clue🙃

[2022-06-28 14:08] PragmaTwice commented on #676
another example: https://github.com/apache/incubator-kvrocks/runs/7093289052?check_suite_focus=true

[2022-06-28 15:35] #622 closed, assigned to PragmaTwice

[2022-06-28 17:40] PragmaTwice commented on #647
[code]
in https://github.com/apache/incubator-kvrocks/runs/7096118532?check_suite_focus=true

[2022-06-29 07:15] tisonkun opened #691 "Review build docker image CI task which takes more than 2 hours to finish"
@git-hulk @ShooterIT @PragmaTwice Perhaps we can move build and test tasks from daily CI to per PR CI. They take less than half hour to finish. While building docker image takes more than 2 hours to finish and I'm curious why.

_Originally posted by @tisonkun in https://github.com/apache/incubator-kvrocks/issues/689#issuecomment-1169606788_

[2022-06-29 07:16] tisonkun commented on #691
Maybe it is due to that we use QEMU to simulate an arm64 environment, and I think that is slow.

_Originally posted by @PragmaTwice in https://github.com/apache/incubator-kvrocks/issues/689#issuecomment-1169609906_

@PragmaTwice thanks for your input. Another approach is still run more Build and Test tasks every day but separate docker job into another workflow.

_Originally posted by @tisonkun in

[2022-06-29 07:21] git-hulk commented on #691
The QEMU was introduce in PR: https://github.com/apache/incubator-kvrocks/pull/550, maybe we can move other jobs to per CI from daily CI except the QEMU docker image.

[2022-06-29 11:14] tisonkun commented on #665
Actually since we already trigger daily CI if workflow file changed, I'm thinking of whether we can implement this as simple as adding a comment line in the workflow file and change that line to trigger it in PR.

[code]

cc @GoGim1

[2022-06-29 11:26] PragmaTwice commented on #665
I think it is more like a workaround rather than a solution 🤣

[2022-06-29 11:29] tisonkun commented on #665
Fair enough. It's possible to implement this feature with label changed.

[2022-06-29 12:58] PragmaTwice commented on #691
I will open a seperate issue for this : )

[2022-06-29 13:00] PragmaTwice opened #696 "Automatically publish the nightly version of kvrocks to docker hub in daily CI"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Motivation

Refer to #689 and #691, since we build the nightly version of the docker image we can automatically publish it to some registries like the docker hub, e.g. some tags like `nightly`, `nightly-20220629`.

### Solution

_No response_

### Are

[2022-06-29 13:04] tisonkun commented on #696
This may not be as trivial as it looks like, since we must decide whether this is an official docker image endorsed by the Kvrocks PMC. If so, then it's an Apache release that we should vote before release.

However, since it's nightly image only, I'd share you some other Apache projects practice that we can publish images automatically.

* https://issues.apache.org/jira/browse/FLINK-26214
* https

[2022-06-29 13:07] PragmaTwice commented on #696
So thanks, seems there are lots of similiar works.

[2022-06-29 13:08] PragmaTwice commented on #691
For the arm related issue, I wonder whether we can find a (native) arm64 enviroment on other CI platforms like Circle CI, which maybe more fast than the QEMU way. Any comments? @git-hulk @tisonkun

[2022-06-29 13:12] git-hulk commented on #691
This sounds good to me, it's really frustrated to debug the daily CI now.

[2022-06-29 13:14] tisonkun commented on #691
@PragmaTwice That's possible. You may start a discussion on dev@ and we'll ask ASF INFRA team to enable related integration.

[2022-06-29 13:52] PragmaTwice commented on #691
Thanks, I will start a discussion later.

[2022-06-29 14:16] tisonkun commented on #691
@PragmaTwice @git-hulk I write a patch to separate daily CI and run daily CI iff `needs-daily-ci` labeled. You may give it a look https://github.com/apache/incubator-kvrocks/pull/695.

For ARM64 issue, I'm actually wonder whether we should build an image on ARM64.

[2022-06-30 01:38] #665 closed, assigned to nobody

[2022-06-30 01:38] #691 closed, assigned to nobody

[2022-06-30 07:16] PragmaTwice opened #699 "BUG: Use after free in CommandBPop reported by ASan"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Version

unstable

### Minimal reproduce step

[code]
This bug is not 100% reproducible and may require multiple test executions before it appears.

### What did you expect to see?

No ASan report.

### What did you see instead?

[code]

### Anything

[2022-06-30 07:23] PragmaTwice commented on #699
I think I found the root cause:

The the current `CommandBPop` object is deallocated while `CommandBPop::WriteCB` is called by bufferevent.

[2022-06-30 07:31] PragmaTwice commented on #699
I think we may need to change some logic: we may not be able to use a pattern like `unique_ptr<Commander> Connection::current_cmd_`, because that makes the current command get destructured when the next command is read in.

There may be commands, such as `CommandBPop`, that need to have a longer lifetime and not be destructured immediately before the next command is executed.

[2022-06-30 07:58] git-hulk commented on #699
Yes, maybe we can use shared_ptr to workaround this issue.

[2022-07-01 02:25] git-hulk opened #702 "Memory leak reports in tcl test cases"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Version

unstable

### Minimal reproduce step

[code]

### What did you expect to see?

No memory leak reported

### What did you see instead?

https://github.com/apache/incubator-kvrocks/runs/7133747333?check_suite_focus=true

[code]

### Anything El

[2022-07-01 02:33] tisonkun commented on #702
@git-hulk is it an issue on unstable branch or #697 only? We shouldn't create issue for further problem. It seems we may fix this issue at KvrocksLabs/luajit aspect?

In another word, I don't see what we can do before #697 merged and on unstable branch.

[2022-07-01 02:44] git-hulk commented on #702
My bad. I think the Lua library is using `cjson`, so it should have the same problem as well. Will close this issue since it looks introduced by #697 and have an eye on this case.

[2022-07-01 02:44] #702 closed, assigned to nobody

[2022-07-02 14:25] git-hulk commented on #639
I think maybe it's a false leak report. Coz the main thread will write the memtable
and convert the memtable to immutable state after it reached the max limit, then RocksDB background will read the memtable and flush them into disk. So it should be expected behavior that have the data race between main thread and background thread, but will not cause problem.

HDYT? @ShooterIT @PragmaTwice @tisonk

[2022-07-03 03:57] PragmaTwice commented on #639
Seems the writing in kvrocks main thread and the reading in rocksdb background thread occurs at the same time and in the same memory location? Won't this be a problem?

[2022-07-03 05:24] git-hulk commented on #639
Yes, background thread will read the immutable memory table only which the main thread won't write after it become immutable.

[2022-07-03 07:53] mapleFU opened #706 "Enhancement: Too much `Slice::ToString()` when encoding the key"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Motivation

When encoding the user's key to kvrocks' internal key, there are too much `rocksdb::Slice::ToString` called, for example:

[code]

If the key is short, it just copy the slice on the stack. If the key is long, a on-heap string is allocated

[2022-07-03 08:01] PragmaTwice commented on #706
Great catch. Feel free to submite patches!

[2022-07-03 08:16] mapleFU commented on #639
RocksDB will only have one "writeable" memtable, on default, it will be a lock-free skiplist. And when it's full, it will be "frozen" and only readable. Frozen memtable will only be read by user or compaction, it will never be modified.

I think the case strange, the memory is created by `ConstructNewMemtable`, modified by `rocksdb::MemTable::Add`, and detect a race when `CompactionFilter` is call

[2022-07-03 08:57] PragmaTwice commented on #639
I may know the root cause of this problem, it may be a false positive due to the rocksdb library not being instrumented by TSan.

Did not notice this when I refactor cmake files. I will fix it later. 😢

[2022-07-03 09:13] mapleFU commented on #706
https://github.com/apache/incubator-kvrocks/pull/707 @PragmaTwice
This pr solve part of this problem. There are still some callings in `GetSlotNumFromKey`. Maybe cast `Slice` to `std::string_view`, and using it's `find` and `subslice` can solve this. But `string_view` is introduced in C++17. Other solvings may include some string libraries. So I left them there.

[2022-07-03 09:28] mapleFU opened #708 "Enhancement: trying to reduce calling to `GetCurrentTime()` when not neccessary"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Motivation

`Metadata::TTL()` and `Metadata::Expired()` will call `rocksdb::Env::Default()->GetCurrentTime(&now)` every time we called it. rocksdb's `GetCurrentTime` will ask time on OS, and mostly it will be a vdso call and may take about 10ns to get

[2022-07-03 09:35] git-hulk commented on #708
@mapleFU `expire` should be never less than 0, so it's good to reduce the `GetCurrentTime` function call when expire is zero.

[2022-07-03 13:02] git-hulk commented on #706
Resolved by #707

[2022-07-03 14:01] tisonkun commented on #706
@git-hulk IIUC #707 only resolves part of this issue?

[2022-07-03 14:07] git-hulk commented on #706
I thought @mapleFU won't push forward to solve other parts since it needs to introduce new string library or C++17. Correct me or feel free to reopen this issue if I was missing something.

[2022-07-03 16:26] mapleFU commented on #706
Which the help of `string_view` the code can be simplified:

[code]

`GetTagFromKey` will cause the `key` call a `ToString()`, then `GetSlotNumFromKey` will generate a `std::string`, just to compute the crc of the slice.

Also, I notice there is a `Metadata::Decode`, which will cast the slice to `std::string` for argument `const std::string& ..`. In kvrocks, the metadata will be short, usally abou

[2022-07-04 01:54] git-hulk commented on #706
In my personal opinion, it's a bit heavy to introduce boost or C++17(require newer version compiler) to improve this situation. We can also reopen this issue if want to discuss further.

[2022-07-04 11:13] git-hulk opened #713 "BUG: Use after free in `CommandFetchFile` reported by ASan"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Version

unstable

### Minimal reproduce step

[code]

### What did you expect to see?

No ASAN reports

### What did you see instead?

For more detail can see: https://github.com/apache/incubator-kvrocks/runs/7174515538?check_suite_focus=true

[code]

[2022-07-04 13:11] AvivPl opened #715 "Synchronization of slowlog and perflog"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Motivation

As discussed on the KVRocks slack channel,
It would be beneficial for performance debugging to force the two tools (`slowlog` and `perflog`) to sample the same commands and synchronize them on both perflog's and slowlog's lists.

### Solut

[2022-07-05 05:21] PragmaTwice commented on #706
I think it is a long term target to update the standard version. GCC 4.8 is just too old and has no more support and backport from the gnu team.

I know that in some old distros (like debian stable or centos which has a default package repo with all antique version software) it is not a super simple job to get more up-to-date compiler, but I think it is not the reason to stuck the standard version

[2022-07-05 07:53] crypt0miester commented on #305
any updates on this? I am working on a project that would make this a deal breaker.

basically RedisSearch is needed to index a high volume dataset.

[2022-07-05 08:34] PragmaTwice commented on #708
Solved in #709.

[2022-07-05 08:34] #708 closed, assigned to nobody

[2022-07-05 13:34] git-hulk commented on #715
Thanks @AvivPl for filling this. I think it's a good idea to synchronize perflog and showlog.

[2022-07-05 13:38] git-hulk opened #717 "Remove deprecated configuration `auto-resize-block-and-sst`"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Motivation

`auto-resize-block-and-sst` was used to auto-resize block and sst size in flight,
but we deprecated it after using the rocksdb partition index, so we should remove it
from the config file.

### Solution

remove deprecated `auto-resize-bloc

[2022-07-05 15:16] tisonkun opened #718 "Build docker image with Travis CI"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-kvrocks/issues) and found no similar issues.

### Motivation

#550 introduces a CI task to build docker image, especially including build on ARM64 which is simulated via QEMU. This task generally takes more than 2 hours to complete and we currently have to run it daily in a dedicate job.

GitHub Acti

[2022-07-05 15:34] tisonkun commented on #718
Perhaps useful references:

* https://docs.travis-ci.com/user/docker/
* https://docs.travis-ci.com/user/installing-dependencies/
* https://docs.travis-ci.com/user/languages/cpp/

[2022-07-05 17:05] PragmaTwice commented on #718
https://docs.travis-ci.com/user/cron-jobs/

Seems cron jobs in Travis CI can only be set on web UI rather than `.travis.yml`, which maybe more hard since we have no permission to access Travis web UI of the Apache org.

[2022-07-06 00:48] tisonkun commented on #718
@PragmaTwice currently, we run docker build daily due to it's slow. If using travis we can finish the task within an hour, we can run the task per PR. For cron settings, you can comment at the JIRA ticket, asking the best practice from INFRA team.